Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:csslint, test:prettier, test:eslint

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  test:php72-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php73-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php74-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: **/*.php, composer.json, composer.lock, .php_cs.dist, .gitlab-ci.yml
  test:phpstan: any of: **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
  test:csslint: any of: ACP3/**/*.{css,less,scss}, design/**/*.{css,less,scss}, installation/**/*.{css,less,scss}, package.json, package-lock.json, .stylelintignore, .stylelintrc, .gitlab-ci.yml
  test:prettier: any of: ACP3/**/*.{css,js,less,scss}, design/**/*.{css,js,less,scss}, installation/**/*.{css,js,less,scss}, package.json, package-lock.json, .prettierignore, .prettierrc.json, .gitlab-ci.yml
  test:eslint: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml

remove travis
  .travis.yml
Due: none

exclude the gulp files from the code quality scan
  .codeclimate.yml
Due: none

extract some classes into separate files
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/form-validator.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/loading-layer.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/utils.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  designs/acp3-installer/Assets/css/layout.min.css
Due: build:npm, test:csslint, test:prettier, test:eslint

disable the similar-code checks
  .codeclimate.yml
Due: none

fix the source maps
  ACP3/Modules/ACP3/Captcha/Resources/Assets/js/partials/recaptcha.admin-settings.min.js.map
  ACP3/Modules/ACP3/Captcha/Resources/Assets/js/partials/recaptcha.onload.min.js.map
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js.map
  ACP3/Modules/ACP3/Files/Resources/Assets/js/admin/index.create.min.js.map
  ACP3/Modules/ACP3/Gallerycomments/Resources/Assets/js/partials/index.settings.min.js.map
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/admin/index.settings.min.js.map
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.create_modal.min.js.map
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js.map
  ACP3/Modules/ACP3/Installer/Resources/Assets/js/partials/available_databases.min.js.map
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/admin/items.create.min.js.map
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/partials/manage-menu-item.min.js.map
  ACP3/Modules/ACP3/News/Resources/Assets/js/admin/index.settings.min.js.map
  ACP3/Modules/ACP3/Permissions/Resources/Assets/js/admin/resources.index.min.js.map
  ACP3/Modules/ACP3/Search/Resources/Assets/js/frontend/index.index.min.js.map
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/admin/index.settings.min.js.map
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/js/admin/index.settings.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/share_fields.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/admin/index.settings.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/add_tab.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datagrid.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/form.publication.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/hash-change.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mark.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/wysiwyg.min.js.map
  ACP3/Modules/ACP3/Wysiwygckeditor/Resources/Assets/js/partials/ckeditor.min.js.map
  ACP3/Modules/ACP3/Wysiwygtinymce/Resources/Assets/js/partials/tinymce.min.js.map
  build/gulp/babel.js
  designs/acp3-installer/Assets/js/language-switcher.min.js.map
Due: build:npm, test:prettier, test:eslint

remove jQuery from the emoticons module
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/libs/insert-emoticon.js
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.js
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js.map
Due: build:npm, test:prettier, test:eslint

fix showing the loading layer
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/loading-layer.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
Due: build:npm, test:prettier, test:eslint

optimize the services definitions of the smarty plugins
  ACP3/Core/Resources/config/components/smarty_filters.yml
  ACP3/Core/Resources/config/components/smarty_functions.yml
  ACP3/Core/Resources/config/components/smarty_modifiers.yml
  ACP3/Core/Resources/config/components/smarty_resources.yml
Due: none

apply stricter type hints to the PageCssClasses smarty filter
  ACP3/Core/src/View/Renderer/Smarty/Filters/PageCssClasses.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

introduce and use flatpickr as a replacement for the bootstrap datetimepicker
  ACP3/Core/src/Helpers/Date.php
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/css/flatpickr.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/flatpickr.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js.map
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.range.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.single.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.tpl
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  build/gulp/copy.js
  package-lock.json
  package.json
  uploads/emoticons/23.gif
  uploads/emoticons/24.gif
  uploads/emoticons/25.gif
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:csslint, test:prettier, test:eslint

remove moment and the bootstrap datetimepicker, as they aren't needed anymore
  ACP3/Modules/ACP3/System/Resources/Assets/css/bootstrap-datetimepicker.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/bootstrap-datetimepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/moment.min.js
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  build/gulp/bump-version.js
  build/gulp/copy.js
  package-lock.json
  package.json
Due: build:npm, test:csslint, test:prettier, test:eslint

add a clarifying comment
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js.map
Due: build:npm, test:prettier, test:eslint

allow to change dates with the keyboard again
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js.map
Due: build:npm, test:prettier, test:eslint

remove some deprecated stuff that isn't being used anymore
  ACP3/Core/Resources/config/components/context.yml
  ACP3/Core/src/Application/ControllerActionDispatcher.php
  ACP3/Core/src/Controller/AbstractFrontendAction.php
  ACP3/Core/src/Controller/AbstractWidgetAction.php
  ACP3/Core/src/Controller/Context/FrontendContext.php
  ACP3/Core/src/Controller/Context/WidgetContext.php
  ACP3/Core/src/Controller/DisplayActionTrait.php
  ACP3/Core/src/Controller/Event/CustomTemplateVariableEvent.php
  ACP3/Core/tests/Controller/DisplayActionTraitImpl.php
  ACP3/Core/tests/Controller/DisplayActionTraitTest.php
  ACP3/Modules/ACP3/Installer/Resources/config/components/models.yml
  ACP3/Modules/ACP3/Installer/Resources/config/services.yml
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/AbstractAction.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/AbstractInstallerAction.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/Context/InstallerContext.php
  ACP3/Modules/ACP3/Installer/src/Helpers/Navigation.php
  ACP3/Modules/ACP3/Installer/src/Helpers/Navigation/NavigationStep.php
  designs/acp3-installer/layout.tpl
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

apply some minor optimizations to some service definitions
  ACP3/Modules/ACP3/Menus/Resources/config/components/controllers.yml
  ACP3/Modules/ACP3/Menus/Resources/config/components/helpers.yml
Due: none

fix highlighting single table rows
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/mark.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mark.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mark.min.js.map
Due: build:npm, test:prettier, test:eslint

fix the comments data grid
  ACP3/Modules/ACP3/Comments/src/ViewProviders/DataGridViewProvider.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

use the InvokableActionInterface within the comments module some more
  ACP3/Modules/ACP3/Comments/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Comments/src/Controller/Admin/Index/Index.php
  ACP3/Modules/ACP3/Comments/src/Controller/Admin/Index/Settings.php
  ACP3/Modules/ACP3/Comments/src/Controller/Admin/Index/SettingsPost.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

cleanup the DataGrid class
  ACP3/Core/src/DataGrid/DataGrid.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

extend the data grids with a mass action bar
  ACP3/Core/src/DataGrid/DataGrid.php
  ACP3/Core/tests/DataGrid/DataGridTest.php
  ACP3/Modules/ACP3/Articles/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Categories/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Comments/Resources/View/Admin/details.index.tpl
  ACP3/Modules/ACP3/Comments/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Contact/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Emoticons/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Admin/pictures.index.tpl
  ACP3/Modules/ACP3/Guestbook/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Menus/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/News/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Newsletter/Resources/View/Admin/accounts.index.tpl
  ACP3/Modules/ACP3/Newsletter/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Permissions/Resources/Assets/js/admin/resources.index.js
  ACP3/Modules/ACP3/Permissions/Resources/Assets/js/admin/resources.index.min.js
  ACP3/Modules/ACP3/Permissions/Resources/Assets/js/admin/resources.index.min.js.map
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/resources.index.tpl
  ACP3/Modules/ACP3/Polls/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Seo/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Share/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/mass-action.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mark.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mark.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mark.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js.map
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid-mass-action-bar.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/mark.tpl
  ACP3/Modules/ACP3/Users/Resources/View/Admin/index.index.tpl
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:prettier, test:eslint

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm, test:csslint, test:prettier, test:eslint

update the Composer dependencies
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix the code style
  ACP3/Core/tests/DataGrid/DataGridTest.php
  ACP3/Modules/ACP3/Articlessearch/src/Repository/SearchResultsAwareRepository.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

filter out all the ACP3 components with a residing within the composer vendor folder when running the gulp tasks
  build/gulp/component-paths.js
Due: none

re-enable the SAST
  .gitlab-ci.yml
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:csslint, test:prettier, test:eslint

disable the SAST again as the nodejs-sast-scan job doesn't seem to end...
  .gitlab-ci.yml
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:csslint, test:prettier, test:eslint

fix performing GET requests with the ajax-form library
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
Due: build:npm, test:prettier, test:eslint

optimize the static asset processing to reduce duplicated files
  ACP3/Core/src/Assets/Renderer/Strategies/AbstractConcatRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatDeferrableCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatJavaScriptRendererStrategy.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix a typo within a comment
  build/gulp/babel.js
Due: none

refactor the .gitlab-ci.yml and extract parts of it into separate files
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
  .gitlab/ci/triggers.gitlab-ci.yml
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:csslint, test:prettier, test:eslint

extend the release asset with some more files
  .gitlab/ci/release.gitlab-ci.yml
Due: none

extract the subtree split into its own pipeline stage
  .gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/sync.gitlab-ci.yml
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:csslint, test:prettier, test:eslint

remove some unused files
  build/travis/before_script.sh
  build/travis/update_version_check.sh
Due: none

hide the progress when running "npm ci"
  .gitlab/ci/build.gitlab-ci.yml
Due: none

rework the CI pipeline
  .gitlab-ci.yml
  .gitlab/ci/package.gitlab-ci.yml
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
  .gitlab/ci/trigger.gitlab-ci.yml
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan, test:csslint, test:prettier, test:eslint

test the gitlab releases
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: none

remove the changelog from the release description for now
  .gitlab/ci/release.gitlab-ci.yml
Due: none
