Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

test:php72-unit:
  image: registry.gitlab.com/acp3/php-docker:7.2
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  needs:
  ...

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php74-unit:
  image: registry.gitlab.com/acp3/php-docker:7.4
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.2
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .php_cs.cache
  script:
  - composer run-script lint
  needs:
  - composer

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.2
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .phpstan-cache
  script:
  - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
  - composer

update the changelog
  CHANGELOG-5.x.md
Due: none

apply minor fixes for the CI pipeline
  .gitlab/ci/package.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/trigger.gitlab-ci.yml
Due: none

enable ESLint's cache
  .gitignore
  .gitlab/ci/test-node.gitlab-ci.yml
  package.json
Due: build:npm

fix the reCaptcha
  ACP3/Modules/ACP3/Captcha/Resources/Assets/js/partials/recaptcha.onload.js
  ACP3/Modules/ACP3/Captcha/Resources/Assets/js/partials/recaptcha.onload.min.js
  ACP3/Modules/ACP3/Captcha/Resources/Assets/js/partials/recaptcha.onload.min.js.map
Due: build:npm

upload the unit test report even if the tests did fail
  .gitlab/ci/test-php.gitlab-ci.yml
Due: none

bump the version to 5.14.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix a typo within the release CI job
  .gitlab/ci/release.gitlab-ci.yml
Due: none

update the composer dependencies
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

rework the internals of the themes
  ACP3/Core/src/Assets.php
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/src/Component/ComponentTypeEnum.php
  ACP3/Core/src/Component/Dto/ComponentDataDto.php
  ACP3/Core/src/Enum/BaseEnum.php
  ACP3/Core/src/Environment/Theme.php
  ACP3/Core/src/Environment/ThemePathInterface.php
  ACP3/Core/tests/Assets/FileResolverTest.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/Install.php
  ACP3/Modules/ACP3/Installer/src/Core/DependencyInjection/ServiceContainerBuilder.php
  ACP3/Modules/ACP3/Installer/src/Validation/ValidationRules/DesignExistsValidationRule.php
  ACP3/Modules/ACP3/System/Resources/View/Admin/extensions.designs.tpl
  ACP3/Modules/ACP3/System/src/Controller/Admin/Extensions/Designs.php
  ACP3/Modules/ACP3/System/src/Helper/AvailableDesignsTrait.php
  ACP3/Modules/ACP3/System/src/Helper/Dto/ThemeDto.php
  ACP3/Modules/ACP3/System/src/ViewProviders/AdminThemesViewProvider.php
  designs/acp3-installer/composer.json
  designs/acp3-installer/registration.php
  designs/acp3/composer.json
  designs/acp3/registration.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

refactored the AssetsClearCommand and CacheClearCommand and moved them into system module
  ACP3/Core/Resources/config/console.yml
  ACP3/Core/src/Console/Command/CacheClearCommand.php
  ACP3/Core/src/Console/Command/ModulesUpdateCommand.php
  ACP3/Modules/ACP3/System/Resources/config/components/console.yml
  ACP3/Modules/ACP3/System/src/Console/AssetsClearCommand.php
  ACP3/Modules/ACP3/System/src/Console/CacheClearCommand.php
  ACP3/Modules/ACP3/System/src/Services/CacheClearService.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

replace the abandoned patchwork/utf8 package with symfony's mbstring polyfill
  ACP3/Core/composer.json
  ACP3/Core/src/Console/Application.php
  composer.lock
  index.php
  installation/index.php
  installation/update.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

replace deprecated code within the theme config files
  designs/acp3/info.xml
  tests/designs/acp3-inherit/info.xml
  tests/designs/acp3/info.xml
Due: none

deprecate some methods of the ApplicationPath class
  ACP3/Core/src/Environment/ApplicationPath.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

this file shouldn't have been there at all...
  ACP3/Modules/ACP3/System/src/Helper/Dto/ThemeDto.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix the paths to the theme specific translation file overrides
  ACP3/Core/src/DependencyInjection/ServiceContainerBuilder.php
  ACP3/Core/src/Environment/Theme.php
  ACP3/Core/src/I18n/DictionaryCache.php
  ACP3/Core/tests/AssetsTest.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

move the javascript assets into the head
  ACP3/Modules/ACP3/Errors/Resources/View/Frontend/layout.index.server_error.tpl
  ACP3/Modules/ACP3/Guestbook/Resources/View/layout.modal.tpl
  ACP3/Modules/ACP3/System/Resources/View/layout.ajax.tpl
  designs/acp3-installer/layout.ajax.tpl
  designs/acp3-installer/layout.tpl
  designs/acp3/layout.tpl
Due: none

extended the acp3:components:paths CLI command + the corresponding gulp task with some more info
  ACP3/Core/src/Console/Command/ComponentPathsCommand.php
  build/gulp/component-paths.js
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

removed html5shiv as IE9 isn't supported anyway anymore
  ACP3/Modules/ACP3/System/Resources/Assets/js/html5shiv.min.js
  ACP3/Modules/ACP3/System/Resources/View/Partials/head.tpl
  build/gulp/copy.js
  designs/acp3-installer/layout.tpl
  package-lock.json
  package.json
Due: build:npm

clarify the deprecation notices
  ACP3/Core/Resources/config/components/assets.yml
  ACP3/Core/Resources/config/components/controller.yml
  ACP3/Core/Resources/config/components/http.yml
  ACP3/Core/Resources/config/components/modules.yml
  ACP3/Core/Resources/config/components/validation.yml
  ACP3/Core/src/Assets.php
  ACP3/Core/src/Assets/Event/AddLibraryEvent.php
  ACP3/Core/src/Assets/Libraries.php
  ACP3/Core/src/Controller/AbstractFrontendAction.php
  ACP3/Core/src/Controller/Context/FrontendContext.php
  ACP3/Core/src/Environment/ApplicationPath.php
  ACP3/Core/src/View/Renderer/Smarty/Filters/AbstractMoveElementFilter.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

switch from htmlentities to htmlspecialchars when encoding strings
  ACP3/Core/src/Helpers/Secure.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

apply some minor clean ups and type safety improvementd
  ACP3/Core/src/Helpers/FormToken.php
  ACP3/Core/src/Helpers/Secure.php
  ACP3/Modules/ACP3/Captcha/src/Extension/NativeCaptchaExtension.php
  ACP3/Modules/ACP3/Newsletter/src/Helper/Subscribe.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

allow every single HTML element (even script tags) in the context of WYSIWYG-editors
  ACP3/Core/src/Model/DataProcessor/ColumnType/TextColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/TextWysiwygColumnType.php
  ACP3/Core/tests/Model/DataProcessor/ColumnType/TextWysiwygColumnTypeTest.php
  ACP3/Modules/ACP3/Contact/src/Controller/Admin/Index/SettingsPost.php
  ACP3/Modules/ACP3/Contact/src/Model/ContactFormModel.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Admin/Index/SettingsPost.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm

fix a erroneous return type hint
  ACP3/Core/src/DataGrid/ColumnRenderer/AbstractColumnRenderer.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

deprecate the ExtractFromPathTrait
  ACP3/Core/src/I18n/ExtractFromPathTrait.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

increase PHPStan's level to level 4
  ACP3/Core/src/DataGrid/Input.php
  ACP3/Core/src/Helpers/RedirectMessages.php
  ACP3/Core/src/Mailer.php
  ACP3/Core/src/Model/Event/ModelSaveEvent.php
  ACP3/Core/src/Modules/Helper/Action.php
  ACP3/Core/src/Validation/ValidationRules/PictureValidationRule.php
  ACP3/Modules/ACP3/Auditlog/src/EventListener/OnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Comments/src/Controller/Admin/Details/Delete.php
  ACP3/Modules/ACP3/Feeds/src/View/Renderer/FeedGenerator.php
  ACP3/Modules/ACP3/Gallery/src/Model/PictureModel.php
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Users/src/Controller/Admin/Index/Delete.php
  phpstan.neon.dist
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

refactor the theme retrieval process
  ACP3/Core/src/Environment/Theme.php
  ACP3/Core/src/I18n/DictionaryCache.php
  ACP3/Modules/ACP3/Installer/src/EventListener/AddTemplateVariablesListener.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

increase PHPStan's level to level 3
  ACP3/Core/src/DataGrid/ColumnRenderer/IntegerColumnRenderer.php
  ACP3/Core/src/DataGrid/ColumnRenderer/Nl2pColumnRenderer.php
  ACP3/Core/src/DataGrid/ColumnRenderer/ReplaceValueColumnRenderer.php
  ACP3/Core/src/DataGrid/ColumnRenderer/RoundNumberColumnRenderer.php
  ACP3/Core/src/Helpers/View/CheckAccess.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/BooleanColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/ColumnTypeStrategyInterface.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/IntegerColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/IntegerNullableColumnType.php
  ACP3/Core/src/Model/Repository/ModuleAwareRepositoryInterface.php
  ACP3/Core/src/Modules/Helper/Action.php
  ACP3/Core/src/Modules/SchemaUpdater.php
  ACP3/Modules/ACP3/Articles/src/Model/Repository/ArticleRepository.php
  ACP3/Modules/ACP3/Comments/src/Model/Repository/CommentRepository.php
  ACP3/Modules/ACP3/Files/src/Model/Repository/FilesRepository.php
  ACP3/Modules/ACP3/Installer/src/Core/View/Renderer/Smarty/Resources/Asset.php
  ACP3/Modules/ACP3/News/src/Model/Repository/NewsRepository.php
  ACP3/Modules/ACP3/Permissions/src/Model/Repository/RoleRepository.php
  ACP3/Modules/ACP3/System/src/Helper/View/Tabset.php
  ACP3/Modules/ACP3/System/src/Model/Repository/ModulesRepository.php
  ACP3/Modules/ACP3/Users/src/DataGrid/ColumnRenderer/UserRolesColumnRenderer.php
  phpstan.neon.dist
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

regenerate the static assets
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  designs/acp3-installer/Assets/js/language-switcher.min.js.map
Due: build:npm

update the NPM dependencies
  ACP3/Modules/ACP3/Cookieconsent/Resources/Assets/css/klaro.css
  ACP3/Modules/ACP3/Cookieconsent/Resources/Assets/js/klaro-no-css.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm

update the eslint-config-prettier to the latest version, too
  .eslintrc.json
  package-lock.json
  package.json
Due: build:npm

fix saving the system settings
  ACP3/Core/src/Validation/ValidationRules/LanguagePackExistsValidationRule.php
  ACP3/Modules/ACP3/System/src/ViewProviders/AdminSettingsViewProvider.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

replace the deprecated babel/polyfill package with recommended ones
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  build/gulp/copy.js
  package-lock.json
  package.json
Due: build:npm

update the Composer dependencies
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  test:php72-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php73-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php74-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: **/*.php, composer.json, composer.lock, .php_cs.dist, .gitlab-ci.yml
  test:phpstan: any of: **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
