Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/prepare.gitlab-ci.yml:

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci --no-progress
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "ACP3/**/*.{css,js,less,scss}"
      - "design/**/*.{css,js,less,scss}"
      - "installation/**/*.{css,js,less,scss}"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .prettierignore
      - .prettierrc.json
      - .stylelintignore
      - .stylelintrc
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml

test:php74-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:7.4
  coverage: ~

test:php80-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:8.0
  coverage: ~
  allow_failure: true

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php_cs.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php_cs.dist
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

fix a possible JS error
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/partials/manage-menu-item.js
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/partials/manage-menu-item.min.js
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/partials/manage-menu-item.min.js.map
Due: build:npm, npm

fix prettier
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.js
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js.map
Due: build:npm, npm

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/dataTables.bootstrap5.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/js.cookie.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm, npm

do not enable jquery by default anymore
  ACP3/Modules/ACP3/System/src/EventListener/EnableLibrariesListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the composer dependencies
  ACP3/Core/src/Mailer.php
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update one more composer package
  ACP3/Core/composer.json
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix minor styling glitches fix the datagrids after the bootstrap update
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_datagrid.scss
Due: npm

fix the ACL resources table
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/resources.index.tpl
Due: none

apply some minor visual improvements
  ACP3/Modules/ACP3/Acp/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/access_check.tpl
Due: none

de-jquery-fy the ajax-form
  ACP3/Modules/ACP3/Installer/Resources/View/Installer/update.index.tpl
  ACP3/Modules/ACP3/Newsletter/Resources/View/Widget/index.index.tpl
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/resources.index.tpl
  ACP3/Modules/ACP3/Share/Resources/View/Partials/rating.tpl
  ACP3/Modules/ACP3/System/Resources/Assets/css/loading-indicator.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/css/loading-layer.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/form-validator.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/loading-indicator.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/loading-layer.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/scss/loading-indicator.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/loading-layer.scss
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid.tpl
  ACP3/Modules/ACP3/System/Resources/View/layout.ajax-form.tpl
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  ACP3/Modules/ACP3/System/src/EventListener/AddJsSvgIconsListener.php
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

improve the presentation of checkboxes + radios in horizontal forms
  ACP3/Modules/ACP3/Polls/Resources/View/Frontend/index.vote.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.base.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.checkbox.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.radio.tpl
Due: none

fíx the installation
  ACP3/Modules/ACP3/Installer/src/Repository/SettingsRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

refactor the poll voting template
  ACP3/Modules/ACP3/Polls/Resources/View/Frontend/index.vote.tpl
  ACP3/Modules/ACP3/Polls/src/Controller/Frontend/Index/VotePost.php
  ACP3/Modules/ACP3/Polls/src/Model/VoteModel.php
  ACP3/Modules/ACP3/Polls/src/ViewProviders/PollVoteViewProvider.php
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.checkbox.tpl
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix some typos
  ACP3/Core/src/ACL.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the permission checks for POST-only controller actions
  ACP3/Core/src/Controller/Helper/ControllerActionExists.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

improve the styling of the sorting buttons within grids
  ACP3/Core/src/DataGrid/ColumnRenderer/SortColumnRenderer.php
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid-mass-action-bar.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid.tpl
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

slightly improve the styling of the datagrids
  ACP3/Modules/ACP3/Articles/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Auditlog/src/ViewProviders/DataGridByTableViewProvider.php
  ACP3/Modules/ACP3/Auditlog/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Categories/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Comments/src/ViewProviders/DataGridByModuleViewProvider.php
  ACP3/Modules/ACP3/Comments/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Contact/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Emoticons/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Files/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/PictureDataGridViewProvider.php
  ACP3/Modules/ACP3/Guestbook/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Menus/src/ViewProviders/MenuItemsDataGridViewProvider.php
  ACP3/Modules/ACP3/News/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Newsletter/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Permissions/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Polls/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Share/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Users/src/ViewProviders/DataGridViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a longstanding bug within the auditlog module
  ACP3/Modules/ACP3/Auditlog/src/ViewProviders/DataGridViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix showing datagrids w/o a supplied delete route
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid.tpl
Due: none

hide modules w/o resources when editing an ACL role
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/index.create.tpl
Due: none

fix highlighting the currently selected menu item within the navigation bar
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the last (erroneous) jQuery usages from the guestbook module
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js.map
  ACP3/Modules/ACP3/Guestbook/Resources/View/Frontend/index.index.tpl
Due: build:npm, npm

a the ability to execute dynamically added javascript code (e.g. after XHR requests)
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js.map
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/utils.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
Due: build:npm, npm

fix a possible JS error
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/form-validator.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
Due: build:npm, npm

update the NPM packages
  package-lock.json
  package.json
Due: build:npm, npm

regenerate the static assets
  ACP3/Modules/ACP3/System/Resources/Assets/css/bootstrap.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/bootstrap.bundle.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  designs/acp3-installer/System/Assets/css/bootstrap.min.css
  designs/acp3/System/Assets/css/bootstrap.min.css
Due: build:npm, npm

update the NPM packages
  ACP3/Modules/ACP3/System/Resources/Assets/css/bootstrap.min.css
  designs/acp3-installer/System/Assets/css/bootstrap.min.css
  designs/acp3/System/Assets/css/bootstrap.min.css
  package-lock.json
  package.json
Due: build:npm, npm

ignore the phpunit.result.cache globally
  .gitignore
Due: none

update the composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the code style
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Update/Index.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix an accidentally commented out line of code
  ACP3/Modules/ACP3/System/src/Migration/Migration77.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

ignore the phpunit.result.cache files globally
  .gitignore
Due: none

prepare the new migration system coming with ACP3 6.0.0
  ACP3/Modules/ACP3/System/src/Installer/Migration.php
  ACP3/Modules/ACP3/System/src/Installer/Schema.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

Update the changelog
  CHANGELOG-5.x.md
Due: none

update the changelog
  CHANGELOG-5.x.md
Due: none

bump the version to 5.21.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

finalize the migration for the new DB migrations system
  ACP3/Modules/ACP3/Permissions/src/Migration/Migration38.php
  ACP3/Modules/ACP3/System/src/Migration/Migration78.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

slightly improve the visual of the breadcrumb
  ACP3/Modules/ACP3/System/Resources/View/Partials/breadcrumb.tpl
Due: none
