Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/prepare.gitlab-ci.yml:

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci --no-progress
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "ACP3/**/*.{css,js,less,scss}"
      - "design/**/*.{css,js,less,scss}"
      - "installation/**/*.{css,js,less,scss}"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .prettierignore
      - .prettierrc.json
      - .stylelintignore
      - .stylelintrc
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml

test:php74-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:7.4
  coverage: ~

test:php80-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:8.0
  coverage: ~
  allow_failure: true

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php_cs.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php_cs.dist
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

fixed shariff's missing dependency on jquery
  ACP3/Modules/ACP3/Share/Resources/config/components/assets.yml
Due: none

use the PSR-6 cache for the emoticons, too
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/services.yml
  ACP3/Modules/ACP3/Emoticons/src/EventListener/ClearEmoticonsCacheListener.php
  ACP3/Modules/ACP3/Emoticons/src/EventListener/OnEmoticonsModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Emoticons/src/Services/CachingEmoticonService.php
  ACP3/Modules/ACP3/Menus/src/Services/CachingMenuService.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

use the PSR-6 cache for the i18n, too
  ACP3/Core/Resources/config/components/language.yml
  ACP3/Core/src/I18n/CachingDictionary.php
  ACP3/Modules/ACP3/System/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/System/src/EventListener/RenewCachesListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

use the PSR-6 cache for the galleries, too
  ACP3/Modules/ACP3/Gallery/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/controllers.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/services.yml
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/SettingsPost.php
  ACP3/Modules/ACP3/Gallery/src/EventListener/ClearGalleryPictureCacheListener.php
  ACP3/Modules/ACP3/Gallery/src/Services/CachingGalleryService.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

use the PSR-6 cache for all available cache pools
  ACP3/Core/Resources/config/components/assets.yml
  ACP3/Core/Resources/config/components/cache.yml
  ACP3/Core/Resources/config/components/modules.yml
  ACP3/Core/Resources/config/components/settings.yml
  ACP3/Core/src/Assets/Cache.php
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/src/Assets/LibrariesCache.php
  ACP3/Core/src/Assets/Renderer/CSSRendererFactory.php
  ACP3/Core/src/Assets/Renderer/JavaScriptRendererFactory.php
  ACP3/Core/src/Assets/Renderer/Strategies/AbstractConcatRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatDeferrableCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatJavaScriptRendererStrategy.php
  ACP3/Core/src/Database/Connection.php
  ACP3/Core/src/Modules/AclInstaller.php
  ACP3/Core/src/Modules/CachingModuleInfo.php
  ACP3/Core/src/Settings/Settings.php
  ACP3/Core/tests/Assets/FileResolverTest.php
  ACP3/Modules/ACP3/Installer/Resources/config/services_overrides.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/services.yml
  ACP3/Modules/ACP3/Permissions/src/Core/Modules/CacheAwareAclInstaller.php
  ACP3/Modules/ACP3/System/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/System/src/EventListener/RenewCachesListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a little bug with the ReplaceValueColumnRenderer
  ACP3/Core/src/DataGrid/ColumnRenderer/ReplaceValueColumnRenderer.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

use the PSR-6 cache for the permissions, too
  ACP3/Modules/ACP3/Permissions/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/components/models.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/services.yml
  ACP3/Modules/ACP3/Permissions/src/EventListener/ClearPermissionCacheListener.php
  ACP3/Modules/ACP3/Permissions/src/Model/RulesModel.php
  ACP3/Modules/ACP3/Permissions/src/Services/CachingPermissionService.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the update wizard
  ACP3/Modules/ACP3/Permissions/Resources/config/services.yml
  ACP3/Modules/ACP3/Permissions/src/Core/Modules/CacheAwareAclInstaller.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the module dependency tree
  ACP3/Modules/ACP3/Articles/registration.php
  ACP3/Modules/ACP3/Comments/registration.php
  ACP3/Modules/ACP3/Files/registration.php
  ACP3/Modules/ACP3/Gallery/registration.php
  ACP3/Modules/ACP3/Guestbook/registration.php
  ACP3/Modules/ACP3/News/registration.php
  ACP3/Modules/ACP3/Permissions/registration.php
  ACP3/Modules/ACP3/Polls/registration.php
  ACP3/Modules/ACP3/Users/registration.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

do not use an already removed DB column
  ACP3/Core/src/Modules/SchemaInstaller.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

ensure, that the system module gets installed first
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Update/Index.php
  ACP3/Modules/ACP3/Installer/src/Helpers/ModuleInstaller.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

improve the bug fix from commit c8591510b6474e3f8ec9ac7436a3719aa63f27f6
  ACP3/Core/src/DataGrid/ColumnRenderer/ReplaceValueColumnRenderer.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

revert the module dependency changes from the previous release
  ACP3/Modules/ACP3/Acp/registration.php
  ACP3/Modules/ACP3/Articles/registration.php
  ACP3/Modules/ACP3/Auditlog/registration.php
  ACP3/Modules/ACP3/Captcha/registration.php
  ACP3/Modules/ACP3/Categories/registration.php
  ACP3/Modules/ACP3/Comments/registration.php
  ACP3/Modules/ACP3/Contact/registration.php
  ACP3/Modules/ACP3/Cookieconsent/registration.php
  ACP3/Modules/ACP3/Emoticons/registration.php
  ACP3/Modules/ACP3/Errors/registration.php
  ACP3/Modules/ACP3/Feeds/registration.php
  ACP3/Modules/ACP3/Filemanager/registration.php
  ACP3/Modules/ACP3/Files/registration.php
  ACP3/Modules/ACP3/Gallery/registration.php
  ACP3/Modules/ACP3/Guestbook/registration.php
  ACP3/Modules/ACP3/Installer/src/Helpers/ModuleInstaller.php
  ACP3/Modules/ACP3/Menus/registration.php
  ACP3/Modules/ACP3/News/registration.php
  ACP3/Modules/ACP3/Newsletter/registration.php
  ACP3/Modules/ACP3/Permissions/registration.php
  ACP3/Modules/ACP3/Polls/registration.php
  ACP3/Modules/ACP3/Search/registration.php
  ACP3/Modules/ACP3/Seo/registration.php
  ACP3/Modules/ACP3/Share/registration.php
  ACP3/Modules/ACP3/System/registration.php
  ACP3/Modules/ACP3/Users/registration.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

do not show non-installable modules as "successfully updated" after running the DB migrations
  ACP3/Core/src/Installer/Exception/ModuleNotInstallableException.php
  ACP3/Modules/ACP3/Installer/src/Model/SchemaUpdateModel.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the changelog
  CHANGELOG-5.x.md
Due: none

update the NPM dependencies and vendor the updated dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/dataTables.bootstrap.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm, npm

bump the version to 5.19.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Acp/composer.json
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Auditlog/composer.json
  ACP3/Modules/ACP3/Captcha/composer.json
  ACP3/Modules/ACP3/Categories/composer.json
  ACP3/Modules/ACP3/Comments/composer.json
  ACP3/Modules/ACP3/Contact/composer.json
  ACP3/Modules/ACP3/Cookieconsent/composer.json
  ACP3/Modules/ACP3/Emoticons/composer.json
  ACP3/Modules/ACP3/Errors/composer.json
  ACP3/Modules/ACP3/Feeds/composer.json
  ACP3/Modules/ACP3/Filemanager/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newsletter/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/Polls/composer.json
  ACP3/Modules/ACP3/Search/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the docker-compose config for the most recent docker-for-windows version
  docker-compose.yml
Due: none

reduce the amount of executed SQL queries when upserting entries
  ACP3/Core/src/Model/AbstractModel.php
  ACP3/Core/src/Model/Event/ModelSaveEvent.php
  ACP3/Core/src/NestedSet/Model/AbstractNestedSetModel.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

move some methods around
  ACP3/Core/src/Picture/Input.php
  ACP3/Core/src/Picture/Picture.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

slightly update the readme
  README.md
Due: none

bump the required Node.js version to 14.17
  .nvmrc
Due: none

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/js.cookie.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/js.cookie.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  build/gulp/copy.js
  package-lock.json
  package.json
Due: build:npm, npm

update the composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

correctly cleanup the gallery picture cache after deleting/replacing a picture
  ACP3/Modules/ACP3/Gallery/Resources/config/components/helpers.yml
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/EditPost.php
  ACP3/Modules/ACP3/Gallery/src/EventListener/PictureDeleteListener.php
  ACP3/Modules/ACP3/Gallery/src/Helper/ThumbnailGenerator.php
  ACP3/Modules/ACP3/Gallery/src/Helpers.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix errors reported by PHPStan
  ACP3/Core/src/DataGrid/ConfigProcessor.php
  ACP3/Core/src/Logger/LoggerFactory.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.20.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.20.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a typo
  ACP3/Core/src/Modules/Installer/MigrationInterface.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove deprecated service definitions
  ACP3/Core/Resources/config/components/assets.yml
  ACP3/Core/Resources/config/components/cache.yml
  ACP3/Core/Resources/config/components/controller.yml
  ACP3/Core/Resources/config/components/http.yml
  ACP3/Core/Resources/config/components/modules.yml
  ACP3/Core/Resources/config/components/validation.yml
  ACP3/Core/src/Assets/DependencyInjection/RegisterAssetLibraryPass.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove some deprecated service usages
  ACP3/Core/Resources/config/components/context.yml
  ACP3/Modules/ACP3/Articles/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Contact/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Errors/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Guestbook/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Guestbooknewsletter/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/News/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Newsletter/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Polls/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Search/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Users/Resources/config/components/installer.yml
Due: none

replace some deprecated method usages
  ACP3/Modules/ACP3/Cookieconsent/src/EventListener/EnableConsentManagementAssetsListener.php
  ACP3/Modules/ACP3/Feeds/src/EventListener/OnLayoutHeadListener.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesLayoutDetailsAfterEventListener.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesLayoutSettingsEventListener.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesLayoutUpsertEventListener.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesSettingsSaveBeforeEventListener.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryLayoutDetailsAfterEventListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryLayoutSettingsEventListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryLayoutUpsertEventListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGallerySettingsSaveBeforeEventListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasesOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/OnGuestbookLayoutCreateEventListener.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/OnGuestbookLayoutSettingsEventListener.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/OnGuestbookSettingsSaveBeforeEventListener.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/OnGuestbookValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/OnGuestbookValidationCreateEventListener.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/SubscribeToNewsletterOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Menus/src/Validation/ValidationRules/LinkModeValidationRule.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsLayoutDetailsAfterEventListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsLayoutItemIndexAfterEventListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsLayoutSettingsEventListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsLayoutUpsertEventListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsModelPrepareDataEventListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsSettingsSaveBeforeEventListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Permissions/src/ViewProviders/ResourceListDataGridViewProvider.php
  ACP3/Modules/ACP3/Seo/src/Core/Http/RequestFactory.php
  ACP3/Modules/ACP3/Seo/src/EventListener/GenerateSitemapListener.php
  ACP3/Modules/ACP3/Seo/src/Utility/SitemapAvailabilityRegistrar.php
  ACP3/Modules/ACP3/Share/src/EventListener/AddSocialSharingListener.php
  ACP3/Modules/ACP3/System/src/Helper/Installer.php
  ACP3/Modules/ACP3/Wysiwygckeditor/src/WYSIWYG/Editor/CKEditor.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

do not require the doctrine/cache library anymore
  ACP3/Core/composer.json
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the db related deprecations
  ACP3/Core/src/Database/Connection.php
  ACP3/Modules/ACP3/Articles/src/Model/Repository/ArticleRepository.php
  ACP3/Modules/ACP3/Comments/src/Model/Repository/CommentRepository.php
  ACP3/Modules/ACP3/Emoticons/src/Model/Repository/EmoticonRepository.php
  ACP3/Modules/ACP3/Gallery/src/Model/Repository/GalleryRepository.php
  ACP3/Modules/ACP3/Menus/src/Model/Repository/MenuItemRepository.php
  ACP3/Modules/ACP3/News/src/Model/Repository/NewsRepository.php
  ACP3/Modules/ACP3/Newsletter/src/Model/Repository/AccountRepository.php
  ACP3/Modules/ACP3/Seo/src/Model/Repository/SeoRepository.php
  ACP3/Modules/ACP3/Share/src/Model/Repository/ShareRatingsRepository.php
  ACP3/Modules/ACP3/System/src/Model/Repository/ModulesRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan
