Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

finalize the data-grid adjustments
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/mass-action.js
Due: build:npm

fix the remaining PHPUnit code deprecation
  ACP3/Core/tests/Assets/FileResolverTest.php
Due: build:composer

allow webpack to optimize/bundle more JS-files
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/bootstrap.bundle.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/bootstrap.bundle.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/mass-action.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/wysiwyg.js
  build/gulp/helpers/component-paths.mjs
  build/gulp/version-npm-libraries.mjs
Due: build:npm

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/js.cookie.min.js
  package-lock.json
  package.json
Due: build:npm

update the composer dependencies
  composer.lock
Due: build:composer

update the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.17.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newsletter/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

fix the data-grid styling
  ACP3/Modules/ACP3/System/Resources/Assets/js/dataTables.bootstrap5.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datagrid.js
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  CHANGELOG-6.x.md
  build/gulp/version-npm-libraries.mjs
Due: build:npm

bump the version to 6.17.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

update the NPM dependencies
  .stylelintrc
  ACP3/Modules/ACP3/Share/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/scss/loading-indicator.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_datagrid.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_svg-icon.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/photoswipe-caption.scss
  designs/acp3-installer/System/Resources/Assets/scss/bootstrap.scss
  designs/acp3-installer/System/Resources/Assets/scss/layout.scss
  designs/acp3/System/Resources/Assets/scss/bootstrap.scss
  package-lock.json
  package.json
Due: build:npm

do not run prettier on CSS and SCSS files
  package.json
Due: build:npm

update the composer dependencies
  composer.json
  composer.lock
Due: build:composer

fix the last few PHPStan offenses
  ACP3/Core/src/Model/DataProcessor/ColumnType/ColumnTypeStrategyInterface.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/RawColumnType.php
Due: build:composer

update the NPM packages
  build/gulp/scss.mjs
  package-lock.json
  package.json
Due: build:npm

attempt to fix some errors after the PHPUnit 10 update
  ACP3/Core/tests/View/Renderer/Smarty/Filters/PageCssClassesTest.php
  ACP3/Core/tests/View/Renderer/Smarty/Functions/LoadModuleTest.php
  ACP3/Core/tests/View/Renderer/Smarty/Functions/UriTest.php
Due: build:composer

show all details when there are errors/warnings/etc. with PHP-unit tests
  tests/phpunit.dist.xml
Due: build:composer

fix the reported PHPUnit errors/warnings
  ACP3/Core/tests/Smarty_Internal_Template_Fixture.php
  ACP3/Core/tests/View/Renderer/Smarty/Filters/PageCssClassesTest.php
  ACP3/Core/tests/View/Renderer/Smarty/Functions/LoadModuleTest.php
  ACP3/Core/tests/View/Renderer/Smarty/Functions/UriTest.php
  ACP3/Modules/ACP3/Menus/tests/Core/View/Renderer/Smarty/Functions/NavbarTest.php
Due: build:composer

update the code coverage reporting
  ACP3/Core/tests/Enum/EnumValuesTraitTest.php
  composer.json
  tests/phpunit.dist.xml
Due: build:composer

replace utf8_decode and utf8_encode with the corresponding mb_string functions
  ACP3/Core/src/Helpers/StringFormatter.php
  ACP3/Core/tests/Helpers/StringFormatterTest.php
Due: build:composer

fix adding gallery pictures
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/CreatePost.php
Due: build:composer

add a "trim" modifier for smarty to fix a deprecation warning
  ACP3/Core/Resources/config/components/smarty_modifiers.yml
  ACP3/Core/src/View/Renderer/Smarty/Modifiers/Trim.php
Due: build:composer

fix creating menu items
  ACP3/Core/src/NestedSet/Model/AbstractNestedSetModel.php
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemRepository.php
Due: build:composer

bump the version to 6.18.1
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

use the composer 2.5 image
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

update the required Node.js to 18.17
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .nvmrc
Due: none

update the NPM libraries (part 2)
  ACP3/Modules/ACP3/Installer/Resources/Assets/js/partials/available_databases.js
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/lib/suggest-alias.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/mass-action.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.js
  build/gulp/bump-version.mjs
  build/gulp/helpers/component-paths.mjs
  build/gulp/png.mjs
  build/gulp/scss.mjs
  build/gulp/stylelint.mjs
  build/gulp/webp.mjs
  gulpfile.mjs
  package-lock.json
  package.json
Due: build:npm

remove some unused NPM packages
  package-lock.json
  package.json
Due: build:npm

fix target-page form field when toggling the visibility of a menu item
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/admin/items.create.js
Due: build:npm

make menu item headline usable as sub-menu entrypoints
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
  ACP3/Modules/ACP3/Menus/tests/Core/View/Renderer/Smarty/Functions/NavbarTest.php
Due: build:composer

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
