Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

test:php72-unit:
  image: registry.gitlab.com/acp3/php-docker:7.2
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  needs:
  ...

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php74-unit:
  image: registry.gitlab.com/acp3/php-docker:7.4
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.2
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .php_cs.cache
  script:
  - composer run-script lint
  needs:
  - composer

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.2
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .phpstan-cache
  script:
  - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
  - composer

update the NPM dependencies
  ACP3/Modules/ACP3/Cookieconsent/Resources/Assets/css/klaro.css
  ACP3/Modules/ACP3/Cookieconsent/Resources/Assets/js/klaro-no-css.js
  package-lock.json
  package.json
Due: build:npm

disable the "no-dupe-class-members" ESLint for now, as there seems to be bug in it
  .eslintrc.json
Due: build:npm

update the babel config and rework ajax-form related classes a bit
  .babelrc
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/form-validator.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  designs/acp3-installer/Assets/js/language-switcher.min.js
  designs/acp3-installer/Assets/js/language-switcher.min.js.map
Due: build:npm

update the composer merge plugin to version 2
  composer.json
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

upgrade to Composer 2
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

test against PHP 8
  .gitlab/ci/test-php.gitlab-ci.yml
Due: none

use the Composer 2 docker container too
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

allow to PHP 8 tests to fail for now
  .gitlab/ci/test-php.gitlab-ci.yml
Due: none

apply some minor code quality improvements
  ACP3/Core/tests/Validation/AbstractFormValidationTest.php
  ACP3/Modules/ACP3/Newsletter/tests/Validation/SubscribeFormValidationTest.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix the PHPUnit tests when running under PHP 8
  ACP3/Core/src/Validation/ValidationRules/InArrayValidationRule.php
  ACP3/Core/src/Validation/ValidationRules/NumberGreaterThanValidationRule.php
  ACP3/Core/src/Validation/Validator.php
  ACP3/Core/tests/Validation/ValidationRules/AbstractValidationRuleTest.php
  ACP3/Core/tests/Validation/ValidationRules/NumberGreaterThanValidationRuleTest.php
  ACP3/Modules/ACP3/Newsletter/src/Validation/SubscribeFormValidation.php
  ACP3/Modules/ACP3/Newsletter/tests/Validation/SubscribeFormValidationTest.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

add different Dockerfiles to the various PHP versions
  build/docker/php/Dockerfile-7.2
  build/docker/php/Dockerfile-7.3
  build/docker/php/Dockerfile-7.4
  build/docker/php/Dockerfile-8.0
  docker-compose.yml
Due: none

update the changelog
  CHANGELOG-5.x.md
Due: none

bump the version to 5.15.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Auditlog/composer.json
  ACP3/Modules/ACP3/Captcha/composer.json
  ACP3/Modules/ACP3/Categories/composer.json
  ACP3/Modules/ACP3/Comments/composer.json
  ACP3/Modules/ACP3/Contact/composer.json
  ACP3/Modules/ACP3/Cookieconsent/composer.json
  ACP3/Modules/ACP3/Errors/composer.json
  ACP3/Modules/ACP3/Feeds/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newsletter/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-5.x.md
  designs/acp3-installer/composer.json
  designs/acp3/composer.json
  installation/composer.json
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

update the required ACP3 installer version
  composer.lock
  installation/composer.json
  tests/composer.json
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix the custom article layout retrieval
  ACP3/Modules/ACP3/Articles/src/ViewProviders/AdminArticleEditViewProvider.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix the generated date format when tagging a new release
  build/gulp/bump-version.js
Due: none

bump the version to 5.15.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

vary the HTTP page cache by the X-Request-With HTTP header too
  ACP3/Core/src/Cache/CacheResponseTrait.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.15.2
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

explicitly define the priorities of the various exception listeners
  ACP3/Core/src/Application/EventListener/OnOutputPageExceptionListener.php
  ACP3/Core/src/Controller/EventListener/ForwardControllerActionExceptionErrorListener.php
  ACP3/Modules/ACP3/Errors/src/EventListener/HandleGenericErrorsExceptionListener.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/EventListener/DecoratingForwardControllerActionExceptionErrorListener.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.15.3
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Errors/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix retrieving the theme specific translation overrides
  ACP3/Core/src/I18n/DictionaryCache.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.15.4
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

lock the psr/container package to version ~1.0.0 as there seems to be a BC break in version 1.1.0
  ACP3/Core/composer.json
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.15.5
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

update the docker-compose configuration
  docker-compose.override.yml.sample
  docker-compose.yml
Due: none

drop the support for PHP 7.2
  .gitlab/ci/package.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
  ACP3/Core/Resources/config/components/assets.yml
  ACP3/Core/composer.json
  ACP3/Core/src/Assets/Renderer/Strategies/AbstractConcatRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatJavaScriptRendererStrategy.php
  composer.json
  composer.lock
  tests/composer.json
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

update the docker-compose config to use the PHP 7.3 container
  docker-compose.yml
Due: none

drop the PHP 7.2 container
  build/docker/php/Dockerfile-7.2
Due: none

ignore composer auth.json
  .gitignore
Due: none

remove the platform simulation from the composer json
  composer.json
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

update the phpunit config file
  tests/phpunit.dist.xml
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit

update the topsort package to the latest version
  ACP3/Core/composer.json
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

replace some deprecated code and mark a method as deprecated
  ACP3/Core/src/Database/Connection.php
  ACP3/Core/src/Modules/SchemaUpdater.php
  ACP3/Modules/ACP3/Menus/src/Model/Repository/MenuItemRepository.php
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

fix a faulty previous "composer update"
  composer.lock
Due: build:composer, test:php72-unit, test:php73-unit, test:php74-unit, test:php-cs-fixer, test:phpstan

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  test:php72-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php73-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php74-unit: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: **/*.php, composer.json, composer.lock, .php_cs.dist, .gitlab-ci.yml
  test:phpstan: any of: **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
