Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

update the changelog
  CHANGELOG-6.x.md
Due: none

update the composer dependencies
  ACP3/Core/tests/SEO/MetaStatementsServiceTest.php
  composer.json
  composer.lock
Due: build:composer

display the 404 page, when an invalid controller action argument has been given
  ACP3/Core/src/Application/ControllerActionDispatcher.php
Due: build:composer

bump the version to 6.15.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

fix not being able to log in with the new password, when a user account has been locked by too many failed login-attempts
  ACP3/Modules/ACP3/Users/src/Model/UsersModel.php
  CHANGELOG-6.x.md
Due: build:composer

update the composer dependencies
  composer.lock
Due: build:composer

update the npm dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/dataTables.bootstrap5.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.min.js
  package-lock.json
  package.json
Due: build:npm

bump the version to 6.15.1
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

test composer 2.5
  .gitlab/ci/prepare.gitlab-ci.yml
  composer.lock
Due: build:composer

try another cache key name for the composer CI job
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

WIP
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

Update the composer dependencies
  composer.lock
Due: build:composer

explicitly require PHPUnit 9.6
  tests/composer.json
Due: none

try to not cache the COMPOSER_HOME-dir
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

do not cache the vendor dir
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

try it without composer-merge-plugin
  .gitlab/ci/prepare.gitlab-ci.yml
  composer.json
  composer.lock
Due: build:composer

update the composer dependencies
  composer.lock
  tests/composer.json
Due: build:composer

add the missing h4-h6 (and some more) to CKEditor format tags
  ACP3/Modules/ACP3/Wysiwygckeditor/src/WYSIWYG/Editor/CKEditor.php
Due: build:composer

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm

bump the version to 6.16.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/js.cookie.min.js
  package-lock.json
  package.json
Due: build:npm

move the NavbarTest into the correct location
  ACP3/Modules/ACP3/Menus/tests/Core/View/Renderer/Smarty/Functions/NavbarTest.php
Due: build:composer

add support for headline menu items
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/admin/items.create.js
  ACP3/Modules/ACP3/Menus/Resources/View/Admin/items.create.tpl
  ACP3/Modules/ACP3/Menus/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Menus/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
  ACP3/Modules/ACP3/Menus/src/Enum/PageTypeEnum.php
  ACP3/Modules/ACP3/Menus/src/Model/MenuItemsModel.php
  ACP3/Modules/ACP3/Menus/src/Validation/MenuItemFormValidation.php
  ACP3/Modules/ACP3/Menus/src/ViewProviders/AdminMenuItemEditViewProvider.php
  ACP3/Modules/ACP3/Menus/src/ViewProviders/MenuItemsDataGridViewProvider.php
  ACP3/Modules/ACP3/Menus/tests/Core/View/Renderer/Smarty/Functions/NavbarTest.php
  CHANGELOG-6.x.md
Due: build:composer, build:npm

cover the navigation bar class with more unit tests
  ACP3/Modules/ACP3/Menus/tests/Core/View/Renderer/Smarty/Functions/NavbarTest.php
Due: build:composer

make the headline menu item selector configurable
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
  ACP3/Modules/ACP3/Menus/src/Helpers/MenuConfiguration.php
Due: build:composer

restructure some code
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
Due: build:composer

improve the discoverability of the data grid actions
  ACP3/Core/src/DataGrid/ColumnRenderer/OptionColumnRenderer.php
  ACP3/Core/src/DataGrid/ColumnRenderer/OptionColumnRenderer/OptionRenderer.php
  ACP3/Core/src/Helpers/View/Icon.php
  ACP3/Core/src/Model/Event/Listener/AbstractAddDuplicateButtonOnDataGridCustomOptionBeforeListener.php
  ACP3/Modules/ACP3/Newsletter/src/EventListener/OnDataGridCustomOptionBeforeListener.php
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/resources.index.tpl
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_datagrid.scss
  CHANGELOG-6.x.md
Due: build:composer

replace some Doctrine DBAL deprecations
  ACP3/Core/src/Helpers/Sort.php
  ACP3/Core/src/NestedSet/Repository/NestedSetRepository.php
  ACP3/Modules/ACP3/Gallery/src/Repository/PictureRepository.php
  ACP3/Modules/ACP3/Installer/src/Validation/ValidationRules/DatabaseConnectionValidationRule.php
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemRepository.php
  ACP3/Modules/ACP3/News/src/Repository/NewsRepository.php
  ACP3/Modules/ACP3/Permissions/src/Repository/AclPermissionRepository.php
  ACP3/Modules/ACP3/System/src/Repository/ModulesRepository.php
  CHANGELOG-6.x.md
Due: build:composer

fix most of PHPUnit's deprecations
  ACP3/Core/tests/Assets/Renderer/Strategies/CSSRendererStrategyTest.php
  ACP3/Core/tests/Helpers/ResultsPerPageTest.php
  ACP3/Core/tests/Model/DataProcessor/ColumnType/DateTimeColumnTypeTest.php
Due: build:composer
