Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

bump the version to 6.23.0
  ACP3/Modules/ACP3/Acp/composer.json
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Contact/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  designs/acp3/composer.json
Due: none

update the changelog
  CHANGELOG-6.x.md
Due: none

chore: Consistently use btn-light instead of btn-outline-secondary
  ACP3/Modules/ACP3/System/Resources/View/Partials/access_check.tpl
Due: none

chore: Consistently use btn-light instead of btn-outline-secondary
  ACP3/Modules/ACP3/Acp/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Installer/Resources/View/Partials/next_steps.tpl
  ACP3/Modules/ACP3/Menus/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Polls/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Search/Resources/View/Frontend/index.index.tpl
  ACP3/Modules/ACP3/Seo/Resources/View/Admin/index.settings.tpl
  ACP3/Modules/ACP3/Seo/Resources/View/Partials/seo_fields.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.button_group.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.button_group_checkbox.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/wysiwyg.tpl
Due: none

chore: Update the changelog
  CHANGELOG-6.x.md
Due: none

feat: Add a new layout variant
  ACP3/Modules/ACP3/System/Resources/View/layout.simple.tpl
Due: none

feat: Improve the visuals of the login page
  designs/acp3/Users/Resources/Assets/scss/style.scss
  designs/acp3/Users/Resources/View/Frontend/index.login.tpl
Due: none

chore: Use the composer 2.6 docker image
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

chore: Update Node.js to 18.19
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .nvmrc
Due: none

feat: Add basic support for floating labels
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.base.tpl
Due: none

feat: Further improve the visuals of some pages
  ACP3/Modules/ACP3/Captcha/Resources/View/Partials/captcha_honeypot.tpl
  ACP3/Modules/ACP3/Captcha/Resources/View/Partials/captcha_native.tpl
  ACP3/Modules/ACP3/Captcha/Resources/View/Partials/captcha_recaptcha.tpl
  ACP3/Modules/ACP3/Captcha/src/EventListener/OnDisplayCaptchaListener.php
  ACP3/Modules/ACP3/Captcha/src/Extension/CaptchaExtensionInterface.php
  ACP3/Modules/ACP3/Captcha/src/Extension/HoneypotCaptchaExtension.php
  ACP3/Modules/ACP3/Captcha/src/Extension/NativeCaptchaExtension.php
  ACP3/Modules/ACP3/Captcha/src/Extension/ReCaptchaCaptchaExtension.php
  ACP3/Modules/ACP3/System/Resources/View/layout.simple.tpl
  ACP3/Modules/ACP3/Users/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Users/Resources/i18n/en_US.xml
  designs/acp3/Users/Resources/Assets/scss/style.scss
  designs/acp3/Users/Resources/View/Frontend/index.forgot_pwd.tpl
  designs/acp3/Users/Resources/View/Frontend/index.login.tpl
  package-lock.json
Due: build:composer, build:npm

bump the version to 6.24.0
  ACP3/Modules/ACP3/Acp/composer.json
  ACP3/Modules/ACP3/Captcha/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/Polls/composer.json
  ACP3/Modules/ACP3/Search/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  designs/acp3/composer.json
Due: none

ci: Fix the CI-pipeline
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
Due: none

bump the version to 6.24.1
  CHANGELOG-6.x.md
Due: none

feat: add a small improvements to the floating label form groups
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.input_text.tpl
Due: none

bump the version to 6.24.2
  CHANGELOG-6.x.md
Due: none

chore: Switch to sass-embedded
  ACP3/Modules/ACP3/System/package.json
  build/gulp/scss.mjs
  package-lock.json
  package.json
Due: build:npm

feat: Replace the babel-loader with esbuild
  ACP3/Modules/ACP3/System/package.json
  package-lock.json
  package.json
  webpack.config.mjs
Due: build:npm

chore: Remove the obsolete .babelrc
  .babelrc
Due: none

feat: Automate generating the component-paths.json and merging the package.json files
  ACP3/Core/composer.json
  ACP3/Core/src/Composer/GenerateComponentPathsJson.php
  ACP3/Core/src/Composer/MergePackageJson.php
  composer.json
  composer.lock
  tests/composer.json
Due: build:composer

fix: Fix executing the unit tests
  .gitlab/ci/test-php.gitlab-ci.yml
  .husky/pre-commit
Due: none

feat: Move the code quality tools into the acp3/test package
  composer.json
  composer.lock
  tests/composer.json
Due: build:composer

feat: Optimize the pre-commit hook
  .husky/pre-commit
  package-base.json
  package.json
Due: build:npm

apply some further improvements to the pre-commit hook
  package-base.json
  package.json
Due: build:npm

fix: Fix the generate-components-path command
  ACP3/Core/src/Composer/GenerateComponentPathsJson.php
  package-base.json
  package.json
Due: build:composer, build:npm

move all the composer scripts into the acp3/tests package
  ACP3/Core/composer.json
  tests/composer.json
Due: none

bump the version to 6.25.0
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-6.x.md
Due: none

fix: Fix executing php-cs-fixer with a custom config
  tests/composer.json
Due: none

bump the version to 6.25.1
  CHANGELOG-6.x.md
Due: none

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
