Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/prepare.gitlab-ci.yml:

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci --no-progress
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "ACP3/**/*.{css,js,less,scss}"
      - "design/**/*.{css,js,less,scss}"
      - "installation/**/*.{css,js,less,scss}"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .prettierignore
      - .prettierrc.json
      - .stylelintignore
      - .stylelintrc
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml

test:php74-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:7.4
  coverage: ~

test:php80-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:8.0
  coverage: ~
  allow_failure: true

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php_cs.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php_cs.dist
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

use the native HTML5 date input type for datepickers
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/datepicker.min.js.map
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.single.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.tpl
Due: build:npm, npm

use native HTML datetime-local input type for the date range picker
  ACP3/Core/src/Validation/ValidationRules/DateValidationRule.php
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js.map
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.range.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.tpl
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix saving the social sharing stuff
  ACP3/Modules/ACP3/Share/src/EventListener/SaveSharingInfoOnModelAfterSaveListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove flatpickr
  ACP3/Modules/ACP3/System/Resources/Assets/css/flatpickr.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/flatpickr.min.js
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  build/gulp/copy.js
  package-lock.json
  package.json
Due: build:npm, npm

update the package-lock.json
  package-lock.json
Due: build:npm, npm

update the Composer dependencies
  composer.json
  composer.lock
  phpstan.neon.dist
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the code offenses found after the PHPStan update
  ACP3/Core/src/Authentication/Model/AuthenticationModelInterface.php
  ACP3/Core/src/Cache/Purge.php
  ACP3/Core/src/Filesystem.php
  ACP3/Core/src/Settings/Settings.php
  ACP3/Core/tests/Breadcrumb/StepsTest.php
  ACP3/Core/tests/Breadcrumb/TitleTest.php
  ACP3/Core/tests/DataGrid/ColumnRenderer/ReplaceValueColumnRendererTest.php
  ACP3/Modules/ACP3/Captcha/src/Extension/ReCaptchaCaptchaExtension.php
  ACP3/Modules/ACP3/Menus/tests/Core/Breadcrumb/StepsTest.php
  ACP3/Modules/ACP3/Seo/tests/Core/Helpers/PageBreaksTest.php
  ACP3/Modules/ACP3/Seo/tests/Core/Router/RouterTest.php
  ACP3/Modules/ACP3/Share/src/EventListener/SaveSharingInfoOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/System/src/Helper/UpdateCheck.php
  ACP3/Modules/ACP3/System/tests/Core/Breadcrumb/TitleTest.php
  ACP3/Modules/ACP3/Users/src/Model/AuthenticationModel.php
  ACP3/Modules/ACP3/Users/src/ViewProviders/UserMenuViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove sami config
  .sami.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

increase the minimum PHP version to 8.0 and add rector
  composer.json
  composer.lock
  docker-compose.yml
  rector.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

run rector initially
  ACP3/Core/src/Picture/Output.php
  ACP3/Core/src/Validation/AbstractFormValidation.php
  ACP3/Core/src/Validation/Validator.php
  ACP3/Core/src/View.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/HasPermission.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/IncludeJs.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/PageCssClasses.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/TemplatePath.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/Translate.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/Uri.php
  ACP3/Core/src/WYSIWYG/Editor/Textarea.php
  ACP3/Core/src/XML.php
  ACP3/Core/tests/DataGrid/ColumnRenderer/TranslateColumnRendererTest.php
  ACP3/Modules/ACP3/Articles/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Auditlog/src/EventListener/OnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Categories/src/ViewProviders/AdminCategoryEditViewProvider.php
  ACP3/Modules/ACP3/Comments/src/Helpers.php
  ACP3/Modules/ACP3/Feeds/src/View/Renderer/FeedGenerator.php
  ACP3/Modules/ACP3/Installer/src/Helpers/Navigation.php
  ACP3/Modules/ACP3/Menus/src/Core/Breadcrumb/Steps.php
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
  ACP3/Modules/ACP3/Menus/src/Helpers/MenuItemsList.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Resources/Delete.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Resources/Index.php
  ACP3/Modules/ACP3/Search/src/Helpers.php
  ACP3/Modules/ACP3/Seo/src/Helper/UriAliasManager.php
  ACP3/Modules/ACP3/System/src/Helper/Installer.php
  composer.json
  rector.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a PHP 8 compatibility issue
  ACP3/Core/src/Picture/Picture.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

run rector with the rules for PHP 7.3 applied
  ACP3/Core/src/Assets.php
  ACP3/Core/src/Assets/Libraries.php
  ACP3/Core/src/Assets/PageCssClasses.php
  ACP3/Core/src/Breadcrumb/Steps.php
  ACP3/Core/src/DataGrid/ColumnRenderer/OptionColumnRenderer.php
  ACP3/Core/src/DataGrid/ConfigProcessor.php
  ACP3/Core/src/DataGrid/Input.php
  ACP3/Core/src/DataGrid/Options.php
  ACP3/Core/src/DataGrid/Repository/AbstractDataGridRepository.php
  ACP3/Core/src/Date.php
  ACP3/Core/src/Helpers/SendEmail.php
  ACP3/Core/src/Http/Request.php
  ACP3/Core/src/I18n/Translator.php
  ACP3/Core/src/Mailer.php
  ACP3/Core/src/Pagination.php
  ACP3/Core/src/Picture/Input.php
  ACP3/Modules/ACP3/Installer/src/Core/View/Renderer/Smarty/Filters/MoveToBottom.php
  ACP3/Modules/ACP3/Installer/src/Core/View/Renderer/Smarty/Filters/MoveToHead.php
  ACP3/Modules/ACP3/Installer/src/Helpers/Requirements.php
  ACP3/Modules/ACP3/Menus/src/Core/Breadcrumb/Steps.php
  ACP3/Modules/ACP3/System/src/Migration/Migration78.php
  ACP3/Modules/ACP3/Wysiwygckeditor/src/WYSIWYG/Editor/CKEditor.php
  ACP3/Modules/ACP3/Wysiwygtinymce/src/WYSIWYG/Editor/TinyMCE.php
  rector.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

apply most rules of the PHP 7.4 ruleset, rector provides
  ACP3/Core/src/Assets/Renderer/Strategies/AbstractConcatRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/CSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatDeferrableCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatJavaScriptRendererStrategy.php
  ACP3/Core/src/Breadcrumb/Steps.php
  ACP3/Core/src/Component/ComponentRegistry.php
  ACP3/Core/src/I18n/Translator.php
  ACP3/Core/src/Modules.php
  ACP3/Core/src/NestedSet/Operation/Delete.php
  ACP3/Core/src/NestedSet/Operation/Sort.php
  ACP3/Core/src/Picture/Output.php
  ACP3/Core/src/Picture/Picture.php
  rector.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

Adjust the CI pipeline
  .gitlab/ci/package.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

drop the now obsolete Dockerfiles for PHP 7.3 and 7.4
  build/docker/php/Dockerfile-7.3
  build/docker/php/Dockerfile-7.4
Due: none

update the composer dependencies
  ACP3/Core/composer.json
  composer.json
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the code style offences after the php-cs-fixer update
  ACP3/Core/src/Assets/Libraries.php
  ACP3/Core/src/Assets/LibrariesCache.php
  ACP3/Core/src/Installer/SchemaRegistrar.php
  ACP3/Modules/ACP3/Gallery/src/EventListener/PictureDeleteListener.php
  ACP3/Modules/ACP3/System/src/Services/CacheClearService.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the required nodejs version to the latest LTS version (16.x)
  .nvmrc
Due: none

update the NPM dependencies
  package-lock.json
Due: build:npm, npm

update the assets
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/admin/items.create.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
Due: build:npm, npm

update stylelint
  .stylelintrc
  package-lock.json
  package.json
Due: build:npm, npm

update the composer dependencies
  composer.json
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

integrate shariff's PHP backend directly
  ACP3/Modules/ACP3/Share/Resources/config/services.yml
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/Share/src/Shariff/Backend.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/AddThis.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/BackendManager.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Buffer.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Facebook.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Flattr.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Pinterest.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Reddit.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Request.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/ServiceFactory.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/ServiceInterface.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/StumbleUpon.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Vk.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Xing.php
  ACP3/Modules/ACP3/Share/src/Shariff/BackendFactory.php
  ACP3/Modules/ACP3/Share/tests/Shariff/Backend/FacebookTest.php
  ACP3/Modules/ACP3/Share/tests/Shariff/Backend/ServiceFactoryTest.php
  ACP3/Modules/ACP3/Share/tests/Shariff/BackendTest.php
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

run rector
  ACP3/Core/src/Assets/Entity/LibraryEntity.php
  ACP3/Core/src/Authentication/Exception/UnauthorizedAccessException.php
  ACP3/Core/src/Component/Dto/ComponentDataDto.php
  ACP3/Core/src/DataGrid/ColumnRenderer/Event/CustomOptionEvent.php
  ACP3/Core/src/Model/AbstractModel.php
  ACP3/Core/src/Model/Event/ModelSaveEvent.php
  ACP3/Core/src/Model/Event/ModelSavePrepareDataEvent.php
  ACP3/Core/src/Settings/Event/SettingsSaveEvent.php
  ACP3/Core/src/Validation/Event/FormValidationEvent.php
  ACP3/Core/src/View/Event/TemplateEvent.php
  ACP3/Modules/ACP3/Share/Resources/config/services.yml
  ACP3/Modules/ACP3/Share/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/AddThis.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/BackendManager.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Buffer.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Facebook.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Flattr.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Pinterest.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Reddit.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/ServiceFactory.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/ServiceInterface.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/StumbleUpon.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Vk.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Xing.php
  ACP3/Modules/ACP3/Share/src/Shariff/BackendFactory.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

get the shariff backend into a working shape again
  ACP3/Modules/ACP3/Share/Resources/config/components/logger.yml
  ACP3/Modules/ACP3/Share/Resources/config/services.yml
  ACP3/Modules/ACP3/Share/src/Shariff/Backend.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/AddThis.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/BackendManager.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Buffer.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Facebook.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Flattr.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Pinterest.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Reddit.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Request.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/ServiceFactory.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/ServiceInterface.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/StumbleUpon.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Vk.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Xing.php
  ACP3/Modules/ACP3/Share/src/Shariff/BackendFactory.php
  ACP3/Modules/ACP3/Share/tests/Shariff/Backend/FacebookTest.php
  ACP3/Modules/ACP3/Share/tests/Shariff/Backend/ServiceFactoryTest.php
  ACP3/Modules/ACP3/Share/tests/Shariff/BackendTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the social sharing backend registration
  ACP3/Modules/ACP3/Share/Resources/config/components/logger.yml
  ACP3/Modules/ACP3/Share/Resources/config/components/shariff.yml
  ACP3/Modules/ACP3/Share/Resources/config/services.yml
  ACP3/Modules/ACP3/Share/registration.php
  ACP3/Modules/ACP3/Share/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Share/src/Helpers/SocialServices.php
  ACP3/Modules/ACP3/Share/src/ModuleRegistration.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend.php
  ACP3/Modules/ACP3/Share/src/Shariff/BackendManager.php
  ACP3/Modules/ACP3/Share/src/Shariff/BackendManagerFactory.php
  ACP3/Modules/ACP3/Share/src/Shariff/DependencyInjection/RegisterSocialSharingBackendsPass.php
  ACP3/Modules/ACP3/Share/src/Shariff/SocialSharingBackendServiceLocator.php
  ACP3/Modules/ACP3/Share/tests/Shariff/Backend/ServiceFactoryTest.php
  ACP3/Modules/ACP3/Share/tests/Shariff/BackendManagerTest.php
  ACP3/Modules/ACP3/Share/tests/Shariff/BackendTest.php
  ACP3/Modules/ACP3/Share/tests/Shariff/SocialSharingBackendServiceLocatorTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

moved the PSR-Http-Client service definition into the core module
  ACP3/Core/Resources/config/components/http.yml
  ACP3/Core/composer.json
  ACP3/Modules/ACP3/Share/Resources/config/components/shariff.yml
  ACP3/Modules/ACP3/Share/composer.json
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework initializating the RichFilemanager backend
  ACP3/Modules/ACP3/Filemanager/Resources/config/components/controllers.yml
  ACP3/Modules/ACP3/Filemanager/Resources/config/components/rich-filemanager.yml
  ACP3/Modules/ACP3/Filemanager/src/Controller/Admin/Index/RichFileManager.php
  ACP3/Modules/ACP3/Filemanager/src/RichFilemanager/RFMAppConfigurator.php
  ACP3/Modules/ACP3/Filemanager/src/RichFilemanager/StorageFactory.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update some symfony components to version 6.x
  ACP3/Core/Resources/config/components/di_container.yml
  ACP3/Core/composer.json
  composer.lock
  uploads/_thumbs/.gitignore
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the DI container from the context
  ACP3/Core/Resources/config/components/context.yml
  ACP3/Core/src/Cache/CacheResponseTrait.php
  ACP3/Core/src/Controller/AbstractWidgetAction.php
  ACP3/Core/src/Controller/Context/WidgetContext.php
  ACP3/Core/src/Controller/DisplayActionTrait.php
  ACP3/Core/src/Controller/InvokableActionInterface.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/AbstractInstallerAction.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/Context/InstallerContext.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the ApplicationPath from the installer context
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/InstallPost.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Update/Index.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/AbstractInstallerAction.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/Context/InstallerContext.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the ApplicationPath from the WidgetContext
  ACP3/Core/src/Controller/AbstractWidgetAction.php
  ACP3/Core/src/Controller/Context/WidgetContext.php
  ACP3/Modules/ACP3/Files/src/Controller/Frontend/Index/Download.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/SettingsPost.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Frontend/Index/Activate.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Frontend/Index/IndexPost.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Frontend/Index/UnsubscribePost.php
  ACP3/Modules/ACP3/System/src/Controller/Admin/Extensions/Modules.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/ForgotPwd.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/ForgotPwdPost.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/Login.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/LoginPost.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/Logout.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/Register.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/RegisterPost.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the InstallerContext and AbstractInstallerAction
  ACP3/Modules/ACP3/Installer/Resources/config/services.yml
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Error/NotFound.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Error/ServerError.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/AbstractAction.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/AvailableDatabases.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/Install.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/InstallPost.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/Requirements.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Update/Index.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/AbstractInstallerAction.php
  ACP3/Modules/ACP3/Installer/src/Core/Controller/Context/InstallerContext.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

BC break: get rid of some obsolete class constants
  ACP3/Core/src/Application/ControllerActionDispatcher.php
  ACP3/Core/src/Application/Event/ControllerActionAfterDispatchEvent.php
  ACP3/Core/src/Application/Event/ControllerActionBeforeDispatchEvent.php
  ACP3/Core/src/Application/EventListener/AddEsiSurrogateHeaderListener.php
  ACP3/Core/src/Application/EventListener/AddTemplateVariablesListener.php
  ACP3/Core/src/Application/EventListener/CheckPermissionListener.php
  ACP3/Modules/ACP3/Installer/src/EventListener/AddTemplateVariablesListener.php
  ACP3/Modules/ACP3/System/src/EventListener/SetLayoutListener.php
  ACP3/Modules/ACP3/Users/src/EventListener/IsUserAuthenticatedListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add some type hints
  ACP3/Core/src/Http/Request/UserAgent.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

integrate the DisplayActionTrait into the AbstractWidgetAction
  ACP3/Core/src/Controller/AbstractWidgetAction.php
  ACP3/Core/src/Controller/DisplayActionTrait.php
  ACP3/Core/tests/Controller/AbstractWidgetActionImpl.php
  ACP3/Core/tests/Controller/AbstractWidgetActionTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add a missing type hint
  ACP3/Modules/ACP3/System/src/Controller/Admin/Extensions/Modules.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

use the PHP8 match instead of a switch statement
  ACP3/Core/src/Date.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan
