Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

test:php-unit:
  image: registry.gitlab.com/acp3/php-docker:${PHP_VERSION}
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  ...

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .php-cs-fixer.cache
  script:
  - composer run-script lint
  needs:
  - composer

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .phpstan-cache
  script:
  - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
  - composer

fix a bug within the PictureValidationRule
  ACP3/Core/.gitattributes
  ACP3/Core/fixtures/150.png
  ACP3/Core/src/Validation/ValidationRules/PictureValidationRule.php
  ACP3/Core/tests/Validation/ValidationRules/PictureValidationRuleTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.1.2
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

revert an overly strict type annotation
  ACP3/Core/src/Validation/Validator.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

improve a type hint
  ACP3/Core/src/Model/AbstractModel.php
  ACP3/Core/src/Model/DuplicationAwareTrait.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.1.3
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

fix a minor bug in the breadcrumb generation
  ACP3/Core/src/Breadcrumb/Steps.php
  ACP3/Core/tests/Breadcrumb/StepsTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove some obsolete code
  ACP3/Core/tests/Helpers/PageBreaksTest.php
  ACP3/Core/tests/Validation/AbstractFormValidationTest.php
  ACP3/Modules/ACP3/System/tests/Core/Router/RouterTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.1.4
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

guard the subtree-split job with a resource group
  .gitlab/ci/sync.gitlab-ci.yml
Due: test:php-unit, test:php-cs-fixer, test:phpstan

fix the Concat*RendererStrategies
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatJavaScriptRendererStrategy.php
  CHANGELOG-6.x.md
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.1.5
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

display all menu items in the user menu
  ACP3/Modules/ACP3/Users/src/ViewProviders/UserMenuViewProvider.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

move the FULLTEXT indexes into their corresponding modules
  ACP3/Modules/ACP3/Articles/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Articles/src/Installer/Schema.php
  ACP3/Modules/ACP3/Articles/src/Migration/Migration20220807160901.php
  ACP3/Modules/ACP3/Articlessearch/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Articlessearch/Resources/config/services.yml
  ACP3/Modules/ACP3/Articlessearch/src/Installer/Schema.php
  ACP3/Modules/ACP3/Files/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Files/src/Installer/Schema.php
  ACP3/Modules/ACP3/Files/src/Migration/Migration20220807160401.php
  ACP3/Modules/ACP3/Filessearch/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Filessearch/Resources/config/services.yml
  ACP3/Modules/ACP3/Filessearch/src/Installer/Schema.php
  ACP3/Modules/ACP3/News/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/News/src/Installer/Schema.php
  ACP3/Modules/ACP3/News/src/Migration/Migration20220807160801.php
  ACP3/Modules/ACP3/Newssearch/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Newssearch/Resources/config/services.yml
  ACP3/Modules/ACP3/Newssearch/src/Installer/Schema.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

enforce stricter types for the search
  ACP3/Modules/ACP3/Articlessearch/src/Extension/SearchAvailabilityExtension.php
  ACP3/Modules/ACP3/Articlessearch/src/Repository/SearchResultsAwareRepository.php
  ACP3/Modules/ACP3/Filessearch/src/Extension/SearchAvailabilityExtension.php
  ACP3/Modules/ACP3/Filessearch/src/Repository/SearchResultsAwareRepository.php
  ACP3/Modules/ACP3/Newssearch/src/Extension/SearchAvailabilityExtension.php
  ACP3/Modules/ACP3/Newssearch/src/Repository/SearchResultsAwareRepository.php
  ACP3/Modules/ACP3/Search/src/Controller/Frontend/Index/IndexPost.php
  ACP3/Modules/ACP3/Search/src/Enum/SearchAreaEnum.php
  ACP3/Modules/ACP3/Search/src/Enum/SortDirectionEnum.php
  ACP3/Modules/ACP3/Search/src/Extension/AbstractSearchAvailabilityExtension.php
  ACP3/Modules/ACP3/Search/src/Extension/SearchAvailabilityExtensionInterface.php
  ACP3/Modules/ACP3/Search/src/Repository/SearchResultsAwareRepositoryInterface.php
  ACP3/Modules/ACP3/Search/src/Validation/FormValidation.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the composer dependencies
  composer.lock
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  package-lock.json
Due: build:npm

introduce some more enums
  ACP3/Modules/ACP3/Menus/src/Enum/PageTypeEnum.php
  ACP3/Modules/ACP3/Menus/src/Validation/MenuItemFormValidation.php
  ACP3/Modules/ACP3/Menus/src/ViewProviders/AdminMenuItemEditViewProvider.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Permissions/src/Enum/ProtectedRolesEnum.php
  ACP3/Modules/ACP3/Seo/src/Enum/MetaRobotsEnum.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Seo/src/ViewProviders/AdminSettingsViewProvider.php
  ACP3/Modules/ACP3/Seo/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/System/src/Enum/SiteSubtitleModeEnum.php
  ACP3/Modules/ACP3/System/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/System/src/ViewProviders/AdminSettingsViewProvider.php
  ACP3/Modules/ACP3/Users/src/Enum/GenderEnum.php
  ACP3/Modules/ACP3/Users/src/Validation/AbstractUserFormValidation.php
  ACP3/Modules/ACP3/Users/src/ViewProviders/UserProfileViewProvider.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove the deprecated StreamedResponseListener
  ACP3/Core/Resources/config/components/application.yml
Due: none

fix the missing "structured_data" column after installing the ACP3
  ACP3/Modules/ACP3/Seo/src/Installer/Schema.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

add the possibility to specify canonical URLs via the UI
  ACP3/Core/src/SEO/Enum/MetaRobotsEnum.php
  ACP3/Core/src/SEO/MetaStatementsService.php
  ACP3/Core/src/SEO/MetaStatementsServiceInterface.php
  ACP3/Modules/ACP3/Seo/Resources/View/Partials/seo_fields.tpl
  ACP3/Modules/ACP3/Seo/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Seo/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Seo/src/Helper/MetaFormFields.php
  ACP3/Modules/ACP3/Seo/src/Installer/Schema.php
  ACP3/Modules/ACP3/Seo/src/Migration/Migration202208072314.php
  ACP3/Modules/ACP3/Seo/src/Model/SeoModel.php
  ACP3/Modules/ACP3/Seo/src/Repository/SeoRepository.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Seo/src/ViewProviders/AdminSettingsViewProvider.php
  ACP3/Modules/ACP3/Seo/src/ViewProviders/DataGridViewProvider.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove --prefer-offline from the npm ci job
  .gitlab/ci/prepare.gitlab-ci.yml
Due: test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.2.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Articlessearch/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Filessearch/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newssearch/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/Search/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

fixed saving entries after the canonical URL addition
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasesOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/InsertUriAliasOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Seo/src/Helper/UriAliasManager.php
  CHANGELOG-6.x.md
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.2.1
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Galleryseo/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

display readonly and disabled form inputs as plaintext
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.input_text.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.textarea.tpl
Due: none

change the repo URL of file-manager
  .gitlab/ci/prepare.gitlab-ci.yml
  package-lock.json
  package.json
Due: build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

improve the responsive behaviour of the forms
  ACP3/Modules/ACP3/Categories/Resources/View/Partials/create_list.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.index.tpl
  ACP3/Modules/ACP3/Installer/Resources/View/Installer/index.install.tpl
  ACP3/Modules/ACP3/Installer/Resources/View/Installer/index.requirements.tpl
  ACP3/Modules/ACP3/Menus/Resources/View/Admin/index.index.tpl
  ACP3/Modules/ACP3/Menus/Resources/View/Partials/menu_item_fields.tpl
  ACP3/Modules/ACP3/News/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Newsletter/Resources/View/Frontend/index.index.tpl
  ACP3/Modules/ACP3/Polls/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Search/Resources/View/Frontend/index.index.tpl
  ACP3/Modules/ACP3/Seo/Resources/View/Admin/index.settings.tpl
  ACP3/Modules/ACP3/Seo/Resources/View/Partials/seo_fields.tpl
  ACP3/Modules/ACP3/System/Resources/View/Admin/index.settings.tpl
  ACP3/Modules/ACP3/System/Resources/View/Admin/maintenance.cache.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/datepicker.range.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.base.tpl
Due: none

add a separate partial template for the category creation
  ACP3/Modules/ACP3/Categories/Resources/View/Partials/form_group.categories.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/News/Resources/View/Admin/index.create.tpl
Due: none

add a separate partial template for the filesize selection
  ACP3/Modules/ACP3/Files/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Partials/form_group.filesize.tpl
Due: none

increase the re-usability of the form_group.* partial templates
  ACP3/Modules/ACP3/Polls/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.base.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.input_text.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.textarea.tpl
Due: none

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  test:php-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, .php-cs-fixer.dist.php, .gitlab-ci.yml
  test:phpstan: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
