Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php-unit:
  image: registry.gitlab.com/acp3/php-docker:${PHP_VERSION}
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml
  parallel:
    matrix:
      - PHP_VERSION: "8.0"
      - PHP_VERSION: "8.1"

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php-cs-fixer.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php-cs-fixer.dist.php
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

reuse some more of the form-group partial templates
  ACP3/Core/src/Helpers/Forms.php
  ACP3/Modules/ACP3/Polls/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Search/Resources/View/Frontend/index.index.tpl
  ACP3/Modules/ACP3/Search/src/ViewProviders/SearchViewProvider.php
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.button_group_checkbox.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.submit.tpl
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

extract the timezone form field into a partial template
  ACP3/Modules/ACP3/Installer/Resources/View/Installer/index.install.tpl
  ACP3/Modules/ACP3/System/Resources/View/Admin/index.settings.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.time_zone.tpl
Due: none

extract the parent menu item form field into a partial template
  ACP3/Modules/ACP3/Menus/Resources/View/Partials/form_group.parent_menu_item.tpl
  ACP3/Modules/ACP3/Menus/Resources/View/Partials/menu_item_fields.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.select.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.time_zone.tpl
Due: none

remove some obsolete code
  ACP3/Modules/ACP3/Categories/Resources/View/Partials/create_list.tpl
Due: none

add a hyperlink form-group partial template and use it
  ACP3/Modules/ACP3/Seo/Resources/View/Admin/index.settings.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.hyperlink.tpl
Due: none

fix a minor type problem when the manual cache purging is active
  ACP3/Modules/ACP3/System/src/EventListener/InvalidatePageCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/System/src/Services/CacheClearService.php
  ACP3/Modules/ACP3/System/tests/EventListener/InvalidatePageCacheOnModelAfterSaveListenerTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix the timezone form-group partial template
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.time_zone.tpl
Due: none

decrease the height of some alerts
  ACP3/Modules/ACP3/System/Resources/View/Partials/alert_invalid_page_cache.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/alert_update_check.tpl
Due: none

fix a minor visual bug
  ACP3/Modules/ACP3/Acp/Resources/View/Admin/index.index.tpl
Due: none

update the NPM dependencies
  package-lock.json
Due: build:npm

update the composer dependencies
  composer.lock
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

slightly improve the visuals of the update check page
  ACP3/Modules/ACP3/System/Resources/View/Admin/maintenance.update_check.tpl
Due: none

remove the docker-container after the pre-commit-hook has finished
  .husky/pre-commit
Due: none

update the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.3.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Acp/composer.json
  ACP3/Modules/ACP3/Categories/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newsletter/composer.json
  ACP3/Modules/ACP3/Polls/composer.json
  ACP3/Modules/ACP3/Search/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

remove some obsolete branches from gitsplit
  .gitsplit.yml
Due: none

add the formFieldId capability to the wysiwyg form-group partial template, too
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.wysiwyg.tpl
Due: none

add a missing space
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.base.tpl
Due: none

bump the version to 6.3.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

add photoswipe as a possible fancybox replacement
  ACP3/Modules/ACP3/System/Resources/Assets/css/photoswipe.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe-lightbox.umd.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe.umd.min.js
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  build/gulp/copy.js
  package-lock.json
  package.json
Due: build:npm

use photoswipe for the gallery pictures
  ACP3/Modules/ACP3/Gallery/Resources/Assets/js/frontend/index.pics.js
  ACP3/Modules/ACP3/Gallery/Resources/Assets/js/frontend/index.pics.min.js
  ACP3/Modules/ACP3/Gallery/Resources/Assets/js/frontend/index.pics.min.js.map
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.pics.tpl
  ACP3/Modules/ACP3/Gallery/src/Services/GalleryService.php
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

remove the overlay/no-overlay setting
  ACP3/Modules/ACP3/Gallery/Resources/View/Admin/index.settings.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.pics.tpl
  ACP3/Modules/ACP3/Gallery/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Gallery/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Gallery/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/SettingsPost.php
  ACP3/Modules/ACP3/Gallery/src/Installer/Schema.php
  ACP3/Modules/ACP3/Gallery/src/Migration/Migration20220815222001.php
  ACP3/Modules/ACP3/Gallery/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/AdminSettingsViewProvider.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/GalleryPictureDetailsViewProvider.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/GalleryPictureListViewProvider.php
  ACP3/Modules/ACP3/Gallerycomments/Resources/Assets/js/partials/index.settings.js
  ACP3/Modules/ACP3/Gallerycomments/Resources/Assets/js/partials/index.settings.min.js
  ACP3/Modules/ACP3/Gallerycomments/Resources/Assets/js/partials/index.settings.min.js.map
  ACP3/Modules/ACP3/Gallerycomments/Resources/View/Partials/gallery_layout_settings.tpl
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryLayoutDetailsAfterEventListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryLayoutUpsertEventListener.php
  ACP3/Modules/ACP3/Galleryseo/src/Extension/SitemapAvailabilityExtension.php
  ACP3/Modules/ACP3/System/src/Migration/Migration79.php
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

add back the possibility to state captions for photoswipe again
  ACP3/Modules/ACP3/Gallery/Resources/Assets/js/frontend/index.pics.js
  ACP3/Modules/ACP3/Gallery/Resources/Assets/js/frontend/index.pics.min.js
  ACP3/Modules/ACP3/Gallery/Resources/Assets/js/frontend/index.pics.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/css/photoswipe-caption.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/scss/photoswipe-caption.scss
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
Due: build:npm

deprecate fancybox
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
Due: none

fix the user login form
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.submit.tpl
Due: none

bump the version to 6.4.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Gallerycomments/composer.json
  ACP3/Modules/ACP3/Galleryseo/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

make it possible to add subtitles to news
  ACP3/Modules/ACP3/Articles/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/News/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/News/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/News/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/News/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/News/src/Controller/Admin/Index/Create.php
  ACP3/Modules/ACP3/News/src/Installer/SampleData.php
  ACP3/Modules/ACP3/News/src/Installer/Schema.php
  ACP3/Modules/ACP3/News/src/Migration/Migration20220819232101.php
  ACP3/Modules/ACP3/News/src/Model/NewsModel.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

make it possible to add subtitles to galleries
  ACP3/Modules/ACP3/Gallery/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Gallery/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Gallery/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/Create.php
  ACP3/Modules/ACP3/Gallery/src/Installer/Schema.php
  ACP3/Modules/ACP3/Gallery/src/Migration/Migration20220819233301.php
  ACP3/Modules/ACP3/Gallery/src/Model/GalleryModel.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

make all wysiwyg editor features available when creating/editing a gallery
  ACP3/Modules/ACP3/Gallery/Resources/View/Admin/index.create.tpl
Due: none

do not require subtitle when creating/editing galleries
  ACP3/Modules/ACP3/Gallery/Resources/View/Admin/index.create.tpl
Due: none

make the subtitle for news optional
  ACP3/Modules/ACP3/News/Resources/View/Admin/index.create.tpl
Due: none

remove the strict_types declaration from the ControllerActionDispatcher
  ACP3/Core/src/Application/ControllerActionDispatcher.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

make it possible to add subtitle to downloads
  ACP3/Modules/ACP3/Files/Resources/View/Admin/index.create.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Files/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Files/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Files/src/Controller/Admin/Index/Create.php
  ACP3/Modules/ACP3/Files/src/Installer/Schema.php
  ACP3/Modules/ACP3/Files/src/Migration/Migration20220819233801.php
  ACP3/Modules/ACP3/Files/src/Model/FilesModel.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

rewrite internal uris in the gallery picture details page
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.details.tpl
Due: none

leverage the gallery subtitle in the gallery pictures page, too
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.pics.tpl
Due: none
