Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

bump the version to 6.10.2
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Acp/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

update the changelog
  CHANGELOG-6.x.md
Due: none

2nd attempt at fixing the theme specific translation customizations
  ACP3/Core/src/I18n/Dictionary.php
  CHANGELOG-6.x.md
Due: build:composer

bump the version to 6.10.3
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

deprecate the `ControllerActionRequestEvent::NAME` constant
  ACP3/Core/src/Application/ControllerActionDispatcher.php
  ACP3/Core/src/Application/Event/ControllerActionRequestEvent.php
  ACP3/Core/src/Http/EventListener/ResetRequestListener.php
  ACP3/Modules/ACP3/Installer/src/EventListener/OnLanguageChangeListener.php
  ACP3/Modules/ACP3/System/src/EventListener/CheckMaintenanceModeListener.php
Due: build:composer

run the update check when the response has been sent
  ACP3/Modules/ACP3/System/src/Controller/Admin/Maintenance/UpdateCheck.php
  ACP3/Modules/ACP3/System/src/EventListener/UpdateCheckListener.php
  ACP3/Modules/ACP3/System/src/Helper/UpdateCheck.php
  ACP3/Modules/ACP3/System/tests/Helper/UpdateCheckTest.php
Due: build:composer

type hint against the RequestInterface instead of a concrete implementation
  ACP3/Core/tests/Assets/PageCssClassesTest.php
  ACP3/Core/tests/Breadcrumb/StepsTest.php
  ACP3/Core/tests/Helpers/Formatter/RewriteInternalUriTest.php
  ACP3/Core/tests/Helpers/FormsTest.php
  ACP3/Core/tests/Helpers/PageBreaksTest.php
  ACP3/Core/tests/Http/RedirectResponseTest.php
  ACP3/Core/tests/Validation/AbstractFormValidationTest.php
  ACP3/Core/tests/View/Renderer/Smarty/Filters/PageCssClassesTest.php
  ACP3/Modules/ACP3/Seo/src/ViewProviders/AdminSeoEditViewProvider.php
  ACP3/Modules/ACP3/System/tests/Core/Breadcrumb/TitleTest.php
  ACP3/Modules/ACP3/System/tests/Core/Router/RouterTest.php
Due: build:composer

slightly rework the LoadModule smarty function and cover it with unit tests
  ACP3/Core/Resources/config/components/smarty_functions.yml
  ACP3/Core/src/View/Renderer/Smarty/Functions/LoadModule.php
  ACP3/Core/tests/View/Renderer/Smarty/Functions/LoadModuleTest.php
Due: build:composer

rework the area retrieval
  ACP3/Core/Resources/config/components/environment.yml
  ACP3/Core/src/Environment/AreaMatcher.php
  ACP3/Core/src/Http/AbstractRequest.php
  ACP3/Core/src/Http/Request.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/LoadModule.php
  ACP3/Modules/ACP3/Installer/Resources/config/services_overrides.yml
  ACP3/Modules/ACP3/Installer/src/Core/Http/Request.php
  ACP3/Modules/ACP3/Installer/src/Core/Http/RequestFactory.php
  ACP3/Modules/ACP3/Seo/Resources/config/components/overrides.yml
  ACP3/Modules/ACP3/Seo/src/Core/Http/Request.php
  ACP3/Modules/ACP3/Seo/src/Core/Http/RequestFactory.php
  ACP3/Modules/ACP3/System/Resources/config/components/http.yml
  ACP3/Modules/ACP3/System/src/Core/Http/RequestConfigurator.php
  ACP3/Modules/ACP3/System/src/Core/Http/RequestFactory.php
Due: build:composer

fix rendering the captchas
  ACP3/Modules/ACP3/Captcha/Resources/View/Frontend/index.image.tpl
  ACP3/Modules/ACP3/Captcha/Resources/View/Partials/captcha_native.tpl
  ACP3/Modules/ACP3/Captcha/src/Controller/Frontend/Index/Image.php
Due: build:composer

improve the code style
  ACP3/Core/src/View/Renderer/Smarty/Filters/PageCssClasses.php
Due: build:composer

fix accessing the admin panel pages
  ACP3/Core/src/Environment/AreaMatcher.php
Due: build:composer

make it possible to have different module specific stylesheets for the frontend and admin panel pages
  ACP3/Core/src/Assets/Renderer/Strategies/CSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/tests/Assets/Renderer/Strategies/CSSRendererStrategyTest.php
  ACP3/Modules/ACP3/Permissions/Resources/Assets/scss/admin.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/admin.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/style.scss
Due: build:composer

improve a type hint
  ACP3/Core/src/Assets/Libraries.php
Due: build:composer

made it possible to have specialized assets when in admin or the user is logged in
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/src/Assets/FileResolver/MinifiedAwareFileCheckerStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/AbstractConcatRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/tests/Assets/FileResolver/MinifiedAwareFileCheckerStrategyTest.php
  ACP3/Core/tests/Assets/FileResolverTest.php
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
Due: build:composer

modernize the events of the *Model-classes
  ACP3/Core/src/Model/AbstractModel.php
  ACP3/Core/src/Model/Event/AbstractModelDeleteEvent.php
  ACP3/Core/src/Model/Event/AbstractModelSaveEvent.php
  ACP3/Core/src/Model/Event/AfterModelDeleteEvent.php
  ACP3/Core/src/Model/Event/AfterModelSaveEvent.php
  ACP3/Core/src/Model/Event/BeforeModelDeleteEvent.php
  ACP3/Core/src/Model/Event/BeforeModelSaveEvent.php
  ACP3/Core/src/Model/Event/ModelSaveEvent.php
  ACP3/Core/src/Model/SortingAwareTrait.php
  ACP3/Core/src/NestedSet/Model/AbstractNestedSetModel.php
  ACP3/Modules/ACP3/Articlesmenus/src/EventListener/OnArticlesModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Articlesseo/src/EventListener/OnArticlesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Articlesshare/src/EventListener/OnArticlesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Auditlog/src/EventListener/OnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Categories/src/EventListener/DeleteCategoryPictureOnOnCategoriesModelDeleteBeforeListener.php
  ACP3/Modules/ACP3/Emoticons/src/EventListener/OnEmoticonsModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Files/src/EventListener/OnFilesModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Filesseo/src/EventListener/OnFilesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Filesshare/src/EventListener/OnFilesModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryPictureModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/OnGalleryModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/OnGalleryPictureModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryshare/src/EventListener/OnGalleryModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryshare/src/EventListener/OnGalleryPictureModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Menus/src/EventListener/OnMenusModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Newsseo/src/EventListener/OnNewsModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Newsshare/src/EventListener/OnNewsModelAfterDeleteListener.php
  ACP3/Modules/ACP3/System/src/EventListener/InvalidatePageCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Users/src/EventListener/ForbidSuperUserDeleteListener.php
Due: build:composer

replace some deprecated `ModelSaveEvent` usages
  ACP3/Modules/ACP3/Articlesmenus/src/EventListener/OnArticlesModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Articlesseo/src/EventListener/OnArticlesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Articlesshare/src/EventListener/OnArticlesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Auditlog/src/EventListener/OnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Categories/src/EventListener/DeleteCategoryPictureOnOnCategoriesModelDeleteBeforeListener.php
  ACP3/Modules/ACP3/Emoticons/src/EventListener/OnEmoticonsModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Files/src/EventListener/OnFilesModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Filesseo/src/EventListener/OnFilesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Filesshare/src/EventListener/OnFilesModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Gallery/src/EventListener/PictureDeleteListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryPictureModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasesOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/OnGalleryModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/OnGalleryPictureModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryshare/src/EventListener/OnGalleryModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryshare/src/EventListener/OnGalleryPictureModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Guestbook/src/EventListener/SendNotificationEmailOnGuestbookModelAfterSaveListener.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/SubscribeToNewsletterOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Menus/src/EventListener/ManageMenuItemOnModelSaveAfterListener.php
  ACP3/Modules/ACP3/Menus/src/EventListener/OnMenusModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Newsseo/src/EventListener/OnNewsModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Newsshare/src/EventListener/OnNewsModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/GenerateSitemapListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/InsertUriAliasOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Share/src/EventListener/SaveSharingInfoOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Users/src/EventListener/ForbidSuperUserDeleteListener.php
  ACP3/Modules/ACP3/Users/src/EventListener/SendRegistrationMailListener.php
Due: build:composer

bump the version to 6.11.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Articlesmenus/composer.json
  ACP3/Modules/ACP3/Articlesseo/composer.json
  ACP3/Modules/ACP3/Articlesshare/composer.json
  ACP3/Modules/ACP3/Auditlog/composer.json
  ACP3/Modules/ACP3/Captcha/composer.json
  ACP3/Modules/ACP3/Categories/composer.json
  ACP3/Modules/ACP3/Emoticons/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Filescomments/composer.json
  ACP3/Modules/ACP3/Filesseo/composer.json
  ACP3/Modules/ACP3/Filesshare/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Gallerycomments/composer.json
  ACP3/Modules/ACP3/Galleryseo/composer.json
  ACP3/Modules/ACP3/Galleryshare/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Guestbooknewsletter/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newscomments/composer.json
  ACP3/Modules/ACP3/Newsseo/composer.json
  ACP3/Modules/ACP3/Newsshare/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

fix the area specific static asset delivery
  ACP3/Core/src/Assets/FileResolver/MinifiedAwareFileCheckerStrategy.php
  ACP3/Core/tests/Assets/FileResolver/MinifiedAwareFileCheckerStrategyTest.php
Due: build:composer

prepare the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.11.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

use a more robust solution for modifying the request URL
  ACP3/Core/src/Http/Request.php
Due: build:composer

fix forwarding to other controller actions
  ACP3/Core/Resources/config/components/controller.yml
  ACP3/Core/src/Controller/EventListener/ForwardControllerActionExceptionErrorListener.php
Due: build:composer

bump the version to 6.11.2
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

add cssnano to compress the CSS files a little better
  build/gulp/scss.js
  package-lock.json
  package.json
Due: build:npm

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm

update the composer dependencies
  ACP3/Core/src/ACL/Exception/AccessForbiddenException.php
  ACP3/Core/src/Controller/Exception/ControllerActionNotFoundException.php
  ACP3/Core/src/Controller/Exception/ResultNotExistsException.php
  ACP3/Core/src/Enum/BaseEnum.php
  ACP3/Core/src/I18n/Dictionary.php
  ACP3/Core/src/Validation/ValidationRules/BirthdayValidationRule.php
  ACP3/Core/src/Validation/ValidationRules/DateValidationRule.php
  ACP3/Modules/ACP3/Users/src/Controller/Admin/Index/EditPost.php
  composer.lock
Due: build:composer

bump the version to 6.12.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

disable xdebug while running PHPStan
  composer.json
Due: build:composer

remove the PHP container's dependency on the db container
  docker-compose.yml
Due: none

optimize the pre-commit hook
  .husky/pre-commit
  package-lock.json
  package.json
Due: build:npm

test the pre-commit hook
  .husky/pre-commit
  ACP3/Modules/ACP3/Articles/src/Controller/Frontend/Index/Details.php
  package.json
Due: build:composer, build:npm
