Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php-unit:
  image: registry.gitlab.com/acp3/php-docker:${PHP_VERSION}
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml
  parallel:
    matrix:
      - PHP_VERSION: "8.0"
      - PHP_VERSION: "8.1"

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php-cs-fixer.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php-cs-fixer.dist.php
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

inject the file-checker-strategies dynamically
  ACP3/Core/Resources/config/components/assets.yml
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/tests/Assets/FileResolverTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix a minor bug with a JS snippet
  ACP3/Modules/ACP3/Menus/Resources/View/Partials/menu_item_fields.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.select.tpl
Due: none

fix a bug in the webpack gulp task with the entry points
  build/gulp/webpack.js
Due: none

remove some more obsolete files
  designs/acp3-installer/System/Resources/Assets/js/bootstrap.bundle.min.js
  designs/acp3-installer/System/Resources/Assets/js/bootstrap.bundle.min.js.map
  designs/acp3-installer/System/Resources/Assets/js/language-switcher.min.js
  designs/acp3-installer/System/Resources/Assets/js/language-switcher.min.js.map
Due: none

add the webpack-manifest-plugin
  build/gulp/webpack.js
  package-lock.json
  package.json
Due: build:npm

uninstall the webpack-manifest-plugin again
  build/gulp/webpack.js
  package-lock.json
  package.json
Due: build:npm

fix a typo
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/utils.js
Due: build:npm

add path aliases to webpack
  ACP3/Core/src/Console/Command/ComponentPathsCommand.php
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.js
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/lib/suggest-alias.js
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.js
  build/gulp/component-paths.js
  build/gulp/webpack.js
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

externalise the webpack-config
  build/gulp/webpack.js
  webpack.config.js
Due: none

rename some variables
  build/gulp/component-paths.js
Due: none

consolidate some duplicated glob patterns
  build/gulp/component-paths.js
Due: none

create most of the gulp tasks dynamically
  build/gulp/bump-version.js
  build/gulp/clean.js
  build/gulp/copy-assets.js
  build/gulp/eslint.js
  build/gulp/helpers/component-paths.js
  build/gulp/scss.js
  build/gulp/stylelint.js
  build/gulp/watch.js
  build/gulp/webpack.js
  gulpfile.js
  webpack.config.js
Due: none

fix the gulp watch task
  gulpfile.js
Due: none

update the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.8.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Captcha/composer.json
  ACP3/Modules/ACP3/Contact/composer.json
  ACP3/Modules/ACP3/Emoticons/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/Search/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  ACP3/Modules/ACP3/Wysiwygtinymce/composer.json
  CHANGELOG-6.x.md
  designs/acp3-installer/composer.json
  designs/acp3/composer.json
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

fix a minor bug in the static assets generation
  build/gulp/helpers/component-paths.js
Due: none

bump the version to 6.8.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

use the FileResolver for including the CKEditor
  ACP3/Modules/ACP3/Wysiwygckeditor/src/WYSIWYG/Editor/CKEditor.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

use the FileResolver for including the rich-filemanager
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/config/filemanager.config.json
  ACP3/Modules/ACP3/Filemanager/src/Helpers.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

add a CLI-command which allows warming up the caches
  ACP3/Core/src/Console/Command/DumpContainerCommand.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.9.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Filemanager/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

update the composer dependencies
  composer.lock
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix fetching the available layout files
  ACP3/Core/.gitattributes
  ACP3/Core/Resources/config/components/view.yml
  ACP3/Core/composer.json
  ACP3/Core/src/View/Layout.php
  ACP3/Core/tests/View/LayoutTest.php
  ACP3/Modules/ACP3/Articles/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Articles/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Articles/src/ViewProviders/AdminArticleEditViewProvider.php
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/System/src/Core/Environment/Theme.php
  composer.lock
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.10.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

try to fix the memory_limit error
  .gitlab/ci/test-php.gitlab-ci.yml
  composer.json
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.10.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

fix the theme specific translation customizations
  ACP3/Core/src/I18n/Dictionary.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix the PageCssClasses output filter, if there is already an existing class attribute at the <body>-tag
  ACP3/Core/composer.json
  ACP3/Core/src/View/Renderer/Smarty/Filters/PageCssClasses.php
  ACP3/Core/tests/View/Renderer/Smarty/Filters/PageCssClassesTest.php
  composer.lock
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

unbox the admin panel homepage
  ACP3/Modules/ACP3/Acp/Resources/View/Admin/index.index.tpl
Due: none
