Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci --no-progress
  artifacts:
    paths:
    - node_modules

test:php-unit:
  image: registry.gitlab.com/acp3/php-docker:${PHP_VERSION}
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  ...

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .php-cs-fixer.cache
  script:
  - composer run-script lint
  needs:
  - composer

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .phpstan-cache
  script:
  - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
  - composer

update the rector config
  rector.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

add a ::values() helper method for enums
  ACP3/Core/src/Controller/AreaEnum.php
  ACP3/Core/src/Enum/EnumValuesTrait.php
  ACP3/Core/tests/Enum/EnumValuesTraitTest.php
  ACP3/Modules/ACP3/Permissions/src/ViewProviders/AdminResourceEditViewProvider.php
  ACP3/Modules/ACP3/Seo/src/Helper/Enum/IndexPaginatedContentEnum.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminSettingsFormValidation.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the composer dependencies
  composer.lock
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
Due: build:npm, npm

update the Composer dependencies
  composer.lock
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm, npm

regenerate the static assets
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
Due: build:npm, npm

replace only:changes with rules:changes
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

try to reuse the rules:changes between different jobs
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

change, on how the rules.gitlab-ci.yml file gets included
  .gitlab-ci.yml
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

cleanup a little bit
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

reuse the rules:changes for changed PHP files
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

apply the same for the phpstan, phpunit and php-cs-fixer jobs
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

finalize reusing the rules:changes for the various CI jobs
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test-node.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

fix an unstable test
  ACP3/Modules/ACP3/Share/tests/Shariff/BackendManagerTest.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix a code style violation found by PHP-CS-Fixer
  ACP3/Modules/ACP3/Share/tests/Shariff/BackendManagerTest.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

add husky and a lint-all NPM script
  .husky/pre-commit
  package-lock.json
  package.json
Due: build:npm, npm

add a pre-commit hook
  .husky/pre-commit
Due: none

extend the pre-commit hook with checks for PHP, too
  .husky/pre-commit
Due: none

cleanup the editorconfig
  .editorconfig
Due: none

apply a minor optimization to the pre-commit hook
  .husky/pre-commit
Due: none

add and use concurrently for the lint-all NPM script
  package-lock.json
  package.json
Due: build:npm, npm

use prettier's cache within the CI pipeline, too
  .gitlab/ci/test-node.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

skip running "npm ci", if the cache is fresh
  .gitlab/ci/prepare.gitlab-ci.yml
Due: composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/all.css
  ACP3/Modules/ACP3/System/Resources/Assets/css/bootstrap.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/bootstrap.bundle.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/sprites/brands.svg
  ACP3/Modules/ACP3/System/Resources/Assets/sprites/regular.svg
  ACP3/Modules/ACP3/System/Resources/Assets/sprites/solid.svg
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-brands-400.ttf
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-brands-400.woff2
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-regular-400.ttf
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-regular-400.woff2
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-solid-900.ttf
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-solid-900.woff2
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-v4compatibility.ttf
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-v4compatibility.woff2
  designs/acp3-installer/System/Assets/css/bootstrap.min.css
  designs/acp3-installer/System/Assets/js/bootstrap.bundle.min.js
  designs/acp3-installer/System/Assets/js/bootstrap.bundle.min.js.map
  designs/acp3-installer/System/Assets/scss/bootstrap.scss
  designs/acp3/System/Assets/css/bootstrap.min.css
  designs/acp3/System/Assets/scss/bootstrap.scss
  package-lock.json
  package.json
Due: build:npm, npm

update the code style
  ACP3/Core/src/Application/Bootstrap.php
  ACP3/Core/src/Controller/AreaEnum.php
  ACP3/Core/src/NestedSet/Repository/NestedSetRepository.php
  ACP3/Modules/ACP3/Articles/src/Repository/ArticleRepository.php
  ACP3/Modules/ACP3/Comments/src/Repository/CommentRepository.php
  ACP3/Modules/ACP3/Emoticons/src/Repository/EmoticonRepository.php
  ACP3/Modules/ACP3/Files/src/Repository/FilesRepository.php
  ACP3/Modules/ACP3/Gallery/src/Repository/GalleryRepository.php
  ACP3/Modules/ACP3/Gallery/src/Repository/PictureRepository.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasesOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Guestbook/src/Repository/GuestbookRepository.php
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemRepository.php
  ACP3/Modules/ACP3/News/src/Repository/NewsRepository.php
  ACP3/Modules/ACP3/Newsletter/src/Repository/AccountRepository.php
  ACP3/Modules/ACP3/Newsletter/src/Repository/NewsletterRepository.php
  ACP3/Modules/ACP3/Polls/src/ViewProviders/PollWidgetViewProvider.php
  ACP3/Modules/ACP3/Seo/src/Repository/SeoRepository.php
  ACP3/Modules/ACP3/Share/src/Repository/ShareRatingsRepository.php
  ACP3/Modules/ACP3/Share/src/Repository/ShareRepository.php
  ACP3/Modules/ACP3/System/src/Repository/ModulesRepository.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

enable the fastzip feature flag
  .gitlab-ci.yml
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

adapt the npm-job to gitlab's recommendation
  .gitlab-ci.yml
  .gitlab/ci/prepare.gitlab-ci.yml
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

remove the ReservedFnFunctionRector
  rector.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

run rector
  ACP3/Core/src/DataGrid/ColumnRenderer/NestedSetSortColumnRenderer.php
  ACP3/Core/src/DataGrid/ColumnRenderer/SortColumnRenderer.php
  ACP3/Core/src/Environment/ApplicationPath.php
  ACP3/Core/src/Helpers/Formatter/RewriteInternalUri.php
  ACP3/Core/src/Http/AbstractRequest.php
  ACP3/Core/src/Model/AbstractModel.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/TextColumnType.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/LoadModule.php
  ACP3/Core/tests/DataGrid/ColumnRenderer/AbstractColumnRendererTest.php
  ACP3/Core/tests/Date/DateTranslatorTest.php
  ACP3/Modules/ACP3/Files/src/Controller/Frontend/Index/Download.php
  ACP3/Modules/ACP3/Files/src/ViewProviders/AdminFileEditViewProvider.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/EditPost.php
  ACP3/Modules/ACP3/Share/src/Shariff/Backend/Facebook.php
  ACP3/Modules/ACP3/Share/src/Shariff/BackendManager.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/LoginPost.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the changelog
  CHANGELOG-6.x.md
Due: none

improve a type annotation
  ACP3/Core/src/Helpers/TableOfContents.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.1.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  composer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  npm: any of: .gitlab/ci/*.yml, ACP3/**/*.{css,js,less,scss}, design/**/*.{css,js,less,scss}, installation/**/*.{css,js,less,scss}, package.json, package-lock.json, .eslintignore, .eslintrc.json, .prettierignore, .prettierrc.json, .stylelintignore, .stylelintrc, .gitlab-ci.yml
  test:php-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, .php-cs-fixer.dist.php, .gitlab-ci.yml
  test:phpstan: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
