Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci --no-progress
  artifacts:
    paths:
    - node_modules

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  needs:
  ...

test:php74-unit:
  image: registry.gitlab.com/acp3/php-docker:7.4
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php80-unit:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .php_cs.cache
  script:
  - composer run-script lint
  needs:
  - composer

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .phpstan-cache
  script:
  - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
  - composer

remove the transaction handling from the SchemaHelper
  ACP3/Core/src/Modules/SchemaHelper.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the transaction handling from the Migrator
  ACP3/Core/src/Migration/Migrator.php
  ACP3/Core/tests/Migration/MigratorTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the code style
  ACP3/Core/src/Mailer.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

skip executing migrations when their dependent migration haven't been executed yet
  ACP3/Core/src/Migration/Migrator.php
  ACP3/Core/tests/Migration/MigratorTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the info.xml files for all themes
  ACP3/Core/src/Assets.php
  ACP3/Core/src/Environment/ThemePathInterface.php
  ACP3/Core/tests/AssetsTest.php
  ACP3/Modules/ACP3/System/src/Core/Environment/Theme.php
  designs/acp3-installer/composer.json
  designs/acp3-installer/info.xml
  designs/acp3/composer.json
  designs/acp3/info.xml
  tests/designs/acp3-inherit/composer.json
  tests/designs/acp3-inherit/info.xml
  tests/designs/acp3/composer.json
  tests/designs/acp3/info.xml
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add some type hints
  ACP3/Core/src/Console/Application.php
  ACP3/Core/src/Installer/SchemaRegistrar.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/Image.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove obsolete code
  ACP3/Core/src/XML.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

Update the NPM dependencies
  package-lock.json
Due: build:npm, npm

fix code style offences found by prettier
  designs/acp3-installer/composer.json
  designs/acp3/composer.json
  tests/designs/acp3-inherit/composer.json
  tests/designs/acp3/composer.json
Due: none

fix the codeclimate.yml according to its schema
  .codeclimate.yml
Due: none

update the Composer dependencies
  ACP3/Core/src/Application/BootstrapCache.php
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update filemanager-php
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

apply some fixes required by Symfony 6.x
  ACP3/Core/src/Helpers/FormAction.php
  ACP3/Modules/ACP3/Categories/src/Helpers.php
  ACP3/Modules/ACP3/Permissions/src/ViewProviders/AdminRoleEditViewProvider.php
  ACP3/Modules/ACP3/Polls/src/ViewProviders/AdminPollEditViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the delete actions
  ACP3/Core/src/Helpers/FormAction.php
  ACP3/Modules/ACP3/Articles/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Categories/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Comments/src/Controller/Admin/Details/Delete.php
  ACP3/Modules/ACP3/Comments/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Contact/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Emoticons/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Files/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/Delete.php
  ACP3/Modules/ACP3/Guestbook/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Menus/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Menus/src/Controller/Admin/Items/Delete.php
  ACP3/Modules/ACP3/News/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Admin/Accounts/Delete.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Resources/Delete.php
  ACP3/Modules/ACP3/Polls/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Seo/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Share/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Users/src/Controller/Admin/Index/Delete.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
Due: build:npm, npm

add a comfortable way to add JSON-LD formatted structured data
  ACP3/Core/src/SEO/MetaStatementsService.php
  ACP3/Core/src/SEO/MetaStatementsServiceInterface.php
  ACP3/Core/src/Validation/ValidationRules/AbstractValidationRule.php
  ACP3/Core/src/Validation/ValidationRules/ValidationRuleInterface.php
  ACP3/Modules/ACP3/Seo/Resources/View/Partials/seo_fields.tpl
  ACP3/Modules/ACP3/Seo/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Seo/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Seo/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Seo/src/EventListener/GenerateSitemapListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/InsertUriAliasOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/OnLayoutContentAfterRenderStructuredDataListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/OnSeoValidationValidateUriAlias.php
  ACP3/Modules/ACP3/Seo/src/Helper/MetaFormFields.php
  ACP3/Modules/ACP3/Seo/src/Helper/UriAliasManager.php
  ACP3/Modules/ACP3/Seo/src/Migration/Migration202202051324.php
  ACP3/Modules/ACP3/Seo/src/Model/SeoModel.php
  ACP3/Modules/ACP3/Seo/src/Repository/SeoRepository.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Seo/src/Validation/ValidationRules/JsonStringValidationRule.php
  ACP3/Modules/ACP3/Seo/src/Validation/ValidationRules/UriAliasValidationRule.php
  ACP3/Modules/ACP3/Seo/tests/EventListener/OnLayoutContentAfterRenderStructuredDataListenerTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

BC break: rework the usage and retrieval of the ColumnTypes
  ACP3/Core/Resources/config/components/model.yml
  ACP3/Core/src/Model/AbstractModel.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/BooleanColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/DateColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/DateTimeColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/DoubleColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/RawColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/SerializableColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/TextColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnType/TextWysiwygColumnType.php
  ACP3/Core/src/Model/DataProcessor/ColumnTypes.php
  ACP3/Core/src/Model/DataProcessor/DependencyInjection/RegisterColumnTypesCompilerPass.php
  ACP3/Core/src/Model/DuplicationAwareTrait.php
  ACP3/Core/tests/Model/DataProcessorTest.php
  ACP3/Modules/ACP3/Articles/src/Model/ArticlesModel.php
  ACP3/Modules/ACP3/Categories/src/Model/CategoriesModel.php
  ACP3/Modules/ACP3/Comments/src/Model/CommentByModuleModel.php
  ACP3/Modules/ACP3/Comments/src/Model/CommentsModel.php
  ACP3/Modules/ACP3/Contact/src/Model/ContactsModel.php
  ACP3/Modules/ACP3/Emoticons/src/Model/EmoticonsModel.php
  ACP3/Modules/ACP3/Files/src/Model/FilesModel.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesModelPrepareDataEventListener.php
  ACP3/Modules/ACP3/Gallery/src/Model/GalleryModel.php
  ACP3/Modules/ACP3/Gallery/src/Model/PictureModel.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryModelPrepareDataEventListener.php
  ACP3/Modules/ACP3/Guestbook/src/Model/GuestbookModel.php
  ACP3/Modules/ACP3/Menus/src/Model/MenuItemsModel.php
  ACP3/Modules/ACP3/Menus/src/Model/MenusModel.php
  ACP3/Modules/ACP3/News/src/Model/NewsModel.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsModelPrepareDataEventListener.php
  ACP3/Modules/ACP3/Newsletter/src/Model/NewsletterModel.php
  ACP3/Modules/ACP3/Permissions/src/Model/AclPermissionModel.php
  ACP3/Modules/ACP3/Permissions/src/Model/AclResourceModel.php
  ACP3/Modules/ACP3/Permissions/src/Model/AclRoleModel.php
  ACP3/Modules/ACP3/Polls/src/Model/PollsModel.php
  ACP3/Modules/ACP3/Seo/src/Model/SeoModel.php
  ACP3/Modules/ACP3/Share/src/Model/ShareModel.php
  ACP3/Modules/ACP3/Share/src/Model/ShareRatingModel.php
  ACP3/Modules/ACP3/Users/src/Model/UsersModel.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add a type declaration + change visibility of a property
  ACP3/Modules/ACP3/Search/src/Utility/SearchAvailabilityRegistrar.php
  ACP3/Modules/ACP3/Seo/src/Utility/SitemapAvailabilityRegistrar.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

correctly validate the json-ld schema
  ACP3/Modules/ACP3/Seo/Resources/config/components/validation.yml
  ACP3/Modules/ACP3/Seo/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Seo/Resources/json-schema/json-ld-schema.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/Seo/src/EventListener/OnSeoValidationValidateUriAlias.php
  ACP3/Modules/ACP3/Seo/src/Validation/ValidationRules/StructuredDataValidationRule.php
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

introduce strict types
  ACP3/Core/src/Application/ControllerActionDispatcher.php
  ACP3/Core/src/Controller/AbstractWidgetAction.php
  ACP3/Core/src/Helpers/FormAction.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a possible type error
  ACP3/Core/src/Model/DataProcessor/ColumnType/TextWysiwygColumnType.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

make the structured data schema validation optional
  ACP3/Modules/ACP3/Seo/src/Validation/ValidationRules/StructuredDataValidationRule.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the code style
  ACP3/Core/Resources/config/components/model.yml
  ACP3/Core/src/Helpers/FormAction.php
  ACP3/Modules/ACP3/Articles/src/Controller/Admin/Index/Duplicate.php
  ACP3/Modules/ACP3/Categories/src/Controller/Admin/Index/OrderPost.php
  ACP3/Modules/ACP3/Files/src/Controller/Admin/Index/Sort.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/OrderPost.php
  ACP3/Modules/ACP3/Menus/src/Controller/Admin/Items/OrderPost.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Admin/Index/Send.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Index/OrderPost.php
  ACP3/Modules/ACP3/Seo/Resources/json-schema/json-ld-schema.json
  ACP3/Modules/ACP3/Seo/src/Controller/Admin/Index/Sitemap.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
Due: build:npm, npm

update the composer dependencies
  composer.lock
  tests/composer.json
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the code style
  ACP3/Core/src/Validation/ValidationRules/NotEmptyValidationRule.php
  ACP3/Core/src/Validation/ValidationRules/UriSafeValidationRule.php
  ACP3/Modules/ACP3/Installer/src/Helpers/Requirements.php
  ACP3/Modules/ACP3/Menus/src/EventListener/RenderMenuItemManagementFormFieldsListener.php
  rector.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a bug after the smarty update
  ACP3/Modules/ACP3/Articles/src/ViewProviders/ArticlePaginatedViewProvider.php
  ACP3/Modules/ACP3/System/src/EventListener/SetLayoutListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add the minlength attribute to the input type text partial
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.input_text.tpl
Due: none

always store the subtree split cache
  .gitlab/ci/sync.gitlab-ci.yml
Due: composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix checking for multiple same options in the checkbox form field partial
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.checkbox.tpl
  ACP3/Modules/ACP3/System/Resources/config/components/smarty_functions.yml
  ACP3/Modules/ACP3/System/src/Core/View/Renderer/Smarty/Functions/HasMultipleOptions.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

test against PHP 8.1, too
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix some PHP 8.1 deprecation warnings
  ACP3/Core/src/Validation/ValidationRules/IntegerValidationRule.php
  ACP3/Core/src/Validation/ValidationRules/MinLengthValidationRule.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add a docker file for PHP 8.1
  build/docker/php/Dockerfile-8.1
Due: none

satisfy prettier
  .gitlab/ci/test-php.gitlab-ci.yml
Due: composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  composer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  npm: any of: .gitlab/ci/*.yml, ACP3/**/*.{css,js,less,scss}, design/**/*.{css,js,less,scss}, installation/**/*.{css,js,less,scss}, package.json, package-lock.json, .eslintignore, .eslintrc.json, .prettierignore, .prettierrc.json, .stylelintignore, .stylelintrc, .gitlab-ci.yml
  test:php73-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php74-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php80-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, .php_cs.dist, .gitlab-ci.yml
  test:phpstan: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
