Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci --no-progress
  artifacts:
    paths:
    - node_modules

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  needs:
  ...

test:php74-unit:
  image: registry.gitlab.com/acp3/php-docker:7.4
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php80-unit:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: null
  needs:
  - composer
  ...

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .php_cs.cache
  script:
  - composer run-script lint
  needs:
  - composer

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .phpstan-cache
  script:
  - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
  - composer

rework the migrations of the comments module
  ACP3/Modules/ACP3/Comments/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Comments/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Comments/src/Installer/Migration.php
  ACP3/Modules/ACP3/Comments/src/Migration/Migration38.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the contact module
  ACP3/Modules/ACP3/Contact/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Contact/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Contact/src/Installer/Migration.php
  ACP3/Modules/ACP3/Contact/src/Migration/Migration43.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the cookieconsent module
  ACP3/Core/src/Modules/SchemaInstaller.php
  ACP3/Modules/ACP3/Cookieconsent/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Cookieconsent/src/Installer/Migration.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the emoticons module
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Emoticons/src/Installer/Migration.php
  ACP3/Modules/ACP3/Emoticons/src/Migration/Migration33.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the need to install the errors module
  ACP3/Modules/ACP3/Errors/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Errors/src/Installer/Migration.php
  ACP3/Modules/ACP3/Errors/src/Installer/Schema.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the feeds module
  ACP3/Modules/ACP3/Feeds/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Feeds/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Feeds/src/Installer/Migration.php
  ACP3/Modules/ACP3/Feeds/src/Migration/Migration32.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the filemanager module
  ACP3/Modules/ACP3/Filemanager/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Filemanager/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Filemanager/src/Installer/Migration.php
  ACP3/Modules/ACP3/Filemanager/src/Migration/Migration2.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the files module
  ACP3/Modules/ACP3/Files/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Files/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Files/src/Installer/Migration.php
  ACP3/Modules/ACP3/Files/src/Migration/Migration49.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the gallery module
  ACP3/Modules/ACP3/Filescomments/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Filescomments/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Filescomments/src/Installer/Migration.php
  ACP3/Modules/ACP3/Filescomments/src/Migration/Migration2.php
  ACP3/Modules/ACP3/Gallery/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Gallery/src/Installer/Migration.php
  ACP3/Modules/ACP3/Gallery/src/Migration/Migration48.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the filemanager migrations
  ACP3/Modules/ACP3/Filemanager/Resources/config/components/migration.yml
Due: none

rework the migrations of the gallerycomments module
  ACP3/Modules/ACP3/Gallerycomments/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Gallerycomments/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Gallerycomments/src/Installer/Migration.php
  ACP3/Modules/ACP3/Gallerycomments/src/Migration/Migration2.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the guestbook module
  ACP3/Modules/ACP3/Guestbook/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Guestbook/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Guestbook/src/Installer/Migration.php
  ACP3/Modules/ACP3/Guestbook/src/Migration/Migration37.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the guestbooknewsletter module
  ACP3/Modules/ACP3/Guestbooknewsletter/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Guestbooknewsletter/src/Installer/Migration.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the menus module
  ACP3/Modules/ACP3/Menus/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Menus/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Menus/src/Installer/Migration.php
  ACP3/Modules/ACP3/Menus/src/Migration/Migration39.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the news module
  ACP3/Modules/ACP3/News/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/News/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/News/src/Installer/Migration.php
  ACP3/Modules/ACP3/News/src/Migration/Migration45.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the newscomments module
  ACP3/Modules/ACP3/Newscomments/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Newscomments/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Newscomments/src/Installer/Migration.php
  ACP3/Modules/ACP3/Newscomments/src/Migration/Migration2.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the newsletter module
  ACP3/Modules/ACP3/Newsletter/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Newsletter/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Newsletter/src/Installer/Migration.php
  ACP3/Modules/ACP3/Newsletter/src/Migration/Migration53.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the permissions module
  ACP3/Modules/ACP3/Permissions/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Permissions/src/Installer/Migration.php
  ACP3/Modules/ACP3/Permissions/src/Migration/Migration38.php
  ACP3/Modules/ACP3/Permissions/src/Migration/Migration39.php
  ACP3/Modules/ACP3/Permissions/src/Migration/Migration40.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the polls module
  ACP3/Modules/ACP3/Polls/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Polls/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Polls/src/Installer/Migration.php
  ACP3/Modules/ACP3/Polls/src/Migration/Migration39.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the search module
  ACP3/Modules/ACP3/Search/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Search/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Search/src/Installer/Migration.php
  ACP3/Modules/ACP3/Search/src/Migration/Migration34.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the seo module
  ACP3/Modules/ACP3/Seo/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Seo/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Seo/src/Installer/Migration.php
  ACP3/Modules/ACP3/Seo/src/Migration/Migration14.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the share module
  ACP3/Modules/ACP3/Share/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Share/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Share/src/Installer/Migration.php
  ACP3/Modules/ACP3/Share/src/Migration/Migration3.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the system module
  ACP3/Modules/ACP3/System/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/System/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/System/src/Installer/Migration.php
  ACP3/Modules/ACP3/System/src/Migration/Migration76.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the migrations of the users module
  ACP3/Modules/ACP3/Users/Resources/config/components/installer.yml
  ACP3/Modules/ACP3/Users/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Users/src/Installer/Migration.php
  ACP3/Modules/ACP3/Users/src/Migration/Migration49.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

drop the getSchemaVersion() method from the schema installer
  ACP3/Core/src/Modules/Installer/SchemaInterface.php
  ACP3/Modules/ACP3/Acp/src/Installer/Schema.php
  ACP3/Modules/ACP3/Articles/src/Installer/Schema.php
  ACP3/Modules/ACP3/Auditlog/src/Installer/Schema.php
  ACP3/Modules/ACP3/Captcha/src/Installer/Schema.php
  ACP3/Modules/ACP3/Categories/src/Installer/Schema.php
  ACP3/Modules/ACP3/Comments/src/Installer/Schema.php
  ACP3/Modules/ACP3/Contact/src/Installer/Schema.php
  ACP3/Modules/ACP3/Cookieconsent/src/Installer/Schema.php
  ACP3/Modules/ACP3/Emoticons/src/Installer/Schema.php
  ACP3/Modules/ACP3/Feeds/src/Installer/Schema.php
  ACP3/Modules/ACP3/Filemanager/src/Installer/Schema.php
  ACP3/Modules/ACP3/Files/src/Installer/Schema.php
  ACP3/Modules/ACP3/Filescomments/src/Installer/Schema.php
  ACP3/Modules/ACP3/Gallery/src/Installer/Schema.php
  ACP3/Modules/ACP3/Gallerycomments/src/Installer/Schema.php
  ACP3/Modules/ACP3/Guestbook/src/Installer/Schema.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/Installer/Schema.php
  ACP3/Modules/ACP3/Menus/src/Installer/Schema.php
  ACP3/Modules/ACP3/News/src/Installer/Schema.php
  ACP3/Modules/ACP3/Newscomments/src/Installer/Schema.php
  ACP3/Modules/ACP3/Newsletter/src/Installer/Schema.php
  ACP3/Modules/ACP3/Permissions/src/Installer/Schema.php
  ACP3/Modules/ACP3/Polls/src/Installer/Schema.php
  ACP3/Modules/ACP3/Search/src/Installer/Schema.php
  ACP3/Modules/ACP3/Seo/src/Installer/Schema.php
  ACP3/Modules/ACP3/Share/src/Installer/Schema.php
  ACP3/Modules/ACP3/System/src/Installer/Schema.php
  ACP3/Modules/ACP3/Users/src/Installer/Schema.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove some now obsolete files
  ACP3/Core/Resources/config/components/modules.yml
  ACP3/Core/src/Modules/Installer/AbstractMigration.php
  ACP3/Core/src/Modules/Installer/MigrationInterface.php
  ACP3/Core/src/Modules/SchemaUpdater.php
  ACP3/Core/tests/Modules/SchemaUpdaterTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix an erroneous namespace
  ACP3/Core/src/Migration/Exception/ModuleMigrationException.php
  ACP3/Core/src/Migration/Migrator.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the installation
  ACP3/Core/src/Modules/SchemaHelper.php
  ACP3/Core/src/Modules/SchemaInstaller.php
  ACP3/Modules/ACP3/Acp/Resources/config/components/migration.yml
  ACP3/Modules/ACP3/Installer/src/Repository/ModulesRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

introduce the AbstractMigration class to remove the need to explicitly state the schema version
  ACP3/Core/src/Migration/AbstractMigration.php
  ACP3/Core/src/Migration/Exception/WrongMigrationNameException.php
  ACP3/Core/tests/Migration/AbstractMigrationTest.php
  ACP3/Modules/ACP3/Acp/src/Migration/Migration30.php
  ACP3/Modules/ACP3/Articles/src/Migration/Migration45.php
  ACP3/Modules/ACP3/Auditlog/src/Migration/Migration4.php
  ACP3/Modules/ACP3/Captcha/src/Migration/Migration34.php
  ACP3/Modules/ACP3/Categories/src/Migration/Migration38.php
  ACP3/Modules/ACP3/Comments/src/Migration/Migration38.php
  ACP3/Modules/ACP3/Contact/src/Migration/Migration43.php
  ACP3/Modules/ACP3/Emoticons/src/Migration/Migration33.php
  ACP3/Modules/ACP3/Feeds/src/Migration/Migration32.php
  ACP3/Modules/ACP3/Filemanager/src/Migration/Migration2.php
  ACP3/Modules/ACP3/Files/src/Migration/Migration49.php
  ACP3/Modules/ACP3/Filescomments/src/Migration/Migration2.php
  ACP3/Modules/ACP3/Gallery/src/Migration/Migration48.php
  ACP3/Modules/ACP3/Gallerycomments/src/Migration/Migration2.php
  ACP3/Modules/ACP3/Guestbook/src/Migration/Migration37.php
  ACP3/Modules/ACP3/Menus/src/Migration/Migration39.php
  ACP3/Modules/ACP3/News/src/Migration/Migration45.php
  ACP3/Modules/ACP3/Newscomments/src/Migration/Migration2.php
  ACP3/Modules/ACP3/Newsletter/src/Migration/Migration53.php
  ACP3/Modules/ACP3/Permissions/src/Migration/Migration38.php
  ACP3/Modules/ACP3/Permissions/src/Migration/Migration39.php
  ACP3/Modules/ACP3/Permissions/src/Migration/Migration40.php
  ACP3/Modules/ACP3/Polls/src/Migration/Migration39.php
  ACP3/Modules/ACP3/Search/src/Migration/Migration34.php
  ACP3/Modules/ACP3/Seo/src/Migration/Migration14.php
  ACP3/Modules/ACP3/Share/src/Migration/Migration3.php
  ACP3/Modules/ACP3/System/src/Migration/Migration76.php
  ACP3/Modules/ACP3/Users/src/Migration/Migration49.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add the transaction related method to the DB connection class
  ACP3/Core/src/Database/Connection.php
  ACP3/Core/tests/Migration/AbstractMigrationTest.php
  ACP3/Core/tests/Migration/MigrationServiceLocatorTest.php
  ACP3/Core/tests/Migration/Providers/Migration1.php
  ACP3/Core/tests/Migration/Providers/Migration123.php
  ACP3/Core/tests/Migration/Providers/Migration2.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

cover the Migrator with unit tests
  ACP3/Core/src/Database/SQLLogger.php
  ACP3/Core/src/Migration/Migrator.php
  ACP3/Core/tests/Migration/MigratorTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

improve the visibility of the "delete marked entries"-button
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid-mass-action-bar.tpl
Due: none

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm, npm

regenerate the static assets
  ACP3/Modules/ACP3/System/Resources/Assets/css/bootstrap.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  designs/acp3-installer/System/Assets/css/bootstrap.min.css
  designs/acp3/System/Assets/css/bootstrap.min.css
Due: build:npm, npm

fix up creating new guestbook entries
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.create_modal.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.create_modal.min.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.create_modal.min.js.map
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js.map
  ACP3/Modules/ACP3/Guestbook/Resources/View/Frontend/index.create_modal.tpl
  ACP3/Modules/ACP3/Guestbook/Resources/View/Frontend/index.index.tpl
Due: build:npm, npm

fix ESLint
  .eslintignore
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.js
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
Due: build:npm, npm

fix Prettier
  .prettierignore
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.js
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js.map
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/lib/suggest-alias.js
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.js
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/event-handler.js
  designs/acp3/System/Assets/css/dataTables.bootstrap.css
Due: build:npm, npm

kind of fix the form submition problems with the rating stars
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.js
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js.map
  ACP3/Modules/ACP3/Share/Resources/View/Partials/rating.tpl
Due: build:npm, npm

eliminate the need for bootbox
  .eslintrc.json
  ACP3/Core/src/Helpers/Formatter/MarkEntries.php
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/resources.index.tpl
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/bootbox.all.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/mass-action.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/utils.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js.map
  ACP3/Modules/ACP3/System/Resources/View/Partials/datagrid.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/mark.tpl
  ACP3/Modules/ACP3/System/Resources/View/layout.admin-grid.tpl
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  ACP3/Modules/ACP3/System/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/System/Resources/i18n/en_US.xml
  build/gulp/copy.js
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  composer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  npm: any of: .gitlab/ci/*.yml, ACP3/**/*.{css,js,less,scss}, design/**/*.{css,js,less,scss}, installation/**/*.{css,js,less,scss}, package.json, package-lock.json, .eslintignore, .eslintrc.json, .prettierignore, .prettierrc.json, .stylelintignore, .stylelintrc, .gitlab-ci.yml
  test:php73-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php74-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php80-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, .php_cs.dist, .gitlab-ci.yml
  test:phpstan: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
