Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci --no-progress
  artifacts:
    paths:
    - node_modules

test:php-unit:
  image: registry.gitlab.com/acp3/php-docker:${PHP_VERSION}
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - tests/.phpunit.result.cache
  script:
  - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  ...

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .php-cs-fixer.cache
  script:
  - composer run-script lint
  needs:
  - composer

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
    - .phpstan-cache
  script:
  - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
  - composer

update the Composer dependencies
  composer.lock
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/dataTables.bootstrap5.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm, npm

statisfy PHPStan
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove the restart option from the docker-compose config
  docker-compose.yml
Due: none

customize bootstrap for the ACP3 installer/updater
  build/gulp/babel.js
  designs/acp3-installer/System/Assets/css/bootstrap.min.css
  designs/acp3-installer/System/Assets/js/bootstrap.bundle.js
  designs/acp3-installer/System/Assets/js/bootstrap.bundle.min.js
  designs/acp3-installer/System/Assets/js/bootstrap.bundle.min.js.map
  designs/acp3-installer/System/Assets/js/language-switcher.min.js.map
  designs/acp3-installer/System/Assets/scss/bootstrap.scss
Due: none

update the Changelog
  CHANGELOG-6.x.md
Due: none

fix major updates within the bump-version gulp task
  build/gulp/bump-version.js
Due: none

update the changelog
  CHANGELOG-6.x.md
Due: none

Fix updating ACP3 version 5.x to 6.0.0
  ACP3/Modules/ACP3/Installer/Resources/config/services_overrides.yml
Due: none

bump the version to 6.0.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

harden the EmoticonService against non-existing files
  ACP3/Modules/ACP3/Emoticons/src/Services/EmoticonService.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

add the changelog entry
  CHANGELOG-6.x.md
Due: none

bump the version to 6.0.2
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

harden some validation rules against non-existing form values
  ACP3/Core/src/Validation/ValidationRules/ExternalLinkValidationRule.php
  ACP3/Modules/ACP3/Categories/src/Validation/ValidationRules/CategoryExistsValidationRule.php
  CHANGELOG-6.x.md
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.0.3
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Categories/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/dataTables.bootstrap5.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
Due: build:npm, npm

fix a minor bug within the ControllerActionExists helper
  ACP3/Core/src/Controller/Helper/ControllerActionExists.php
  ACP3/Core/tests/Controller/Helper/ControllerActionExistsTest.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.0.4
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

update the Composer dependencies to fix PHPStan offences
  composer.json
  composer.lock
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

add some stricter version constraints for various composer packages
  ACP3/Core/composer.json
Due: none

drop the support for PHP 8.0
  .gitlab/ci/package.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
  ACP3/Core/composer.json
  build/docker/php/Dockerfile-8.0
  composer.json
  composer.lock
  docker-compose.yml
Due: build:composer, composer, npm, test:php-unit, test:php-cs-fixer, test:phpstan

update Monolog to version 3
  ACP3/Core/composer.json
  composer.lock
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm, npm

convert the ApplicationMode class into a real enum
  ACP3/Core/Resources/config/components/assets.yml
  ACP3/Core/Resources/config/components/cache.yml
  ACP3/Core/Resources/config/components/context.yml
  ACP3/Core/Resources/config/components/database.yml
  ACP3/Core/Resources/config/components/smarty_functions.yml
  ACP3/Core/Resources/config/components/view.yml
  ACP3/Core/Resources/config/console.yml
  ACP3/Core/Resources/config/services.yml
  ACP3/Core/src/Application/AbstractBootstrap.php
  ACP3/Core/src/Application/Bootstrap.php
  ACP3/Core/src/Assets/Renderer/CSSRendererFactory.php
  ACP3/Core/src/Assets/Renderer/JavaScriptRendererFactory.php
  ACP3/Core/src/Cache/CacheResponseTrait.php
  ACP3/Core/src/Cache/Psr6CacheItemPoolFactory.php
  ACP3/Core/src/Console/Application.php
  ACP3/Core/src/Console/DependencyInjection/ServiceContainerBuilder.php
  ACP3/Core/src/Controller/AbstractWidgetAction.php
  ACP3/Core/src/Controller/Context/Context.php
  ACP3/Core/src/Database/Connection.php
  ACP3/Core/src/DependencyInjection/ServiceContainerBuilder.php
  ACP3/Core/src/Environment/ApplicationMode.php
  ACP3/Core/src/Environment/ApplicationPath.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/LoadModule.php
  ACP3/Core/src/View/Renderer/Smarty/SmartyConfigurator.php
  ACP3/Modules/ACP3/Errors/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Errors/src/EventListener/HandleGenericErrorsExceptionListener.php
  ACP3/Modules/ACP3/Filemanager/Resources/config/components/rich-filemanager.yml
  ACP3/Modules/ACP3/Filemanager/src/RichFilemanager/StorageFactory.php
  ACP3/Modules/ACP3/Installer/Resources/config/services_overrides.yml
  ACP3/Modules/ACP3/Installer/src/Core/DependencyInjection/ServiceContainerBuilder.php
  ACP3/Modules/ACP3/Installer/src/Core/Environment/ApplicationPath.php
  ACP3/Modules/ACP3/Installer/src/Repository/SettingsRepository.php
  ACP3/Modules/ACP3/System/Resources/config/components/helpers.yml
  ACP3/Modules/ACP3/System/src/Helper/CanUsePageCache.php
  index.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

convert the PrivilegeEnum into a real enum
  ACP3/Core/src/ACL/PrivilegeEnum.php
  ACP3/Core/src/Installer/AclInstaller.php
  ACP3/Core/src/Installer/SchemaInterface.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

convert the PluginTypeEnum into a real enum
  ACP3/Core/src/View/Renderer/Smarty.php
  ACP3/Core/src/View/Renderer/Smarty/PluginTypeEnum.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

convert the PluginTypeEnum into a native PHP enum
  ACP3/Core/src/Component/ComponentRegistry.php
  ACP3/Core/src/Component/ComponentTypeEnum.php
  ACP3/Core/src/Component/Dto/ComponentDataDto.php
  ACP3/Core/src/Console/Command/ComponentPathsCommand.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

convert the IndexPaginatedContentEnum into a native PHP enum
  ACP3/Modules/ACP3/Seo/src/Core/Pagination.php
  ACP3/Modules/ACP3/Seo/src/Helper/Enum/IndexPaginatedContentEnum.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Seo/src/ViewProviders/AdminSettingsViewProvider.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

convert the AreaEnum into a native PHP enum
  ACP3/Core/src/Application/ControllerActionDispatcher.php
  ACP3/Core/src/Application/Event/ControllerActionBeforeDispatchEvent.php
  ACP3/Core/src/Application/EventListener/CheckPermissionListener.php
  ACP3/Core/src/Breadcrumb/Steps.php
  ACP3/Core/src/Controller/AbstractWidgetAction.php
  ACP3/Core/src/Controller/AreaEnum.php
  ACP3/Core/src/Helpers/View/CheckAccess.php
  ACP3/Core/src/Http/Request.php
  ACP3/Core/src/Http/RequestInterface.php
  ACP3/Core/tests/Breadcrumb/StepsTest.php
  ACP3/Core/tests/View/Renderer/Smarty/Filters/PageCssClassesTest.php
  ACP3/Modules/ACP3/Permissions/src/Validation/ResourceFormValidation.php
  ACP3/Modules/ACP3/System/src/EventListener/SetLayoutListener.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

convert the PermissionEnum into a native PHP enum
  ACP3/Core/src/ACL.php
  ACP3/Core/src/ACL/PermissionEnum.php
  ACP3/Core/src/ACL/PermissionServiceInterface.php
  ACP3/Core/src/Installer/AclInstaller.php
  ACP3/Modules/ACP3/Permissions/src/Repository/AclPermissionRepository.php
  ACP3/Modules/ACP3/Permissions/src/Services/CachingPermissionService.php
  ACP3/Modules/ACP3/Permissions/src/Services/PermissionService.php
  ACP3/Modules/ACP3/Permissions/src/Validation/ValidationRules/PermissionsExistValidationRule.php
  ACP3/Modules/ACP3/Permissions/src/ViewProviders/AdminRoleEditViewProvider.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix the tests
  ACP3/Core/tests/Controller/AbstractWidgetActionTest.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

Deprecate the BaseEnum class
  ACP3/Core/src/Enum/BaseEnum.php
Due: build:composer, composer, test:php-unit, test:php-cs-fixer, test:phpstan

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
  composer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  npm: any of: .gitlab/ci/*.yml, ACP3/**/*.{css,js,less,scss}, design/**/*.{css,js,less,scss}, installation/**/*.{css,js,less,scss}, package.json, package-lock.json, .eslintignore, .eslintrc.json, .prettierignore, .prettierrc.json, .stylelintignore, .stylelintrc, .gitlab-ci.yml
  test:php-unit: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, .gitlab-ci.yml
  test:php-cs-fixer: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, .php-cs-fixer.dist.php, .gitlab-ci.yml
  test:phpstan: any of: .gitlab/ci/*.yml, **/*.php, composer.json, composer.lock, phpstan.neon.dist, .gitlab-ci.yml
