Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

refactor: Centralize deleting menu items when deleting database results
  .gitsplit.yml
  ACP3/Modules/ACP3/Articlesmenus/.gitattributes
  ACP3/Modules/ACP3/Articlesmenus/.gitignore
  ACP3/Modules/ACP3/Articlesmenus/LICENSE
  ACP3/Modules/ACP3/Articlesmenus/README.md
  ACP3/Modules/ACP3/Articlesmenus/Resources/config/services.yml
  ACP3/Modules/ACP3/Articlesmenus/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Articlesmenus/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Articlesmenus/composer.json
  ACP3/Modules/ACP3/Articlesmenus/registration.php
  ACP3/Modules/ACP3/Articlesmenus/src/EventListener/OnArticlesModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Menus/src/EventListener/OnModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/OnModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Share/src/EventListener/OnModelDeleteAfterListener.php
  composer.json
Due: build:composer

refactor: add some guards to save from unnecessary work
  ACP3/Core/src/Router/RoutePathPatterns.php
  ACP3/Modules/ACP3/Menus/src/EventListener/OnModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/OnModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Share/src/EventListener/OnModelDeleteAfterListener.php
Due: build:composer

refactor: modernize some code
  ACP3/Core/src/DataGrid/ColumnRenderer/OptionColumnRenderer.php
  ACP3/Core/tests/Breadcrumb/StepsTest.php
  ACP3/Modules/ACP3/Seo/src/Validation/ValidationRules/UriAliasValidationRule.php
Due: build:composer

refactor: optimize some event listeners
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasesOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Seo/src/EventListener/InsertUriAliasOnModelAfterSaveListener.php
Due: build:composer

refactor: improve the UriAliasValidationRule
  ACP3/Modules/ACP3/Seo/src/Repository/SeoRepository.php
  ACP3/Modules/ACP3/Seo/src/Validation/ValidationRules/UriAliasValidationRule.php
Due: build:composer

refactor: remove the deprecated proxy-manager-bridge
  ACP3/Core/composer.json
  ACP3/Core/src/DependencyInjection/ServiceContainerBuilder.php
  composer.lock
Due: build:composer

chore: Fix deprecation after the symfony components update
  ACP3/Core/Resources/config/components/application.yml
Due: none

chore: Update to Symfony 6.4
  ACP3/Core/composer.json
  composer.lock
Due: build:composer

chore: satisfy the linters
  package.json
Due: build:npm

refactor: integrate the RichFilemanager backend into the filemanager module
  ACP3/Modules/ACP3/Filemanager/composer.json
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Api/ApiInterface.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Api/AwsS3Api.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Api/LocalApi.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Application.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterFileExtractEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterFileUploadEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterFolderCreateEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterFolderReadEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterFolderSeekEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterItemCopyEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterItemDeleteEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterItemDownloadEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterItemMoveEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Event/Api/AfterItemRenameEvent.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Facade/Input.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Facade/Log.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Factory/Factory.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Logger.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/BaseItemModel.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/BaseStorage.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/BaseUploadHandler.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/ItemData.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/ItemModelInterface.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/Local/ItemModel.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/Local/Storage.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/Local/UploadHandler.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/S3/ItemModel.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/S3/Storage.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/S3/StorageHelper.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/S3/UploadHandler.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/StorageInterface.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/config/config.local.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/config/config.s3.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/helpers.php
  composer.json
  composer.lock
  phpstan.neon.dist
Due: build:composer

refactor: update the compose environment
  .dockerignore
  build/docker/apache/Dockerfile
  build/docker/apache/vhost.conf
  build/docker/php/php81.dockerfile
  build/docker/php/php82.dockerfile
  cache/.gitignore
  compose.yml
Due: none

chore: update the composer dependencies
  composer.lock
Due: build:composer

chore: satisfy php-cs-fixer
  ACP3/Core/src/Application/AbstractBootstrap.php
  ACP3/Core/src/Application/ControllerActionDispatcher.php
  ACP3/Core/src/Application/Event/OutputPageExceptionEvent.php
  ACP3/Core/src/Application/EventListener/CheckPermissionListener.php
  ACP3/Core/src/Helpers/Sort.php
  ACP3/Core/src/Installer/InjectSchemaHelperTrait.php
  ACP3/Core/src/Installer/SchemaHelper.php
  ACP3/Core/src/Pagination.php
  ACP3/Core/src/Picture/Output.php
  ACP3/Core/src/Validation/AbstractFormValidation.php
  ACP3/Core/src/View/Renderer/Smarty.php
  ACP3/Core/tests/ACLTest.php
  ACP3/Core/tests/Assets/LibrariesTest.php
  ACP3/Core/tests/AssetsTest.php
  ACP3/Core/tests/Breadcrumb/StepsTest.php
  ACP3/Core/tests/Breadcrumb/TitleTest.php
  ACP3/Core/tests/Helpers/Formatter/RewriteInternalUriTest.php
  ACP3/Core/tests/Helpers/SecureTest.php
  ACP3/Core/tests/Validation/AbstractFormValidationTestCase.php
  ACP3/Modules/ACP3/Articles/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Categories/src/Helpers.php
  ACP3/Modules/ACP3/Comments/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/Repository/BaseStorage.php
  ACP3/Modules/ACP3/Filemanager/libs/RFM/helpers.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Guestbook/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Installer/src/Core/Application/Bootstrap.php
  ACP3/Modules/ACP3/Installer/src/Helpers/ModuleInstaller.php
  ACP3/Modules/ACP3/Installer/src/Helpers/Navigation.php
  ACP3/Modules/ACP3/Installer/src/Model/InstallModel.php
  ACP3/Modules/ACP3/News/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Newsletter/src/Controller/Frontend/Archive/Index.php
  ACP3/Modules/ACP3/Seo/src/Model/SitemapGenerationModel.php
  ACP3/Modules/ACP3/Seo/tests/Core/Router/AliasesTest.php
  ACP3/Modules/ACP3/System/src/Helper/View/Tabset.php
  ACP3/Modules/ACP3/System/tests/Core/Router/RouterTest.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Index/Index.php
  ACP3/Modules/ACP3/Users/src/EventListener/IsUserAuthenticatedListener.php
Due: build:composer

fix: reset the state of the Validator after each validation
  ACP3/Core/src/Validation/Validator.php
Due: build:composer

feat: enhance the nl2p method
  ACP3/Core/src/Helpers/StringFormatter.php
  ACP3/Core/tests/Helpers/StringFormatterTest.php
Due: build:composer

feat: enhance the emoticons content decorator
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/content_decorator.yml
  ACP3/Modules/ACP3/Emoticons/src/ContentDecorator/EmoticonsContentDecorator.php
Due: build:composer

chore: Update the NPM dependencies
  ACP3/Modules/ACP3/System/package.json
  build/gulp/bump-version.mjs
  package-base.json
  package-lock.json
  package.json
Due: build:npm

chore: Update the Composer dependencies
  composer.lock
Due: build:composer

refactor: rework the version number retrieval
  ACP3/Core/src/Application/AbstractBootstrap.php
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Core/src/Console/Application.php
  ACP3/Modules/ACP3/System/src/Helper/UpdateCheck.php
  ACP3/Modules/ACP3/System/src/Installer/Schema.php
  ACP3/Modules/ACP3/System/tests/Helper/UpdateCheckTest.php
  build/gulp/bump-version.mjs
Due: build:composer

fix: revert the name change of the compose.yml
  docker-compose.yml
Due: none

refactor: remove version property from the package.json files
  build/gulp/bump-version.mjs
  package-base.json
  package-lock.json
  package.json
Due: build:npm

chore: Update the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.22.0
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Articlesseo/composer.json
  ACP3/Modules/ACP3/Categories/composer.json
  ACP3/Modules/ACP3/Comments/composer.json
  ACP3/Modules/ACP3/Cookieconsent/composer.json
  ACP3/Modules/ACP3/Emoticons/composer.json
  ACP3/Modules/ACP3/Filemanager/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Filesseo/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Galleryseo/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newsletter/composer.json
  ACP3/Modules/ACP3/Newsseo/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  CHANGELOG-6.x.md
Due: none

update the changelog
  CHANGELOG-6.x.md
Due: none

fix: Enable the rewrite module
  build/docker/php/php81.dockerfile
  build/docker/php/php82.dockerfile
Due: none

bump the version to 6.22.1
  CHANGELOG-6.x.md
Due: none

fix: Fix the duplicate modal instances when inserting page breaks
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/wysiwyg.js
  ACP3/Modules/ACP3/System/Resources/View/Partials/wysiwyg.tpl
Due: build:npm

bump the version to 6.22.2
  CHANGELOG-6.x.md
Due: none

fix: fix submitting forms
  ACP3/Modules/ACP3/System/Resources/View/Partials/wysiwyg.tpl
Due: none

bump the version to 6.22.3
  CHANGELOG-6.x.md
Due: none

feat: Enhance the visuals of the admin panel index page
  ACP3/Modules/ACP3/Acp/Resources/View/Admin/index.index.tpl
Due: none

feat: Add a link for editing a certain content element to almost detail pages
  ACP3/Core/src/Helpers/View/CheckAccess.php
  ACP3/Modules/ACP3/Articles/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Contact/Resources/View/Frontend/index.imprint.tpl
  ACP3/Modules/ACP3/Contact/Resources/View/Frontend/index.index.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Frontend/index.files.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.pics.tpl
  ACP3/Modules/ACP3/News/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/access_check.tpl
  ACP3/Modules/ACP3/Users/Resources/View/Frontend/index.view_profile.tpl
  designs/acp3/System/Resources/View/layout.tpl
Due: build:composer
