Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/prepare.gitlab-ci.yml:

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci --no-progress
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "ACP3/**/*.{css,js,less,scss}"
      - "design/**/*.{css,js,less,scss}"
      - "installation/**/*.{css,js,less,scss}"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .prettierignore
      - .prettierrc.json
      - .stylelintignore
      - .stylelintrc
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml

test:php74-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:7.4
  coverage: ~

test:php80-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:8.0
  coverage: ~
  allow_failure: true

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php_cs.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php_cs.dist
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

allow to extend the js-svg-icons with further icons via a new event
  ACP3/Core/src/View/Renderer/Smarty/Filters/Event/JsSvgIconEvent.php
  ACP3/Core/src/View/Renderer/Smarty/Filters/JsSvgIcons.php
  ACP3/Modules/ACP3/System/src/EventListener/AddJsSvgIconsListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update PHP-CS-Fixer to version 3.0.0
  .gitattributes
  .gitignore
  .gitlab/ci/package.gitlab-ci.yml
  .gitlab/ci/prepare.gitlab-ci.yml
  .gitlab/ci/test-php.gitlab-ci.yml
  .php-cs-fixer.dist.php
  composer.json
  composer.lock
Due: build:composer, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies and rebuild the assets
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm, npm

update one more Composer dependency
  composer.lock
  tests/composer.json
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the composer lint script after the PHP-CS-Fixer update
  composer.json
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the changelog
  CHANGELOG-5.x.md
Due: none

fix the ajax form complete callback
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/ajax-form.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
Due: build:npm, npm

bump the version to 5.17.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the PHPUnit configuration
  tests/phpunit.dist.xml
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit

bump the version to 5.17.2
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the obsolete "categories" entry from the module info fetching
  ACP3/Core/src/Modules/ModuleInfoCache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

automatically determine, whether a module is installable or not
  ACP3/Core/Resources/config/components/modules.yml
  ACP3/Core/Resources/config/module.xml
  ACP3/Core/src/Modules/ModuleInfoCache.php
  ACP3/Modules/ACP3/Articlesmenus/Resources/config/module.xml
  ACP3/Modules/ACP3/Articlessearch/Resources/config/module.xml
  ACP3/Modules/ACP3/Articlesseo/Resources/config/module.xml
  ACP3/Modules/ACP3/Articlesshare/Resources/config/module.xml
  ACP3/Modules/ACP3/Contactseo/Resources/config/module.xml
  ACP3/Modules/ACP3/Filesfeed/Resources/config/module.xml
  ACP3/Modules/ACP3/Filessearch/Resources/config/module.xml
  ACP3/Modules/ACP3/Filesseo/Resources/config/module.xml
  ACP3/Modules/ACP3/Filesshare/Resources/config/module.xml
  ACP3/Modules/ACP3/Galleryseo/Resources/config/module.xml
  ACP3/Modules/ACP3/Galleryshare/Resources/config/module.xml
  ACP3/Modules/ACP3/Installer/Resources/config/services_overrides.yml
  ACP3/Modules/ACP3/Installer/src/Core/Modules/ModuleInfoCache.php
  ACP3/Modules/ACP3/Newsfeed/Resources/config/module.xml
  ACP3/Modules/ACP3/Newssearch/Resources/config/module.xml
  ACP3/Modules/ACP3/Newsseo/Resources/config/module.xml
  ACP3/Modules/ACP3/Newsshare/Resources/config/module.xml
  ACP3/Modules/ACP3/Wysiwygckeditor/Resources/config/module.xml
  ACP3/Modules/ACP3/Wysiwygtinymce/Resources/config/module.xml
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the "protected" state from the ACP3 core module
  ACP3/Core/Resources/config/module.xml
Due: none

fix some typos
  ACP3/Modules/ACP3/Installer/src/Core/DependencyInjection/ServiceContainerBuilder.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

unify the ModuleInfoCache implementation
  ACP3/Core/src/Component/ComponentRegistry.php
  ACP3/Core/src/Modules/ModuleInfoCache.php
  ACP3/Modules/ACP3/Installer/Resources/config/services_overrides.yml
  ACP3/Modules/ACP3/Installer/Resources/i18n/de_DE.xml
  ACP3/Modules/ACP3/Installer/Resources/i18n/en_US.xml
  ACP3/Modules/ACP3/Installer/src/Core/Modules/ModuleInfoCache.php
  ACP3/Modules/ACP3/Installer/src/Model/SchemaUpdateModel.php
  ACP3/Modules/ACP3/Installer/src/Repository/AbstractStubRepository.php
  ACP3/Modules/ACP3/Installer/src/Repository/ModulesRepository.php
  ACP3/Modules/ACP3/Installer/src/Repository/SettingsRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix the installation
  ACP3/Modules/ACP3/Installer/src/Helpers/ModuleInstaller.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove some unused services from the DI container
  ACP3/Core/Resources/config/components/modules.yml
  ACP3/Core/src/Installer/SchemaRegistrar.php
  ACP3/Modules/ACP3/Installer/src/Helpers/Install.php
  ACP3/Modules/ACP3/Installer/src/Model/SchemaUpdateModel.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm, npm

run prettier
  build/gulp/bump-version.js
Due: none

regenerate the static assets
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  designs/acp3-installer/Assets/js/language-switcher.min.js
  designs/acp3-installer/Assets/js/language-switcher.min.js.map
Due: build:npm, npm

ignore the robots.txt
  .gitignore
Due: none

fix n+1 SQL queries when building the module info cache
  ACP3/Core/src/Model/Repository/ModuleAwareRepositoryInterface.php
  ACP3/Core/src/Modules/ModuleInfoCache.php
  ACP3/Modules/ACP3/Installer/src/Repository/ModulesRepository.php
  ACP3/Modules/ACP3/System/src/Model/Repository/ModulesRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a typo
  ACP3/Core/src/Database/Connection.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add some type hints
  ACP3/Modules/ACP3/Articles/src/Cache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

eliminate some direct usages of the CacheDriver
  ACP3/Core/src/Modules/AclInstaller.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/SettingsPost.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan
