Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/prepare.gitlab-ci.yml:

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci --no-progress
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "ACP3/**/*.{css,js,less,scss}"
      - "design/**/*.{css,js,less,scss}"
      - "installation/**/*.{css,js,less,scss}"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .prettierignore
      - .prettierrc.json
      - .stylelintignore
      - .stylelintrc
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml

test:php74-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:7.4
  coverage: ~

test:php80-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:8.0
  coverage: ~
  allow_failure: true

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php_cs.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php_cs.dist
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

fix the installer server_error page
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Error/ServerError.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

made the available databases action a little more robust against errors
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/AvailableDatabases.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fixed the getWrappedConnection() method after the doctrine DBAL update
  ACP3/Core/src/Database/Connection.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

allow to install the composer dependencies on PHP 8, too
  ACP3/Core/composer.json
  composer.json
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

treat 0 as a valid value for the IntegerColumnRenderer
  ACP3/Core/src/DataGrid/ColumnRenderer/IntegerColumnRenderer.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

do not allow to index the gallery picture details page, if the overlay has been enabled
  ACP3/Core/src/SEO/MetaStatementsService.php
  ACP3/Core/src/SEO/MetaStatementsServiceInterface.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/GalleryPictureDetailsViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

replace some magic variables
  ACP3/Modules/ACP3/Seo/src/Core/Pagination.php
  ACP3/Modules/ACP3/Seo/src/Extension/AbstractSitemapAvailabilityExtension.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  .prettierignore
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Close.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Documents.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Favorites.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Image.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Movie.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Music.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Net.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_ProgramFiles.png
  ACP3/Modules/ACP3/Filemanager/Resources/Assets/rich-filemanager/images/fileicons/_Works.png
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.min.js
  package-lock.json
  package.json
Due: build:npm, npm

regenerate the static assets
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js.map
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/js/frontend/index.index.min.js.map
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/partials/manage-menu-item.min.js.map
  ACP3/Modules/ACP3/Permissions/Resources/Assets/js/admin/resources.index.min.js.map
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/share_fields.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/admin/index.settings.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/add_tab.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/wysiwyg.min.js.map
  ACP3/Modules/ACP3/Wysiwygckeditor/Resources/Assets/js/partials/ckeditor.min.js.map
  ACP3/Modules/ACP3/Wysiwygtinymce/Resources/Assets/js/partials/tinymce.min.js.map
  designs/acp3-installer/Assets/js/language-switcher.min.js.map
  package.json
Due: build:npm, npm

fix a erroneous return type
  ACP3/Core/src/Model/Repository/FloodBarrierAwareRepositoryInterface.php
  ACP3/Modules/ACP3/Comments/src/Model/Repository/CommentRepository.php
  ACP3/Modules/ACP3/Guestbook/src/Model/Repository/GuestbookRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add the required attribute for the wysiwyg form-group partial
  ACP3/Core/src/WYSIWYG/Editor/AbstractWYSIWYG.php
  ACP3/Core/src/WYSIWYG/Editor/Textarea.php
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.wysiwyg.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/wysiwyg.tpl
  ACP3/Modules/ACP3/Wysiwygckeditor/src/WYSIWYG/Editor/CKEditor.php
  ACP3/Modules/ACP3/Wysiwygtinymce/src/WYSIWYG/Editor/TinyMCE.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

allow PHPStan to use unlimited memory
  composer.json
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the changelog
  CHANGELOG-5.x.md
Due: none

fix the links within the changelog
  CHANGELOG-5.x.md
Due: none

fix the release script
  CHANGELOG-5.x.md
  build/gulp/bump-version.js
Due: none

add the placeholder changelog entry for the next release after tagging the new release
  build/gulp/bump-version.js
Due: none

update the composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/Cookieconsent/Resources/Assets/js/klaro-no-css.js
  ACP3/Modules/ACP3/System/Resources/Assets/css/all.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.js
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-brands-400.eot
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-brands-400.svg
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-brands-400.ttf
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-brands-400.woff
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-brands-400.woff2
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-regular-400.eot
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-regular-400.svg
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-regular-400.ttf
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-regular-400.woff
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-regular-400.woff2
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-solid-900.eot
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-solid-900.svg
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-solid-900.ttf
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-solid-900.woff
  ACP3/Modules/ACP3/System/Resources/Assets/webfonts/fa-solid-900.woff2
  package-lock.json
  package.json
Due: build:npm, npm

replace some deprecated code
  ACP3/Core/src/DataGrid/Model/Repository/AbstractDataGridRepository.php
  ACP3/Modules/ACP3/Permissions/src/Model/Repository/RuleRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

apply some minor code cleanup and remove an obsolete service
  ACP3/Core/src/Cache/Purge.php
  ACP3/Core/src/Filesystem.php
  ACP3/Core/src/Helpers/Upload.php
  ACP3/Core/src/Picture/Picture.php
  ACP3/Modules/ACP3/Gallery/Resources/config/components/helpers.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/services.yml
  ACP3/Modules/ACP3/Gallery/src/Cache.php
  ACP3/Modules/ACP3/Gallery/src/Helpers.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

make it possible to use FontAwesome's SVG sprites
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_content-elements.scss
  ACP3/Modules/ACP3/System/Resources/Assets/sprites/brands.svg
  ACP3/Modules/ACP3/System/Resources/Assets/sprites/regular.svg
  ACP3/Modules/ACP3/System/Resources/Assets/sprites/solid.svg
  ACP3/Modules/ACP3/System/Resources/config/components/smarty_blocks.yml
  ACP3/Modules/ACP3/System/src/Core/View/Renderer/Smarty/Functions/FontAwesomeSvgIcon.php
  build/gulp/copy.js
  designs/acp3/Users/View/Widget/index.user_menu.tpl
Due: build:composer, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

extend the icon view helper with the possible to output only the icon path
  ACP3/Core/src/DataGrid/ColumnRenderer/RouteColumnRenderer.php
  ACP3/Core/src/DataGrid/ColumnRenderer/SortColumnRenderer.php
  ACP3/Core/src/Helpers/View/Icon.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/Icon.php
  ACP3/Modules/ACP3/Newsletter/src/DataGrid/ColumnRenderer/AccountStatusColumnRenderer.php
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/form-validator.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/loading-layer.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_content-elements.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_svg-icon.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/System/Resources/View/Partials/head.tpl
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
  designs/acp3/layout.tpl
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

improve the robustness of the code
  ACP3/Modules/ACP3/Share/src/Shariff/BackendFactory.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add the svg icons via a data attribute to the body tag for the icons used in javascript files
  ACP3/Core/Resources/config/components/smarty_filters.yml
  ACP3/Core/src/View/Renderer/Smarty/Filters/JsSvgIcons.php
  ACP3/Core/src/View/Renderer/Smarty/Filters/PageCssClasses.php
  ACP3/Modules/ACP3/Newsletter/tests/DataGrid/ColumnRenderer/AccountStatusColumnRendererTest.php
  ACP3/Modules/ACP3/Share/src/Shariff/BackendFactory.php
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/form-validator.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/loading-layer.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/View/Partials/head.tpl
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  package-lock.json
  package.json
Due: build:npm, npm

update the Composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/Cookieconsent/Resources/Assets/js/klaro-no-css.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm, npm

rework the rating stars to not depend on the font-awesome webfont anymore
  ACP3/Modules/ACP3/Share/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Share/Resources/Assets/scss/style.scss
  designs/acp3/Share/Assets/css/style.min.css
  designs/acp3/Share/Assets/scss/style.scss
Due: npm

Update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  package-lock.json
  package.json
Due: build:npm, npm

Update the Composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

Fix errors reported by PHPStan
  ACP3/Modules/ACP3/Seo/src/Console/HttpCacheWarmupCommand.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

simplify the styling of the rating stars once more
  ACP3/Modules/ACP3/Share/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.js
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Share/Resources/View/Partials/rating.tpl
Due: build:npm, npm

do not require fontawesome for the installer anymore
  designs/acp3-installer/info.xml
Due: none

fixed a smarty error for optional wysiwyg form fields
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.wysiwyg.tpl
Due: none
