Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

add gulp tasks to optimize and convert images, too
  build/gulp/helpers/component-paths.js
  build/gulp/png.js
  build/gulp/webp.js
  gulpfile.js
  package-lock.json
  package.json
Due: build:npm

leverage the introduced webp support via a "picture" partial template
  ACP3/Modules/ACP3/System/Resources/View/Partials/picture.tpl
  designs/acp3-installer/System/Resources/View/layout.tpl
  designs/acp3/System/Resources/View/layout.tpl
Due: none

let the bump-version gulp task also push the code changes + the created tag
  build/gulp/bump-version.js
Due: none

prepare the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.13.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

update the changelog
  CHANGELOG-6.x.md
Due: none

fix the pre-commit hook, when multiple PHP files have been changed
  composer.json
Due: build:composer

fix some more PHPStan level 7 errors
  ACP3/Core/src/Assets/Libraries.php
  ACP3/Core/src/Modules/ModuleInfo.php
  ACP3/Core/src/NestedSet/Operation/Insert.php
  ACP3/Core/src/Picture/Output.php
  ACP3/Core/src/Picture/Picture.php
  ACP3/Core/src/Picture/Strategy/GifPictureResizeStrategy.php
  ACP3/Core/src/Picture/Strategy/JpegPictureResizeStrategy.php
  ACP3/Core/src/Picture/Strategy/PngPictureResizeStrategy.php
  ACP3/Core/src/Picture/Strategy/WebpPictureResizeStrategy.php
Due: build:composer

update the npm dependencies
  package-lock.json
  package.json
Due: build:npm

update the composer dependencies
  composer.json
  composer.lock
Due: build:composer

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/bootstrap.bundle.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe-lightbox.umd.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe.umd.min.js
Due: build:npm

ESMify gulp + webpack
  build/gulp/bump-version.js
  build/gulp/bump-version.mjs
  build/gulp/clean.js
  build/gulp/clean.mjs
  build/gulp/copy-assets.js
  build/gulp/copy-assets.mjs
  build/gulp/eslint.js
  build/gulp/eslint.mjs
  build/gulp/helpers/component-paths.js
  build/gulp/helpers/component-paths.mjs
  build/gulp/png.js
  build/gulp/png.mjs
  build/gulp/scss.js
  build/gulp/scss.mjs
  build/gulp/stylelint.js
  build/gulp/stylelint.mjs
  build/gulp/version-npm-libraries.js
  build/gulp/version-npm-libraries.mjs
  build/gulp/watch.js
  build/gulp/watch.mjs
  build/gulp/webp.js
  build/gulp/webp.mjs
  build/gulp/webpack.js
  build/gulp/webpack.mjs
  gulpfile.js
  gulpfile.mjs
  package-lock.json
  package.json
  webpack.config.js
  webpack.config.mjs
Due: build:npm

update del and globby to their latest versions
  build/gulp/clean.mjs
  build/gulp/webpack.mjs
  package-lock.json
  package.json
  webpack.config.mjs
Due: build:npm

improve the typing for the gulp scripts
  build/gulp/bump-version.mjs
  build/gulp/clean.mjs
  build/gulp/copy-assets.mjs
  build/gulp/eslint.mjs
  build/gulp/helpers/component-paths.mjs
  build/gulp/png.mjs
  build/gulp/scss.mjs
  build/gulp/stylelint.mjs
  build/gulp/version-npm-libraries.mjs
  build/gulp/watch.mjs
  build/gulp/webp.mjs
  build/gulp/webpack.mjs
  webpack.config.mjs
Due: none

add an image for PHP 8.2 and test against PHP 8.2
  .gitlab/ci/test-php.gitlab-ci.yml
  build/docker/php/Dockerfile-8.2
Due: none

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.min.js
  package-lock.json
Due: build:npm

update the composer dependencies
  composer.lock
Due: build:composer

add a json_encode smarty modifier to fix a deprecation notice
  ACP3/Core/Resources/config/components/smarty_modifiers.yml
  ACP3/Core/src/View/Renderer/Smarty/Modifiers/JsonEncode.php
Due: build:composer

fix throwing the AfterModelSaveEvent itself
  ACP3/Core/src/Model/AbstractModel.php
Due: build:composer

apply some minor code reformattings
  ACP3/Modules/ACP3/Seo/src/EventListener/InsertUriAliasOnModelAfterSaveListener.php
Due: build:composer

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/dataTables.bootstrap5.css
  ACP3/Modules/ACP3/System/Resources/Assets/css/photoswipe.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/dataTables.bootstrap5.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/jquery.dataTables.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe-lightbox.umd.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe.umd.min.js
  package-lock.json
Due: build:npm

update the version-bump gulp script
  build/gulp/bump-version.mjs
Due: none

bump the version to 6.14.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newsletter/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

try to fix the CI-pipeline
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

bump the version to 6.14.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

indent *.mjs file with 2 spaces
  .editorconfig
  build/gulp/bump-version.mjs
  build/gulp/clean.mjs
  build/gulp/copy-assets.mjs
  build/gulp/eslint.mjs
  build/gulp/helpers/component-paths.mjs
  build/gulp/png.mjs
  build/gulp/scss.mjs
  build/gulp/stylelint.mjs
  build/gulp/version-npm-libraries.mjs
  build/gulp/watch.mjs
  build/gulp/webp.mjs
  build/gulp/webpack.mjs
  gulpfile.mjs
  webpack.config.mjs
Due: none

fix the self-referencing canonical URIs
  ACP3/Core/src/SEO/MetaStatementsService.php
  ACP3/Core/src/SEO/MetaStatementsServiceInterface.php
  ACP3/Core/tests/SEO/MetaStatementsServiceTest.php
  CHANGELOG-6.x.md
Due: build:composer

bump the version to 6.14.2
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm
