Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php-unit:
  image: registry.gitlab.com/acp3/php-docker:${PHP_VERSION}
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml
  parallel:
    matrix:
      - PHP_VERSION: "8.0"
      - PHP_VERSION: "8.1"

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php-cs-fixer.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php-cs-fixer.dist.php
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

use bootstrap's utility classes for styling the imprint
  ACP3/Modules/ACP3/Contact/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Contact/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Contact/Resources/View/Frontend/index.imprint.tpl
Due: none

remove some more obsolete CSS selectors
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_forms.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_page-break-link.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/System/Resources/View/Partials/wysiwyg.tpl
Due: none

do not render non-existing static assets
  ACP3/Core/src/Assets/Renderer/Strategies/CSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/ConcatCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/DeferrableCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/JavaScriptRendererStrategy.php
  ACP3/Core/test/Assets/Renderer/Strategies/CSSRendererStrategyTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

improve the cache-ability of the static assets
  ACP3/Core/src/Assets/AbstractIncludeAsset.php
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/src/Assets/Renderer/Strategies/CSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/DeferrableCSSRendererStrategy.php
  ACP3/Core/src/Assets/Renderer/Strategies/JavaScriptRendererStrategy.php
  ACP3/Core/src/View/Renderer/Smarty/Functions/Image.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

add a missing type declaration + fix a deprecation
  ACP3/Core/src/Assets/EventListener/StaticAssetsListener.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

add support for webp images
  ACP3/Core/src/Picture/Input.php
  ACP3/Core/src/Picture/Picture.php
  ACP3/Core/src/Validation/ValidationRules/PictureValidationRule.php
  build/docker/php/Dockerfile-8.1
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove some unnecessary default values
  ACP3/Core/src/Validation/ValidationRules/PictureValidationRule.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix inserting emoticons
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.js
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js.map
Due: build:npm

extract the picture into separate strategies
  ACP3/Core/src/Picture/Exception/CacheDirectoryCreationException.php
  ACP3/Core/src/Picture/Exception/UnsupportedPictureTypeException.php
  ACP3/Core/src/Picture/Input.php
  ACP3/Core/src/Picture/Output.php
  ACP3/Core/src/Picture/Picture.php
  ACP3/Core/src/Picture/Strategy/AbstractPictureResizeStrategy.php
  ACP3/Core/src/Picture/Strategy/GifPictureResizeStrategy.php
  ACP3/Core/src/Picture/Strategy/JpegPictureResizeStrategy.php
  ACP3/Core/src/Picture/Strategy/PictureResizeStrategyInterface.php
  ACP3/Core/src/Picture/Strategy/PngPictureResizeStrategy.php
  ACP3/Core/src/Picture/Strategy/WebpPictureResizeStrategy.php
  ACP3/Core/tests/Assets/Renderer/Strategies/CSSRendererStrategyTest.php
  ACP3/Core/tests/Picture/PictureTest.php
  ACP3/Core/tests/Picture/Strategy/GifPictureResizeStrategyTest.php
  ACP3/Core/tests/Picture/Strategy/JpegPictureResizeStrategyTest.php
  ACP3/Core/tests/Picture/Strategy/PngPictureResizeStrategyTest.php
  ACP3/Core/tests/Picture/Strategy/WebpPictureResizeStrategyTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

optimize the imports
  ACP3/Core/src/Picture/Picture.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove some more obsolete CSS selectors
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_forms.scss
Due: none

introduce webpack
  build/gulp/webpack.js
  gulpfile.js
  package-lock.json
  package.json
Due: build:npm

remove the babel.js file
  build/gulp/babel.js
  build/gulp/webpack.js
  gulpfile.js
Due: none

remove some now obsolete NPM packages
  package-lock.json
  package.json
Due: build:npm

replace the gulp-eslint package with gulp-eslint-new
  build/gulp/eslint.js
  package-lock.json
  package.json
Due: build:npm

remove the usage of babel from ESLint
  .eslintrc.json
Due: build:npm

use browserslist "defaults" setting
  package.json
Due: build:npm

gracefully handle the possibly not existing component-paths.json file
  build/gulp/component-paths.js
Due: none

add a service for creating/editing an emoticon
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/controllers.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Emoticons/src/Controller/Admin/Index/CreatePost.php
  ACP3/Modules/ACP3/Emoticons/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Emoticons/src/Services/EmoticonUpsertService.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

add a service for creating/editing galleries
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/CreatePost.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Gallery/src/Services/GalleryUpsertService.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

add a service for creating/editing gallery pictures
  ACP3/Modules/ACP3/Gallery/Resources/config/components/controllers.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/CreatePost.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/EditPost.php
  ACP3/Modules/ACP3/Gallery/src/Services/GalleryPictureUpsertService.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

rename some methods
  ACP3/Core/src/Assets/EventListener/StaticAssetsListener.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

force bootstrap not to bind to jQuery's event system, even if jQuery is present
  designs/acp3-installer/System/View/layout.tpl
  designs/acp3/System/View/layout.tpl
Due: none

extract the pager into a partial template
  ACP3/Modules/ACP3/Articles/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/System/Resources/View/Partials/pager.tpl
Due: none

slightly improve the table of contents default styling
  ACP3/Modules/ACP3/Articles/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_table-of-contents.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/System/Resources/View/Partials/toc.tpl
Due: none

remove the obsolete static modal's custom styling
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/System/Resources/View/Alerts/confirm_box.tpl
Due: none

move some template files around
  ACP3/Core/src/Helpers/Alerts.php
  ACP3/Modules/ACP3/System/Resources/View/layout.confirm_box.tpl
  ACP3/Modules/ACP3/System/Resources/View/layout.confirm_box_post.tpl
  ACP3/Modules/ACP3/System/Resources/View/layout.error_box.tpl
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

optimize the browserslist config + remove unused NPM packages
  .babelrc
  ACP3/Modules/ACP3/Captcha/Resources/Assets/js/partials/recaptcha.onload.min.js
  ACP3/Modules/ACP3/Captcha/Resources/Assets/js/partials/recaptcha.onload.min.js.map
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/js/partials/emoticons.min.js.map
  ACP3/Modules/ACP3/Files/Resources/Assets/js/admin/index.create.min.js
  ACP3/Modules/ACP3/Files/Resources/Assets/js/admin/index.create.min.js.map
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/partials/manage-menu-item.min.js
  ACP3/Modules/ACP3/Menus/Resources/Assets/js/partials/manage-menu-item.min.js.map
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js
  ACP3/Modules/ACP3/Seo/Resources/Assets/js/partials/suggest_alias.min.js.map
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js
  ACP3/Modules/ACP3/Share/Resources/Assets/js/partials/rating.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/css/bootstrap.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/daterangepicker.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/hash-change.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/hash-change.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  ACP3/Modules/ACP3/Wysiwygckeditor/Resources/Assets/js/partials/ckeditor.min.js
  ACP3/Modules/ACP3/Wysiwygckeditor/Resources/Assets/js/partials/ckeditor.min.js.map
  ACP3/Modules/ACP3/Wysiwygtinymce/Resources/Assets/js/partials/tinymce.min.js
  ACP3/Modules/ACP3/Wysiwygtinymce/Resources/Assets/js/partials/tinymce.min.js.map
  designs/acp3-installer/System/Assets/css/bootstrap.min.css
  designs/acp3-installer/System/Assets/js/bootstrap.bundle.min.js
  designs/acp3-installer/System/Assets/js/bootstrap.bundle.min.js.map
  designs/acp3-installer/System/Assets/js/language-switcher.min.js
  designs/acp3-installer/System/Assets/js/language-switcher.min.js.map
  designs/acp3/System/Assets/css/bootstrap.min.css
  package-lock.json
  package.json
Due: build:npm

ignore the versioned TinyMCE assets
  .eslintignore
  .prettierignore
  .stylelintignore
Due: build:npm

update the code style according to PHP-CS-Fixer 3.10.0
  ACP3/Modules/ACP3/Users/src/ViewProviders/UserListViewProvider.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix a typo
  build/gulp/component-paths.js
Due: none

reuse the confirm_box layout for the logout page
  ACP3/Modules/ACP3/Users/Resources/View/Frontend/index.logout.tpl
Due: none

replace some more custom styles with bootstrap utility classes
  ACP3/Modules/ACP3/System/Resources/Assets/scss/modules/_bootstrap-overrides.scss
  ACP3/Modules/ACP3/System/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Users/Resources/View/Widget/index.user_menu.tpl
Due: none

fix some file paths
  designs/acp3/Users/Resources/View/Widget/index.login.tpl
  designs/acp3/Users/Resources/View/Widget/index.user_menu.tpl
Due: none

save some IO when resolving the Smarty templates
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/src/Assets/FileResolver/TemplateFileCheckerStrategy.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

expect that static assets are only located within the uploads/assets dir
  ACP3/Core/src/Assets/FileResolver.php
  ACP3/Core/src/Assets/FileResolver/MinifiedAwareFileCheckerStrategy.php
  ACP3/Core/src/Assets/FileResolver/StraightFileCheckerStrategy.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan
