Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${COMPOSER_HOME}
    - vendor
  script:
  - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
    - vendor

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
    - ${npm_config_cache}
  before_script:
  - apk update && apk add --no-cache git
  script:
  - npm ci
  artifacts:
    paths:
    - node_modules

exclude menu item headlines from showing up in the breadcrumbs
  ACP3/Modules/ACP3/Menus/src/Core/Breadcrumb/Steps.php
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemRepository.php
Due: build:composer

update the composer dependencies
  ACP3/Core/src/I18n/Dictionary.php
  composer.json
  composer.lock
Due: build:composer

improve the npm ci command
  .gitlab/ci/prepare.gitlab-ci.yml
Due: none

update the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.19.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

close the menu dropdowns only when clicking outside
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
Due: build:composer

apply some minor UI/UX improvements related to dropdowns
  ACP3/Modules/ACP3/Categories/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Files/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/PictureDataGridViewProvider.php
  ACP3/Modules/ACP3/Menus/src/ViewProviders/MenuItemsDataGridViewProvider.php
  ACP3/Modules/ACP3/Menus/tests/Core/View/Renderer/Smarty/Functions/NavbarTest.php
  ACP3/Modules/ACP3/Permissions/Resources/View/Admin/resources.index.tpl
  ACP3/Modules/ACP3/Permissions/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/System/Resources/View/Partials/form_group.submit_split.tpl
  ACP3/Modules/ACP3/Users/Resources/View/Widget/index.user_menu.tpl
Due: build:composer

update PHPUnits cache directory
  .gitlab/ci/test-php.gitlab-ci.yml
Due: none

bump the version to 6.20.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Categories/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

bump the version to 6.20.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

update the composer dependencies
  composer.lock
Due: build:composer

update the NPM dependencies
  ACP3/Modules/ACP3/Share/Resources/Assets/css/shariff.min.css
  ACP3/Modules/ACP3/Share/Resources/Assets/js/shariff.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe-lightbox.umd.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/photoswipe.umd.min.js
  package-lock.json
  package.json
Due: build:npm

fix: Allow to export the SCSS files of the themes
  designs/acp3-installer/.gitattributes
  designs/acp3/.gitattributes
Due: none

fix: Fix building the JS assets when they are located within the vendor dir
  build/gulp/helpers/component-paths.mjs
  build/gulp/webpack.mjs
Due: none

bump the version to 6.20.2
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Share/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

feat: make it possible to name tabs
  ACP3/Core/src/Helpers/View/Dto/TabDto.php
  ACP3/Modules/ACP3/System/Resources/View/Partials/tabset.tpl
  ACP3/Modules/ACP3/System/src/Core/View/Renderer/Smarty/Blocks/Tab.php
Due: build:composer

chore: update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/css/dataTables.bootstrap5.css
  package-lock.json
  package.json
Due: build:npm

fix webpacks watch mode
  build/gulp/webpack.mjs
Due: none

fix: fix redirecting to the login form if user wants to access a protected area while not logged in
  ACP3/Core/src/View/Renderer/Smarty/Functions/LoadModule.php
  ACP3/Core/tests/View/Renderer/Smarty/Functions/LoadModuleTest.php
Due: build:composer

refactor: split the single package.json into multiple files
  ACP3/Modules/ACP3/Filemanager/package.json
  ACP3/Modules/ACP3/System/package.json
  ACP3/Modules/ACP3/Wysiwygckeditor/package.json
  ACP3/Modules/ACP3/Wysiwygtinymce/package.json
  package-base.json
Due: none

feat: add a CLI command which merges multiple package.json files into a single one
  ACP3/Core/src/Console/Command/MergePackageJsonCommand.php
  ACP3/Modules/ACP3/Filemanager/package.json
  ACP3/Modules/ACP3/System/package.json
  ACP3/Modules/ACP3/Wysiwygckeditor/package.json
  ACP3/Modules/ACP3/Wysiwygtinymce/package.json
  package-base.json
  package.json
Due: build:composer, build:npm

chore: Apply a further optimization to "gulp watch"
  build/gulp/webpack.mjs
  webpack.config.mjs
Due: none

chore: Update the changelog
  CHANGELOG-6.x.md
Due: none

docs: Fix a typo
  README.md
Due: none

bump the version to 6.21.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Filemanager/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Wysiwygckeditor/composer.json
  ACP3/Modules/ACP3/Wysiwygtinymce/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm

feat: Introduce a new class for centrally registering the route paths of various modules based on their repository definitions
  ACP3/Core/Resources/config/components/router.yml
  ACP3/Core/src/Router/RoutePathPatterns.php
Due: build:composer

feat: Make use of the new RoutePathPattern class
  ACP3/Modules/ACP3/Articles/registration.php
  ACP3/Modules/ACP3/Articles/src/ModuleRegistration.php
  ACP3/Modules/ACP3/Articlesseo/Resources/config/services.yml
  ACP3/Modules/ACP3/Articlesseo/src/EventListener/OnArticlesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Files/registration.php
  ACP3/Modules/ACP3/Files/src/ModuleRegistration.php
  ACP3/Modules/ACP3/Filesseo/Resources/config/services.yml
  ACP3/Modules/ACP3/Filesseo/src/EventListener/OnFilesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Gallery/registration.php
  ACP3/Modules/ACP3/Gallery/src/ModuleRegistration.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/GeneratePictureUriAliasOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/OnGalleryModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Galleryseo/src/EventListener/OnGalleryPictureModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Menus/src/Helpers/ManageMenuItem.php
  ACP3/Modules/ACP3/News/registration.php
  ACP3/Modules/ACP3/News/src/ModuleRegistration.php
  ACP3/Modules/ACP3/Newsseo/Resources/config/services.yml
  ACP3/Modules/ACP3/Seo/src/EventListener/OnModelDeleteAfterListener.php
Due: build:composer

refactor: Move the OnGalleryModelBeforeDeleteListener into the gallery module
  ACP3/Modules/ACP3/Gallery/src/EventListener/OnGalleryModelBeforeDeleteListener.php
Due: build:composer

refactor: Centralize deleting the social sharing information of database result sets
  ACP3/Modules/ACP3/Share/src/EventListener/OnModelDeleteAfterListener.php
Due: build:composer

Path conditions:
  build:composer: any of: **/*.php, composer.json, composer.lock, tests/phpunit.dist.xml, phpstan.neon.dist, .php_cs.dist, .gitlab-ci.yml
  build:npm: any of: ACP3/**/*.js, design/**/*.js, installation/**/*.js, package.json, package-lock.json, .eslintignore, .eslintrc.json, .gitlab-ci.yml
