Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/prepare.gitlab-ci.yml:

composer:
  image: composer:2
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

npm:
  image: node:lts-alpine
  stage: prepare
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci --no-progress
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "ACP3/**/*.{css,js,less,scss}"
      - "design/**/*.{css,js,less,scss}"
      - "installation/**/*.{css,js,less,scss}"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .prettierignore
      - .prettierrc.json
      - .stylelintignore
      - .stylelintrc
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php73-unit:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml

test:php74-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:7.4
  coverage: ~

test:php80-unit:
  extends: test:php73-unit
  image: registry.gitlab.com/acp3/php-docker:8.0
  coverage: ~
  allow_failure: true

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php_cs.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php_cs.dist
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:7.3
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

update the changelog
  CHANGELOG-5.x.md
Due: none

add a guard to prevent from a possible PHP warning if the authors section within the composer.json is missing
  ACP3/Core/src/Modules/ModuleInfoCache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.18.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add back the unzip package to the PHP docker container
  build/docker/php/Dockerfile-7.3
  build/docker/php/Dockerfile-7.4
  build/docker/php/Dockerfile-8.0
Due: none

add the missing deprecation info to the changelog
  CHANGELOG-5.x.md
Due: none

fix a TypeError when saving/editing an user
  ACP3/Core/src/Modules/Helper/Action.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix saving the ACL rules
  ACP3/Modules/ACP3/Permissions/src/Model/Repository/RuleRepository.php
  ACP3/Modules/ACP3/Permissions/src/Model/RulesModel.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

bump the version to 5.18.2
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Permissions/composer.json
  CHANGELOG-5.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, composer, npm, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

update the NPM dependencies
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/ajax-form.min.js.map
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/polyfill.min.js.map
  build/gulp/scss.js
  package-lock.json
  package.json
Due: build:npm, npm

update the composer dependencies
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the useless article cache
  ACP3/Modules/ACP3/Articles/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Articles/src/Cache.php
  ACP3/Modules/ACP3/Articles/src/EventListener/OnArticlesModelDeleteAfterListener.php
  ACP3/Modules/ACP3/Articles/src/EventListener/UpdateArticleCacheOnModelSaveAfterListener.php
  ACP3/Modules/ACP3/Articles/src/ViewProviders/ArticleFullViewProvider.php
  ACP3/Modules/ACP3/Articles/src/ViewProviders/ArticlePaginatedViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the useless categories cache
  ACP3/Modules/ACP3/Categories/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Categories/src/Cache.php
  ACP3/Modules/ACP3/Categories/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Categories/src/EventListener/UpdateCategoriesCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Categories/src/Helpers.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add some missing type hints
  ACP3/Modules/ACP3/Emoticons/src/Cache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the useless files/downloads cache
  ACP3/Modules/ACP3/Files/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Files/src/Cache.php
  ACP3/Modules/ACP3/Files/src/Controller/Frontend/Index/Download.php
  ACP3/Modules/ACP3/Files/src/EventListener/OnFilesModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Files/src/EventListener/UpdateFileCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Files/src/ViewProviders/FileDetailsViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

apply a minor code optimization to the gallery cache
  ACP3/Modules/ACP3/Gallery/src/Cache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

apply some minor code optimizations to the menus cache
  ACP3/Modules/ACP3/Menus/src/Cache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove the useless news cache
  ACP3/Modules/ACP3/News/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/News/src/Cache.php
  ACP3/Modules/ACP3/News/src/EventListener/OnNewsModelAfterDeleteListener.php
  ACP3/Modules/ACP3/News/src/EventListener/UpdateNewsCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/News/src/ViewProviders/NewsDetailsViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

apply some minor code optimizations to the permissions cache
  ACP3/Modules/ACP3/Permissions/src/Cache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add some missing type hints
  ACP3/Modules/ACP3/Seo/src/Cache.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the caching of the emoticons using a decorator approach
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Emoticons/Resources/config/services.yml
  ACP3/Modules/ACP3/Emoticons/src/Cache.php
  ACP3/Modules/ACP3/Emoticons/src/ContentDecorator/EmoticonsContentDecorator.php
  ACP3/Modules/ACP3/Emoticons/src/EventListener/OnEmoticonsModelAfterDeleteListener.php
  ACP3/Modules/ACP3/Emoticons/src/EventListener/OnWysiwygTextareaBeforeListener.php
  ACP3/Modules/ACP3/Emoticons/src/EventListener/RenderEmoticonsListListener.php
  ACP3/Modules/ACP3/Emoticons/src/EventListener/UpdateEmoticonsCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Emoticons/src/Helpers.php
  ACP3/Modules/ACP3/Emoticons/src/Services/CachingEmoticonService.php
  ACP3/Modules/ACP3/Emoticons/src/Services/EmoticonService.php
  ACP3/Modules/ACP3/Emoticons/src/Services/EmoticonServiceInterface.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

add some type hints
  ACP3/Modules/ACP3/Menus/src/Helpers/MenuItemsList.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the caching of the permissions using a decorator approach
  ACP3/Core/src/ACL.php
  ACP3/Core/src/ACL/PermissionCacheInterface.php
  ACP3/Core/src/ACL/PermissionServiceInterface.php
  ACP3/Core/tests/ACLTest.php
  ACP3/Modules/ACP3/Permissions/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/components/models.yml
  ACP3/Modules/ACP3/Permissions/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Permissions/src/EventListener/ClearPermissionCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Permissions/src/Model/RulesModel.php
  ACP3/Modules/ACP3/Permissions/src/Services/CachingPermissionService.php
  ACP3/Modules/ACP3/Permissions/src/Services/PermissionService.php
  ACP3/Modules/ACP3/Permissions/src/ViewProviders/AdminRoleEditViewProvider.php
  ACP3/Modules/ACP3/System/src/Controller/Admin/Extensions/Modules.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

remove an obsolete dependency
  ACP3/Modules/ACP3/Permissions/src/Helpers.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the caching of the language packs using a decorator approach
  ACP3/Core/Resources/config/components/language.yml
  ACP3/Core/src/I18n/CachingDictionary.php
  ACP3/Core/src/I18n/Dictionary.php
  ACP3/Core/src/I18n/DictionaryCacheInterface.php
  ACP3/Core/src/I18n/DictionaryInterface.php
  ACP3/Core/src/I18n/Translator.php
  ACP3/Modules/ACP3/System/src/Controller/Admin/Extensions/Modules.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the caching of the module information using a decorator approach
  ACP3/Core/Resources/config/components/modules.yml
  ACP3/Core/src/Modules.php
  ACP3/Core/src/Modules/CachingModuleInfo.php
  ACP3/Core/src/Modules/ModuleInfo.php
  ACP3/Core/src/Modules/ModuleInfoCacheInterface.php
  ACP3/Core/src/Modules/ModuleInfoInterface.php
  ACP3/Modules/ACP3/System/src/Controller/Admin/Extensions/Modules.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework clearing the various caches for the module listing controller action
  ACP3/Modules/ACP3/Permissions/src/EventListener/ClearPermissionCacheListener.php
  ACP3/Modules/ACP3/System/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/System/src/Controller/Admin/Extensions/Modules.php
  ACP3/Modules/ACP3/System/src/Event/RenewCacheEvent.php
  ACP3/Modules/ACP3/System/src/EventListener/RenewCachesListener.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

replace some deprecated method calls
  ACP3/Core/src/DataGrid/Model/Repository/AbstractDataGridRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

fix a possible JS error when there are no results within a datagrid
  ACP3/Modules/ACP3/System/Resources/Assets/js/lib/mass-action.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js
  ACP3/Modules/ACP3/System/Resources/Assets/js/partials/mass-action.min.js.map
Due: build:npm, npm

add some type annotations
  ACP3/Modules/ACP3/Seo/src/Core/SEO/MetaStatementsService.php
  ACP3/Modules/ACP3/Seo/src/Model/Repository/SeoRepository.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

removed the SEO information cache
  ACP3/Modules/ACP3/Seo/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Seo/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Seo/src/Cache.php
  ACP3/Modules/ACP3/Seo/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Seo/src/Core/Router/Aliases.php
  ACP3/Modules/ACP3/Seo/src/Core/SEO/MetaStatementsService.php
  ACP3/Modules/ACP3/Seo/src/EventListener/UpdateSeoCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Seo/src/Services/SeoInformationService.php
  ACP3/Modules/ACP3/Seo/tests/Core/Router/AliasesTest.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the caching of the gallery pictures using a decorator approach
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.pics.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Widget/index.pictures.tpl
  ACP3/Modules/ACP3/Gallery/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Gallery/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/Delete.php
  ACP3/Modules/ACP3/Gallery/src/EventListener/ClearGalleryPictureCacheListener.php
  ACP3/Modules/ACP3/Gallery/src/EventListener/PictureDeleteListener.php
  ACP3/Modules/ACP3/Gallery/src/EventListener/UpdatePictureCacheOnModelAfterSaveListener.php
  ACP3/Modules/ACP3/Gallery/src/Services/CachingGalleryService.php
  ACP3/Modules/ACP3/Gallery/src/Services/GalleryService.php
  ACP3/Modules/ACP3/Gallery/src/Services/GalleryServiceInterface.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/GalleryPictureListViewProvider.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/GalleryPictureListWidgetViewProvider.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rework the caching of the menus using a decorator approach
  ACP3/Modules/ACP3/Menus/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Menus/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Menus/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
  ACP3/Modules/ACP3/Menus/src/EventListener/ClearMenusCacheListener.php
  ACP3/Modules/ACP3/Menus/src/EventListener/OnMenusModelBeforeDeleteListener.php
  ACP3/Modules/ACP3/Menus/src/Helpers/MenuItemsList.php
  ACP3/Modules/ACP3/Menus/src/Services/CachingMenuService.php
  ACP3/Modules/ACP3/Menus/src/Services/MenuService.php
  ACP3/Modules/ACP3/Menus/src/Services/MenuServiceInterface.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

deprecate the AbstractCacheStorage class
  ACP3/Core/src/Modules/AbstractCacheStorage.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

rename a property and correct a type hint
  ACP3/Core/src/Cache.php
  ACP3/Core/src/Modules/CachingModuleInfo.php
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan

introduce the usage of a PSR-6 complaint caching library
  ACP3/Core/Resources/config/components/cache.yml
  ACP3/Core/composer.json
  ACP3/Core/src/Cache.php
  ACP3/Core/src/Cache/CacheDriverFactory.php
  ACP3/Core/src/Cache/DependencyInjection/RegisterCacheItemPoolsPass.php
  ACP3/Core/src/Cache/EventListener/CommitCacheListener.php
  ACP3/Core/src/Cache/Psr6CacheItemPoolFactory.php
  ACP3/Core/src/DependencyInjection/ServiceContainerBuilder.php
  ACP3/Modules/ACP3/Menus/Resources/config/components/cache.yml
  ACP3/Modules/ACP3/Menus/Resources/config/components/event_listeners.yml
  ACP3/Modules/ACP3/Menus/Resources/config/components/services.yml
  ACP3/Modules/ACP3/Menus/Resources/config/services.yml
  ACP3/Modules/ACP3/Menus/src/EventListener/ClearMenusCacheListener.php
  ACP3/Modules/ACP3/Menus/src/Services/CachingMenuService.php
  composer.lock
Due: build:composer, composer, test:php73-unit, test:php74-unit, test:php80-unit, test:php-cs-fixer, test:phpstan
