Repository ACP3/cms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

.gitlab/ci/build.gitlab-ci.yml:

build:composer:
  image: composer:1
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${COMPOSER_HOME}
      - vendor
  script:
    - composer install -n --prefer-dist --ignore-platform-reqs
  artifacts:
    paths:
      - vendor
  only:
    changes:
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - phpstan.neon.dist
      - .php_cs.dist
      - .gitlab-ci.yml

build:npm:
  image: node:lts-alpine
  stage: build
  cache:
    key: $CI_JOB_NAME
    paths:
      - ${npm_config_cache}
  before_script:
    - apk update && apk add --no-cache git
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules
  only:
    changes:
      - "ACP3/**/*.js"
      - "design/**/*.js"
      - "installation/**/*.js"
      - package.json
      - package-lock.json
      - .eslintignore
      - .eslintrc.json
      - .gitlab-ci.yml

.gitlab/ci/test-php.gitlab-ci.yml:

test:php-unit:
  image: registry.gitlab.com/acp3/php-docker:${PHP_VERSION}
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - tests/.phpunit.result.cache
  script:
    - phpdbg -qrr ./vendor/bin/phpunit -c ./tests/phpunit.dist.xml --coverage-text --colors=never --log-junit junit-report.xml
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  needs:
    - composer
  artifacts:
    paths:
      - junit-report.xml
    reports:
      junit: junit-report.xml
    when: always
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - tests/phpunit.dist.xml
      - .gitlab-ci.yml
  parallel:
    matrix:
      - PHP_VERSION: "8.0"
      - PHP_VERSION: "8.1"

test:php-cs-fixer:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .php-cs-fixer.cache
  script:
    - composer run-script lint
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - .php-cs-fixer.dist.php
      - .gitlab-ci.yml

test:phpstan:
  image: registry.gitlab.com/acp3/php-docker:8.0
  stage: test
  cache:
    key: $CI_JOB_NAME
    paths:
      - .phpstan-cache
  script:
    - php -d memory_limit=-1 vendor/bin/phpstan analyse --no-progress
  needs:
    - composer
  only:
    changes:
      - ".gitlab/ci/*.yml"
      - "**/*.php"
      - composer.json
      - composer.lock
      - phpstan.neon.dist
      - .gitlab-ci.yml

"un-box" the default layout of the news and files detail pages + improve the font-size of the subtitles
  ACP3/Modules/ACP3/Articles/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.pics.tpl
  ACP3/Modules/ACP3/News/Resources/View/Frontend/index.details.tpl
Due: none

slightly improve the styling of the subtitles
  ACP3/Modules/ACP3/Articles/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Files/Resources/View/Frontend/index.details.tpl
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.pics.tpl
  ACP3/Modules/ACP3/News/Resources/View/Frontend/index.details.tpl
Due: none

enable the full wysiwyg editor when creating/editing a download
  ACP3/Modules/ACP3/Files/Resources/View/Admin/index.create.tpl
Due: none

replace some magic numbers with enums
  ACP3/Core/src/Helpers/Enum/LinkTargetEnum.php
  ACP3/Core/src/Helpers/Enum/YesNoEnum.php
  ACP3/Core/src/Helpers/Forms.php
  ACP3/Modules/ACP3/Articles/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Articles/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Cookieconsent/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Files/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Files/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Filescomments/src/EventListener/OnFilesValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Gallery/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Gallerycomments/src/EventListener/OnGalleryValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Guestbook/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Guestbook/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Guestbooknewsletter/src/EventListener/OnGuestbookValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Menus/src/EventListener/ValidateMenuItemFormFieldsListener.php
  ACP3/Modules/ACP3/Menus/src/Validation/MenuItemFormValidation.php
  ACP3/Modules/ACP3/News/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/News/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/News/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Newscomments/src/EventListener/OnNewsValidationAdminSettingsEventListener.php
  ACP3/Modules/ACP3/Newsletter/src/Enum/NewsletterSendingStatusEnum.php
  ACP3/Modules/ACP3/Newsletter/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Share/src/EventListener/ValidateSharingInfoOnValidationInfo.php
  ACP3/Modules/ACP3/Share/src/ViewProviders/DataGridViewProvider.php
  ACP3/Modules/ACP3/System/src/Validation/AdminSettingsFormValidation.php
  ACP3/Modules/ACP3/Users/src/Validation/AbstractUserFormValidation.php
  ACP3/Modules/ACP3/Users/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Users/src/Validation/AdminSettingsFormValidation.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove an unnecessary DB migration
  ACP3/Modules/ACP3/Files/src/Migration/Migration20220819233801.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

update the changelog
  CHANGELOG-6.x.md
Due: none

bump the version to 6.5.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Cookieconsent/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Filescomments/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Gallerycomments/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Guestbooknewsletter/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Newscomments/composer.json
  ACP3/Modules/ACP3/Newsletter/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/System/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

fix a critical bug when editing a menu item
  ACP3/Modules/ACP3/Menus/src/Controller/Admin/Items/AbstractFormAction.php
  ACP3/Modules/ACP3/Menus/src/Controller/Admin/Items/CreatePost.php
  ACP3/Modules/ACP3/Menus/src/Controller/Admin/Items/EditPost.php
  ACP3/Modules/ACP3/Menus/src/Services/MenuItemUpsertService.php
  ACP3/Modules/ACP3/Menus/src/Validation/ValidationRules/AllowedMenuValidationRule.php
  ACP3/Modules/ACP3/Menus/src/Validation/ValidationRules/LinkModeValidationRule.php
  ACP3/Modules/ACP3/Menus/src/Validation/ValidationRules/ParentIdValidationRule.php
  ACP3/Modules/ACP3/Menus/tests/Services/MenuItemUpsertServiceTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix the bug, that the parent-menu-item-form-field was mandatory
  ACP3/Modules/ACP3/Menus/Resources/View/Partials/menu_item_fields.tpl
  ACP3/Modules/ACP3/Menus/src/Validation/ValidationRules/ParentIdValidationRule.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.5.1
  ACP3/Core/src/Application/BootstrapInterface.php
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

use the PageTypeEnum some more
  ACP3/Modules/ACP3/Menus/src/ViewProviders/AdminMenuItemEditViewProvider.php
  ACP3/Modules/ACP3/Menus/src/ViewProviders/MenuItemsDataGridViewProvider.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

apply some minor code optimizations to the MenuService
  ACP3/Modules/ACP3/Menus/src/Services/MenuService.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

make the AdminFormValidation class within the articles module immutable
  ACP3/Modules/ACP3/Articles/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Articles/src/Validation/AdminFormValidation.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

avoid an unnecessary SQL query
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemRepository.php
  ACP3/Modules/ACP3/Menus/src/Services/MenuService.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

cover the MenuItemsList class with unit tests + simplify the code a bit
  ACP3/Modules/ACP3/Menus/src/Helpers/MenuItemsList.php
  ACP3/Modules/ACP3/Menus/tests/Helpers/MenuItemsListTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

remove some obsolete code from the MenuService
  ACP3/Modules/ACP3/Menus/src/Services/MenuService.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

apply some minor code optimizations
  ACP3/Modules/ACP3/Menus/src/Helpers/MenuItemsList.php
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemDataGridRepository.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

use a SQL-only approach for calculating the first and last items in a nested set
  ACP3/Core/src/DataGrid/ColumnRenderer/NestedSetSortColumnRenderer.php
  ACP3/Modules/ACP3/Categories/src/Repository/DataGridRepository.php
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemDataGridRepository.php
  ACP3/Modules/ACP3/Permissions/src/Repository/AclRolesDataGridRepository.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix an error when trying to change the sort order of a nested set item
  ACP3/Core/src/NestedSet/Repository/NestedSetRepository.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

make all the *FormValidation classes immutable
  ACP3/Modules/ACP3/Categories/src/Controller/Admin/Index/CreatePost.php
  ACP3/Modules/ACP3/Categories/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Categories/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Comments/src/Controller/Frontend/Index/CreatePost.php
  ACP3/Modules/ACP3/Comments/src/Validation/FormValidation.php
  ACP3/Modules/ACP3/Emoticons/src/Controller/Admin/Index/CreatePost.php
  ACP3/Modules/ACP3/Emoticons/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Emoticons/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Files/src/Controller/Admin/Index/CreatePost.php
  ACP3/Modules/ACP3/Files/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Files/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/CreatePost.php
  ACP3/Modules/ACP3/Gallery/src/Controller/Admin/Pictures/EditPost.php
  ACP3/Modules/ACP3/Gallery/src/Validation/GalleryFormValidation.php
  ACP3/Modules/ACP3/Gallery/src/Validation/PictureFormValidation.php
  ACP3/Modules/ACP3/Guestbook/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Guestbook/src/Controller/Frontend/Index/CreatePost.php
  ACP3/Modules/ACP3/Guestbook/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Guestbook/src/Validation/FormValidation.php
  ACP3/Modules/ACP3/Installer/src/Controller/Installer/Index/InstallPost.php
  ACP3/Modules/ACP3/Installer/src/Validation/FormValidation.php
  ACP3/Modules/ACP3/Menus/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Menus/src/Validation/MenuFormValidation.php
  ACP3/Modules/ACP3/News/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/News/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Permissions/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Permissions/src/Validation/RoleFormValidation.php
  ACP3/Modules/ACP3/Polls/src/Controller/Frontend/Index/VotePost.php
  ACP3/Modules/ACP3/Polls/src/Validation/VoteValidation.php
  ACP3/Modules/ACP3/Seo/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Seo/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Share/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Share/src/Validation/AdminFormValidation.php
  ACP3/Modules/ACP3/Users/src/Controller/Admin/Index/EditPost.php
  ACP3/Modules/ACP3/Users/src/Controller/Frontend/Account/EditPost.php
  ACP3/Modules/ACP3/Users/src/Validation/AccountFormValidation.php
  ACP3/Modules/ACP3/Users/src/Validation/AdminFormValidation.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

move a test into the correct namespace
  ACP3/Modules/ACP3/Articles/tests/Validation/ValidationRules/ArticleExistsValidationRuleTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

apply some more optimizations + modernizations to the menus modules
  ACP3/Modules/ACP3/Menus/src/EventListener/ManageMenuItemOnModelSaveAfterListener.php
  ACP3/Modules/ACP3/Menus/src/EventListener/RenderMenuItemManagementFormFieldsListener.php
  ACP3/Modules/ACP3/Menus/src/Helpers/ManageMenuItem.php
  ACP3/Modules/ACP3/Menus/src/Model/MenuItemsModel.php
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemRepository.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

cover the Navbar class with a unit
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/Navbar.php
  ACP3/Modules/ACP3/Menus/src/Core/View/Renderer/Smarty/Functions/NavbarTest.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

fix the incorrectly displayed navbar when there is a hidden menu item with visible sub-items
  ACP3/Modules/ACP3/Menus/src/Repository/MenuItemRepository.php
Due: build:composer, test:php-unit, test:php-cs-fixer, test:phpstan

bump the version to 6.6.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/Articles/composer.json
  ACP3/Modules/ACP3/Categories/composer.json
  ACP3/Modules/ACP3/Comments/composer.json
  ACP3/Modules/ACP3/Emoticons/composer.json
  ACP3/Modules/ACP3/Files/composer.json
  ACP3/Modules/ACP3/Gallery/composer.json
  ACP3/Modules/ACP3/Guestbook/composer.json
  ACP3/Modules/ACP3/Installer/composer.json
  ACP3/Modules/ACP3/Menus/composer.json
  ACP3/Modules/ACP3/News/composer.json
  ACP3/Modules/ACP3/Permissions/composer.json
  ACP3/Modules/ACP3/Polls/composer.json
  ACP3/Modules/ACP3/Seo/composer.json
  ACP3/Modules/ACP3/Share/composer.json
  ACP3/Modules/ACP3/Users/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

fix and update the changelog
  CHANGELOG-6.x.md
Due: none

fix a typo
  CHANGELOG-6.x.md
Due: none

bump the version to 6.7.0
  ACP3/Core/src/Application/BootstrapInterface.php
  ACP3/Modules/ACP3/System/composer.json
  CHANGELOG-6.x.md
  package-lock.json
  package.json
Due: build:composer, build:npm, test:php-unit, test:php-cs-fixer, test:phpstan

remove some obsolete stylesheet files
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Emoticons/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Emoticons/Resources/View/Partials/emoticons.tpl
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Guestbook/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Installer/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Installer/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Installer/Resources/View/Installer/index.licence.tpl
  designs/acp3-installer/System/Assets/css/layout.min.css
  designs/acp3-installer/System/Assets/scss/layout.scss
  designs/acp3-installer/System/View/layout.tpl
  designs/acp3/System/Assets/css/layout.min.css
  designs/acp3/System/Assets/scss/components/_variables.scss
  designs/acp3/System/Assets/scss/layout.scss
  designs/acp3/System/View/layout.tpl
Due: none

make the loading-indicator CSS deferable
  ACP3/Modules/ACP3/System/Resources/config/components/assets.yml
Due: none

use bootstrap's utility classes for styling the gallery pictures
  ACP3/Modules/ACP3/Gallery/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Gallery/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Gallery/Resources/View/Frontend/index.details.tpl
Due: none

use bootstrap's utility classes for styling the native captcha
  ACP3/Modules/ACP3/Captcha/Resources/Assets/css/style.min.css
  ACP3/Modules/ACP3/Captcha/Resources/Assets/scss/style.scss
  ACP3/Modules/ACP3/Captcha/Resources/View/Partials/captcha_native.tpl
Due: none
